# Bayanat
FLASK_APP=run.py
# must be always set to 0 in production deployments
FLASK_DEBUG=0

# should leave as default
POSTGRES_DB=bayanat

# Uncomment the following lines if you're deploying with Docker
# or need to supply these information, e.g. postgres or redis are
# installed on a separate host or require authentication.
# Otherwise you can leave commented.

# should leave as default
# POSTGRES_USER= 
# generate secure password and setup psql accordinngly 
# POSTGRES_PASSWORD= 
# use postgres for docker, otherwise add ip/domain name
# POSTGRES_HOST= 
# same as above, redis for docker, or ip/domain name
# REDIS_HOST= 
# generate secure password and setup redis accordinngly 
# REDIS_PASSWORD= 
# REDIS_AOF_ENABLED=no 
# MEDIA_PATH= # use to point to 

# Secrets
# generate using 'openssl rand -base64 32'
SECRET_KEY='' 
# generate using 'openssl rand -base64 32'
SECURITY_PASSWORD_SALT='' 

# 2FA
# generate using 'openssl rand -base64 32'
SECURITY_TOTP_SECRETS=''
SECURITY_TWO_FACTOR=True
SECURITY_TWO_FACTOR_RESCUE_MAIL=''
SECURITY_TWO_FACTOR_AUTHENTICATOR_VALIDITY=90

# Secure cookies
# Requires SSL to work properly
# Should be set to true in prod envs
# Can be switched off in dev envs
SECURE_COOKIES=True

TESSERACT_CMD="/opt/homebrew/bin/tesseract"
