*.pyc
.webassets-cache
.idea
celerybeat-schedule
env
local_settings.py
node_modules/
.DS_Store
.sass-cache
flask_session
.vscode 
.mypy_cache/
.history
celerybeat-schedule.db
.env
exports.env
enferno/media/*
*.log
*.csv
*.xls
*.xlsx
.aws
.env*
Pipfile

# Ignore scripts in `./bin/` except the entrypoint file as the Docker Compose build uses them
bin/*
!bin/*-entry.sh
