*.pyc
.webassets-cache
.idea
celerybeat-schedule
env
local_settings.py
node_modules/
.DS_Store
.sass-cache
flask_session
.vscode 
.mypy_cache/
.history
celerybeat-schedule.db
.env
enferno/media/*
*.log
*.csv
*.xls
*.xlsx
