version: '3'

services:
  postgres:
    container_name: postgres
    image: 'postgis/postgis:15-3.3'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - 'postgres_data:/var/lib/postgresql/data:rw'
    expose:
      - '5432'
    read_only: true
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /var/run/postgresql
    healthcheck:
      test: "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"
      interval: 3s
      retries: 10

  redis:
    container_name: redis
    image: 'redis:latest'
    expose:
      - '6379'
    command: redis-server --requirepass '${REDIS_PASSWORD}'
    read_only: true
    security_opt:
      - no-new-privileges:true
    volumes:
      - 'redis_data:/var/lib/redis/data:rw'
    healthcheck:
      test: [ "CMD", "redis-cli", "--no-auth-warning", "-a", "${REDIS_PASSWORD}", "ping" ]
      interval: 3s
      retries: 10

  bayanat:
    container_name: bayanat
    image: 'bayanat/bayanat:latest'
    build:
      context: .
      dockerfile: ./flask/Dockerfile
      args:
        - ROLE=flask
        - ENV_FILE=${ENV_FILE:-.env}
    volumes:
      - '${MEDIA_PATH:-./enferno/media}:/app/enferno/media:rw'
      - './enferno/imports:/app/enferno/imports:rw'
      - './logs:/app/logs:rw'
      - '${PWD}/config.json:/app/config.json:rw'
      - '${PWD}/reload.ini:/app/reload.ini:rw'
      - '${PWD}/${ENV_FILE:-.env}:/app/.env:ro'
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    read_only: true
    tmpfs:
      - /tmp
    security_opt:
      - no-new-privileges:true
    expose:
      - '5000'

  celery:
    container_name: celery
    image: celery
    build:
      context: .
      dockerfile: ./flask/Dockerfile
      args:
        - ROLE=celery
        - ENV_FILE=${ENV_FILE:-.env}
    volumes_from:
      - bayanat
    read_only: true
    tmpfs:
      - /tmp
    security_opt:
      - no-new-privileges:true
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  nginx:
    container_name: nginx
    restart: always
    image: nginx
    build:
      context: ./nginx
    ports:
      - '80:80'
    volumes:
      - './enferno/static/:/app/static/:ro'
    depends_on:
      - bayanat
    read_only: true
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /opt/bitnami/nginx/tmp/
      - /opt/bitnami/nginx/conf/bitnami/certs/
    healthcheck:
      test: [ "CMD", "service", "nginx", "status" ]
      interval: 3s
      retries: 10

volumes:
  redis_data:
  postgres_data:
