<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ actor.name }}</title>
    <link rel="stylesheet" href="{{ config.BASE_URL }}static/css/pdf.css">
</head>
<body>

<div class="container">
    <header>
        <img id="logo" src="{{ config.BASE_URL }}static/img/bayanat-h-v2.png" alt="">
        <div>
            <div class="id">
                Actor {{ actor.id }}
            </div>
            <p class="meta">

                Publish Date: {{ actor.publish_date.strftime('%Y-%m-%d %H:%M') if actor.publish_date else '' }} <br>
                Documentation Date: {{ actor.documentation_date if actor.documentation_date else '' }}
            </p>
        </div>
    </header>


    <section>

        <dl class="hero">

            <div>
                <dt>Origin ID</dt>
                <dd>{{ actor.originid }}</dd>
            </div>
            <div>
                <dt>Source Link</dt>
                <dd>{{ actor.source_link }}</dd>
            </div>
        </dl>

    </section>
    <section>
        <article class="two-col">
            <div>
                <dt>Name</dt>
                <dd>{{ actor.name }}</dd>
            </div>

            <div>
                <dt>Name (ar)</dt>
                <dd>{{ actor.name_ar }}</dd>
            </div>
        </article>

        <article class="two-col">
            <div>
                <dt>Nickname</dt>
                <dd>{{ actor.nickname }}</dd>
            </div>

            <div>
                <dt>Nickname (ar)</dt>
                <dd>{{ actor.nickname_ar }}</dd>
            </div>
        </article>

        <article class="two-col">
            <div>
                <dt>First Name</dt>
                <dd>{{ actor.first_name }}</dd>
            </div>

            <div>
                <dt>First Name (ar)</dt>
                <dd>{{ actor.first_name_ar }}</dd>
            </div>
        </article>

        <article class="two-col">
            <div>
                <dt>Middle Name</dt>
                <dd>{{ actor.middle_name }}</dd>
            </div>

            <div>
                <dt>Middle Name (ar)</dt>
                <dd>{{ actor.middle_name_ar }}</dd>
            </div>
        </article>

        <article class="two-col">
            <div>
                <dt>Last Name</dt>
                <dd>{{ actor.last_name }}</dd>
            </div>

            <div>
                <dt>Last Name (ar)</dt>
                <dd>{{ actor.last_name_ar }}</dd>
            </div>
        </article>


        <article class="two-col">
            <div>
                <dt>Sex</dt>
                <dd>{{ actor.sex }}</dd>
            </div>

            <div>
                <dt>Minor/Adult</dt>
                <dd>{{ actor.age }}</dd>
            </div>
        </article>

        <article class="two-col">
            <div>
                <dt>Civilian/Non Civilian</dt>
                <dd>{{ actor.civilian }}</dd>
            </div>

            <div>
                <dt>Actor Type</dt>
                <dd>{{ actor.actor_type }}</dd>
            </div>
        </article>

        <article class="two-col">
            <div>
                <dt>Date of Birth</dt>
                <dd>{{ actor.birth_date }}</dd>
            </div>

            <div>
                <dt>Place of Birth</dt>
                <dd>{{ actor.birth_place.title if actor.birth_place else '-' }} </dd>
            </div>
        </article>


        <article class="two-col">
            <div>
                <dt>Place of Residence</dt>
                <dd>{{ actor.residence_place.title if actor.residence_place else '-' }}</dd>
            </div>

            <div>
                <dt>Place of Origin</dt>
                <dd>{{ actor.birth_place.title if actor.birth_place else '-' }} </dd>
            </div>
        </article>

        <article class="two-col">
            <div>
                <dt>Occupation</dt>
                <dd>{{ actor.occupation }}</dd>
            </div>

            <div>
                <dt>Occupation (ar)</dt>
                <dd>{{ actor.occupation_ar }} </dd>
            </div>
        </article>

        <article class="two-col">
            <div>
                <dt>Position</dt>
                <dd>{{ actor.position }}</dd>
            </div>

            <div>
                <dt>Position (ar)</dt>
                <dd>{{ actor.position_ar }} </dd>
            </div>
        </article>

        <article class="two-col">
            <div>
                <dt>Dialects</dt>
                <dd>{{ actor.dialects }}</dd>
            </div>

            <div>
                <dt>Dialects (ar)</dt>
                <dd>{{ actor.dialects_ar }} </dd>
            </div>
        </article>

        <article class="two-col">
            <div>
                <dt>Family Status</dt>
                <dd>{{ actor.family_status }}</dd>
            </div>

            <div>
                <dt>Family Status (ar)</dt>
                <dd>{{ actor.family_status_ar }} </dd>
            </div>
        </article>


        <article class="two-col">
            <div>
                <dt>Ethnographic Information</dt>
                <p>
                {% if actor.ethnography %}
                    {% for e in actor.ethnography %}
                        <span class="tag">{{ e }}</span>
                    {% endfor %}
                {% endif %}
                </p>
            </div>

            <div>
                <dt>Nationalities</dt>
                  <p>
                  {% if actor.nationality %}
                    {% for e in actor.nationality %}
                        <span class="tag">{{ e }}</span>
                    {% endfor %}
                  {% endif %}
                </p>
            </div>
        </article>
    <article>
        <div>
            <dt>National ID Number</dt>
            <dd>{{ actor.national_id_card }}</dd>
        </div>
    </article>


    </section>
    <section>
        <h4>Description</h4>
        <div class="description">
            {{ actor.description|safe }}
        </div>
    </section>

    <section>
        <h4>Labels</h4>
        {% for label in actor.labels %}
            <span class="tag">{{ label.title }}</span>
        {% endfor %}
    </section>

    <section>
        <h4>Verified Labels</h4>
        {% for label in actor.ver_labels %}
            <span class="tag">{{ label.title }}</span>
        {% endfor %}
    </section>

    <section>
        <h4>Sources</h4>
        {% for source in actor.sources %}
            <span class="tag">{{ source.title }}</span>
        {% endfor %}
    </section>


    <section>
        <h4>Locations</h4>
        {% for location in actor.locations %}
            <span class="tag">{{ location.title }}</span>
        {% endfor %}
    </section>

    <section class="events">
        <h4>Events</h4>
        {% for event in actor.events %}
            <table class="no-break">
                <tr>
                    <th>Event Title</th>
                    <th colspan="2">Event Comments</th>
                </tr>
                <tr>
                    <td>{{ event.title }}</td>
                    <td colspan="2">{{ event.comment }}</td>
                </tr>

                <tr>
                    <th colspan="2">Event Location</th>
                    <th>Event Type</th>
                </tr>
                <tr>
                    <td colspan="2">{{ event.location.title }}</td>
                    <td>{{ event.eventtype.title }}</td>
                </tr>

                <tr>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Estimated?</th>
                </tr>
                <tr>
                    <td>{{ event.from_date.strftime('%Y-%m-%d %H:%M') if event.from_date else '' }}</td>
                    <td>{{ event.to_date.strftime('%Y-%m-%d %H:%M') if  event.to_date else '' }}</td>
                    <td>{{ event.estimated }}</td>
                </tr>

            </table>
        {% endfor %}
    </section>


    <section class="related">
        <h4>Related Bulletins</h4>
        <article>
            {% for rel in actor.bulletin_relations_dict %}
                <table class="no-break">
                    <tr>
                        <th>ID</th>
                        <th colspan="2">Title</th>

                    </tr>
                    <tr>
                        <td>{{ rel.bulletin.id }}</td>
                        <td colspan="2">{{ rel.bulletin.title }}</td>
                    </tr>
                    {#                <tr>#}
                    {#                    <th>Related as</th>#}
                    {#                    <th>Probability</th>#}
                    {#                    <th>Comment</th>#}
                    {#                </tr>#}
                    {#                <tr>#}
                    {#                    <td>{{ rel.related_as }}</td>#}
                    {#                    <td>{{ rel.probability }}</td>#}
                    {#                    <td>{{ rel.comment }}</td>#}
                    {#                </tr>#}

                </table>
            {% endfor %}
        </article>
    </section>


    <section class="related">
        <h4>Related Actors</h4>
        <article>
            {% for rel in actor.actor_relations_dict %}
                <table class="no-break">
                    <tr>
                        <th>ID</th>
                        <th colspan="2">Name</th>

                    </tr>
                    <tr>
                        <td>{{ rel.actor.id }}</td>
                        <td colspan="2">{{ rel.actor.name }}</td>
                    </tr>
                    {#                <tr>#}
                    {#                    <th>Related as</th>#}
                    {#                    <th>Probability</th>#}
                    {#                    <th>Comment</th>#}
                    {#                </tr>#}
                    {#                <tr>#}
                    {#                    <td>{{ rel.related_as }}</td>#}
                    {#                    <td>{{ rel.probability }}</td>#}
                    {#                    <td>{{ rel.comment }}</td>#}
                    {#                </tr>#}

                </table>
            {% endfor %}
        </article>
    </section>


    <section class="related">
        <h4>Related Incidents</h4>
        <article>
            {% for rel in actor.incident_relations_dict %}
                <table class="no-break">
                    <tr>
                        <th>ID</th>
                        <th colspan="2">Title</th>

                    </tr>
                    <tr>
                        <td>{{ rel.incident.id }}</td>
                        <td colspan="2">{{ rel.incident.title }}</td>
                    </tr>
                    {#                <tr>#}
                    {#                    <th>Related as</th>#}
                    {#                    <th>Probability</th>#}
                    {#                    <th>Comment</th>#}
                    {#                </tr>#}
                    {#                <tr>#}
                    {#                    <td>{{ rel.related_as }}</td>#}
                    {#                    <td>{{ rel.probability }}</td>#}
                    {#                    <td>{{ rel.comment }}</td>#}
                    {#                </tr>#}

                </table>
            {% endfor %}
        </article>
    </section>


    <section class="medias">
        <h4>Medias</h4>
        <article>

            <table class="no-break">
                <tr>
                    <th>ID</th>
                    <th>Media File</th>
                    <th>Type</th>

                </tr>
                {% for media in actor.medias %}
                    <tr>
                        <td>{{ media.id }}</td>
                        <td>{{ media.media_file }}</td>
                        <td>{{ media.media_file_type }}</td>
                    </tr>
                {% endfor %}


            </table>

        </article>
    </section>
</div>


</body>
</html>
