{% extends 'layout.html' %} {% block css %} {% endblock %} {% block content %}

<!-- Field Creation Modal -->
<select-field-type-dialog :model-value="ui.selectFieldTypeDialog" @update:model-value="closeDrawer" @create="saveField"
  :item="form.editedItem" entity-type="bulletin"></select-field-type-dialog>
<confirm-dialog ref="reviewAndConfirmDialog">
  <div class="mb-4">{{ _('Please review your updates before applying them to the form.') }}</div>
  <v-data-table hide-default-footer :items="changes.table" :headers="[
      { title: `{{ _('Field Name') }}`, value: 'title' },
      { title: `{{ _('Change Type') }}`, value: 'type' },
    ]"
  >
    <template #[`item.type`]="{ item }">
      <span v-if="item.key === 'create'" class="text-green">${item.type}</span>
      <span v-if="item.key === 'update'" class="text-orange">${item.type}</span>
      <span v-if="item.key === 'delete'" class="text-red">${item.type}</span>
    </template>
  </v-data-table>
</confirm-dialog>
<confirm-dialog ref="revertConfirmDialog">
  <template #title>
    {{ _('Are you sure you want to revert to this version?') }}
  </template>
  <template #default="{ data }">
    <div class="mb-4">{{ _('Version settings changed by') }} <b>@${data.snapshot?.user?.username}</b> - ${formatDate(data.snapshot?.created_at, dateFormats.standardDatetime, dateOptions.local)}.</div>
    <show-details show-more-text="{{ _('Show detailed changes') }}" show-less-text="{{ _('Collapse') }}">
      <v-sheet border color="background" class="change-item pa-2 my-1 d-flex flex-column ga-4 overflow-auto w-100" max-height="471px">
        <v-data-table class="mb-4 bg-transparent" density="compact" hide-default-footer :items="buildChangesTable(computeSnapshotChanges({ ok: 2, previousFields: formBuilder.dynamicFields || [], currentFields: data?.snapshot?.fields_snapshot }))" :headers="[
            { title: `{{ _('Field Name') }}`, value: 'title' },
            { title: `{{ _('Change Type') }}`, value: 'type' },
          ]"
        >
          <template #[`item.title`]="{ item }">
            <span class="text-caption">${item.title}</span>
          </template>
          <template #[`item.type`]="{ item }">
            <span v-if="item.key === 'create'" class="text-caption text-green">${item.type}</span>
            <span v-if="item.key === 'update'" class="text-caption text-orange">${item.type}</span>
            <span v-if="item.key === 'delete'" class="text-caption text-red">${item.type}</span>
          </template>
        </v-data-table>
      </v-sheet>
    </show-details>
  </template>
</confirm-dialog>
<!-- Revision history sidebar -->
<v-navigation-drawer
  v-model="formBuilder.showRevisions"
  location="right"
  temporary
  width="630"
  clipped
>
    <v-card flat>
        <v-card-title class="pa-6">{{ _('Revision history') }}</v-card-title>
        <v-card-text class="px-6">
            <v-timeline v-if="formBuilder.historyState.items?.length" density="compact" side="end" align="start">
                <v-timeline-item v-for="(item, index) in formBuilder.historyState.items" :key="item.id" dot-color="primary" size="10">
                    <div class="mt-n1">
                        <div>
                            <div><b>${item.user.username}</b> {{ _('updated the settings') }} <b v-if="index === 0">{{ _('(Latest)') }}</b> <span class="text-muted"> - ${formatDate(item.created_at, dateFormats.standardDatetime, dateOptions.local)}</span></div>
                            <show-details show-more-text="{{ _('Show detailed changes') }}" show-less-text="{{ _('Collapse') }}">
                              <v-sheet border color="background" class="change-item pa-2 my-1 d-flex flex-column ga-4 overflow-auto w-100" max-height="471px">
                                <v-data-table class="mb-4 bg-transparent" density="compact" hide-default-footer :items="buildChangesTable(computeSnapshotChanges({ previousFields: formBuilder.historyState.items?.[index + 1]?.fields_snapshot || [], currentFields: item.fields_snapshot }))" :headers="[
                                    { title: `{{ _('Field Name') }}`, value: 'title' },
                                    { title: `{{ _('Change Type') }}`, value: 'type' },
                                  ]"
                                >
                                  <template #[`item.title`]="{ item }">
                                    <span class="text-caption">${item.title}</span>
                                  </template>
                                  <template #[`item.type`]="{ item }">
                                    <span v-if="item.key === 'create'" class="text-caption text-green">${item.type}</span>
                                    <span v-if="item.key === 'update'" class="text-caption text-orange">${item.type}</span>
                                    <span v-if="item.key === 'delete'" class="text-caption text-red">${item.type}</span>
                                  </template>
                                </v-data-table>
                              </v-sheet>
                            </show-details>
                            <v-btn v-if="index !== 0" variant="outlined" class="outlined-btn mt-3" density="comfortable" @click.stop="showRevertDialog(item)">{{ _('Revert to this version') }}</v-btn>
                        </div>
                    </div>
                </v-timeline-item>
            </v-timeline>
            <v-container v-else height="130px" class="font-italic text-medium-emphasis d-flex justify-center align-center">
              {{ _("No revision history yet") }}
            </v-container>
        </v-card-text>
    </v-card>
</v-navigation-drawer>

<v-main>
  <div class="pa-4">
    <v-card>
      <v-card-text class="d-flex justify-space-between ga-12 pt-6">
        <div class="text-h6 text-no-wrap">{{ _('Bulletin Fields Configuration') }}
        </div>
      
        <v-text-field density="compact" class="flex-grow-1" placeholder="{{ _('Search') }}" prepend-inner-icon="mdi-magnify"
          hide-details v-model="ui.search" clearable></v-text-field>
      
        <div class="d-flex ga-4 align-center">
          <v-btn
            class="outlined-btn"
            prepend-icon="mdi-history"
            variant="outlined"
            @click="openRevisionHistoryDrawer({ entityType: 'bulletin' })"
          >
            {{ _('Revision history') }}
          </v-btn>
          <v-btn :disabled="!hasChanges" variant="outlined" color="primary" prepend-icon="mdi-history" @click="discardChanges">{{
            _('Discard Changes') }}</v-btn>
          <v-btn @click="showSaveDialog({ entityType: 'bulletin' })" prepend-icon="mdi-check" variant="outlined" :loading="ui.saving"
          :disabled="!hasChanges">{{ _('Save Changes') }}</v-btn>
          <v-btn @click="ui.selectFieldTypeDialog = true" prepend-icon="mdi-plus" variant="flat" color="primary">{{
                _('Add New') }}</v-btn>
        </div>
      </v-card-text>

      <div class="d-flex">
        <div class="ml-1">
          <v-card class="h-fit ma-3 flex-shrink-0 rounded-10 border border-opacity-25">
            <v-card-text class="text-no-wrap font-weight-medium text-h6 text-medium-emphasis py-6 px-5">{{ _('Media') }}</v-card-text>
          </v-card>
        </div>
        <v-divider vertical></v-divider>
        <v-card variant="flat" class="ml-3 w-100">
          <v-card-text class="d-flex flex-column ga-4 overflow-y-scroll pt-0 px-0" style="height: calc(100vh - 176px);">
            <v-container v-if="formBuilder.loading && !formBuilder.dynamicFields.length" height="130px" class="d-flex justify-center align-center">
              <v-progress-circular indeterminate ></v-progress-circular>
            </v-container>
            
            <div class="d-flex justify-center w-100"></div>

            <div ref="mainList" class="form-grid">
              <div v-for="(field, index) in filteredMovableDynamicFields" :key="field.id" class="sortable-item" :data-id="field.id" :class="[this.fieldClass(field) ,{
                  'drop-line': dragDrop.dropLine.id == field.id,
                  [dragDrop.dropLine.cls]: dragDrop.dropLine.id == field.id
                }]">
                <field-list-item :field="field" :hide-drag-handle="Boolean(ui.search)"
                  @toggle-visibility="toggleFieldVisibility" @delete="deleteField" :dragging="Boolean(dragDrop.draggingId)" />
              </div>
            </div>
            <div class="form-grid">
              <div v-for="(field, index) in filteredFixedDynamicFields" :key="field.id" :class="[this.fieldClass(field)]">
                <field-list-item :field="field" hide-drag-handle @toggle-visibility="toggleFieldVisibility" />
              </div>
            </div>
            <v-container height="130px" class="font-italic text-medium-emphasis d-flex justify-center align-center" v-if="!filteredDynamicFields.length && !formBuilder.loading && !ui.search">
              {{ _("No fields yet. Start by creating your first field to get started!") }}
            </v-container>
            <v-container height="130px" class="font-italic text-medium-emphasis d-flex justify-center align-center" v-if="!filteredDynamicFields.length && !formBuilder.loading && ui.search">
              {{ _("We couldn't find any fields for that search. Try another keyword.") }}
            </v-container>

          </v-card-text>
        </v-card>
      </div>
    </v-card>
  </div>
</v-main>

{% endblock %} {% block outside %} {% endblock %} {% block js %}
<script src="/static/js/Sortable.min.js"></script>
<script src="/static/js/vuedraggable.umd.js"></script>

<script src="/static/js/mixins/form-builder-mixin.js"></script>
<script src="/static/js/components/FieldListItem.js"></script>
<script src="/static/js/components/SelectFieldTypeDialog.js"></script>
<script src="/static/js/components/ShowDetails.js"></script>

<script>
  const { createApp } = Vue;
  const { createVuetify } = Vuetify;
  const vuetify = createVuetify(vuetifyConfig);

  const app = createApp({
    delimiters: delimiters,
    mixins: [globalMixin, formBuilderMixin],
    data: () => ({
      drawer,
    }),
    async mounted() {
      await this.fetchDynamicFields({ entityType: 'bulletin' });

      this.initSortable(this.$refs.mainList);
    },
  });

  app.component('FieldListItem', FieldListItem);
  app.component('SelectFieldTypeDialog', SelectFieldTypeDialog);
  app.component('Draggable', vuedraggable);
  app.component('ShowDetails', ShowDetails);

  app.use(router);
  app.use(vuetify).mount('#app');

  window.app = app;
</script>
{% endblock %}