{% extends 'layout.html' %}
{% block content %}

<v-main style="overflow: scroll;">
    <div class="my-6 mx-5">
        <h1 class="text-h6">{{ _('Component Data Management') }}</h1>

        <v-container fluid>
            <v-row>
                <v-col cols="12" sm="12" md="4" lg="3" class="px-0">
                    <v-card border flat rounded class="py-5">
                        <v-tabs height="40" v-model="selectedParentTab" direction="vertical">
                            <v-tab class="px-7" value="location" class="justify-start text-none text-subtitle-2">
                                {{ _('Location') }}
                            </v-tab>
                            <v-tab class="px-7" value="countries-and-languages" class="justify-start text-none text-subtitle-2">
                                {{ _('Countries and Languages') }}
                            </v-tab>
                            <v-tab class="px-7" value="relations" class="justify-start text-none text-subtitle-2">
                                {{ _('Relations') }}
                            </v-tab>
                            <v-tab class="px-7" value="media-categories" class="justify-start text-none text-subtitle-2">
                                {{ _('Media Categories') }}
                            </v-tab>
                            <v-tab class="px-7" value="geo-location" class="justify-start text-none text-subtitle-2">
                                {{ _('Geo Location') }}
                            </v-tab>
                            <v-tab class="px-7" value="violation-categories" class="justify-start text-none text-subtitle-2">
                                {{ _('Violation Categories') }}
                            </v-tab>
                        </v-tabs>
                    </v-card>
                </v-col>

                <v-col cols="12" sm="12" md="8" lg="9">
                    <v-card border flat rounded>
                        <v-window v-model="selectedParentTab">
                            <v-window-item value="location">
                                <v-tabs height="64" v-model="locationTab">
                                    <v-tab class="px-7" value="administrative-levels">
                                        {{ _('Administrative Levels') }}
                                    </v-tab>
                                    <v-tab class="px-7" value="location-types">
                                        {{ _('Location Types') }}
                                    </v-tab>
                                </v-tabs>
                                <v-divider></v-divider>
    
                                <v-window v-model="locationTab">
                                    <v-window-item value="administrative-levels">
                                        <editable-table ref="locationAdminLevelsTable" title="{{ _('Location Administrative Levels') }}"
                                            :item-headers="alHeaders" :editable-columns="['title']"
                                            :no-delete-action-ids="noDeleteIdsForLocationAdminLevels"
                                            delete-endpoint="/admin/api/location-admin-level" save-endpoint="/admin/api/location-admin-level"
                                            load-endpoint="/admin/api/location-admin-levels/?per_page=1000"
                                            @items-updated="onLocationAdminLevelsUpdated">
                                        </editable-table>
                                        <v-divider class="my-4"></v-divider>
                                        <!-- Add toolbar template -->
                                        <v-card flat class="pa-5">
                                            <h3 class="text-subtitle-1 mb-2">{{ _('Full Location Text Format') }}</h3>
                                            <div class="text-caption" style="max-width: 716px;">{{ _('These settings control how the full location text of each Location is
                                                formatted and generated from its title and its parents. You can customize this order to match the
                                                address system of the country you\'re working on.') }}</div>
                                            <draggable v-model="lalChips" :item-key="'id'" class="d-flex flex-wrap ga-2 mt-4 mb-8" @end="onDragEnd">
                                                <template #item="{element}">
                                                    <v-chip border variant="text">
                                                        <v-icon left small>mdi-drag</v-icon>
                                                        <span v-text="element.title"></span>
                                                    </v-chip>
                                                </template>
                                            </draggable>
                                            
                                            <div class="d-flex align-center ga-5 mt-4">
                                                <template v-if="isOrderChanged">
                                                    <v-btn color="secondary" @click="revertOrder"
                                                        prepend-icon="mdi-undo">
                                                        {{ _('Revert Changes') }}
                                                    </v-btn>
                                                    <v-btn color="primary" prepend-icon="mdi-check"
                                                        @click="reorderLocationAdminLevels">
                                                        {{ _('Save Order') }}
                                                    </v-btn>
                                                </template>
                                                <v-btn color="warning" prepend-icon="mdi-refresh"
                                                    @click="regenerateLocations">
                                                    {{ _('Regenerate') }}
                                                </v-btn>
                                                <div class="text-caption" style="max-width: 400px;">
                                                    {{ _('You can change the option to include postal codes in format of the full location text in the system settings.') }}
                                                </div>
                                            </div>
                                            <div>
                                                <v-card class="pa-2 mt-5 mb-3" color="info" v-if="showLalWarning">
                                                    <v-card-text>
                                                        <v-icon>mdi-information</v-icon>
                                                        {{ _('You must Re-generate Full Location Texts for the new format to take effect.') }}
                                                    </v-card-text>
                                                </v-card>
                                            </div>
                                        </v-card>
                                    </v-window-item>
                                    
                                    <v-window-item value="location-types">
                                        <editable-table title="{{ _('Location Types') }}" :item-headers="ltHeaders" :no-action-ids="[1,2]"
                                            delete-endpoint="/admin/api/location-type" save-endpoint="/admin/api/location-type"
                                            load-endpoint="/admin/api/location-types/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                </v-window>
                            </v-window-item>
    
                            <v-window-item value="countries-and-languages">
                                <v-tabs height="64" v-model="countriesTab">
                                    <v-tab class="px-7" value="countries">
                                        {{ _('Countries') }}
                                    </v-tab>
                                    <v-tab class="px-7" value="ethnographic-info">
                                        {{ _('Ethnographic Information') }}
                                    </v-tab>
                                    <v-tab class="px-7" value="dialects">
                                        {{ _('Dialects') }}
                                    </v-tab>
                                </v-tabs>
                                <v-divider></v-divider>
                                
                                <v-window v-model="countriesTab">
                                    <v-window-item value="countries">
                                        <editable-table title="{{ _('Countries') }}" :item-headers="countryHeaders"
                                            :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/country"
                                            save-endpoint="/admin/api/country" load-endpoint="/admin/api/countries/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                    
                                    <v-window-item value="ethnographic-info">
                                        <editable-table title="{{ _('Ethnographic Information') }}" :item-headers="ethnoHeaders"
                                            :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/ethnography"
                                            save-endpoint="/admin/api/ethnography" load-endpoint="/admin/api/ethnographies/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                    
                                    <v-window-item value="dialects">
                                        <editable-table title="{{ _('Dialects') }}" :item-headers="dialectHeaders"
                                            :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/dialect"
                                            save-endpoint="/admin/api/dialect" load-endpoint="/admin/api/dialects/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                </v-window>
                            </v-window-item>
    
                            <v-window-item value="relations">
                                <v-tabs height="64" v-model="relationsTab">
                                    <v-tab class="px-7" value="actor-to-actor">
                                        {{ _('Actor to Actor') }}
                                    </v-tab>
                                    <v-tab class="px-7" value="actor-to-bulletin">
                                        {{ _('Actor to Bulletin') }}
                                    </v-tab>
                                    <v-tab class="px-7" value="bulletin-to-bulletin">
                                        {{ _('Bulletin to Bulletin') }}
                                    </v-tab>
                                    <v-tab class="px-7" value="incident-to-bulletin">
                                        {{ _('Incident to Bulletin') }}
                                    </v-tab>
                                    <v-tab class="px-7" value="incident-to-actor">
                                        {{ _('Incident to Actor') }}
                                    </v-tab>
                                    <v-tab class="px-7" value="incident-to-incident">
                                        {{ _('Incident to Incident') }}
                                    </v-tab>
                                </v-tabs>
                                <v-divider></v-divider>

                                <v-window v-model="relationsTab">
                                    <v-window-item value="actor-to-actor">
                                        <editable-table title="{{ _('Actor to Actor Relations') }}" :item-headers="revRelationHeaders"
                                            :editable-columns="['title','title_tr', 'reverse_title', 'reverse_title_tr']"
                                            delete-endpoint="/admin/api/atoainfo" save-endpoint="/admin/api/atoainfo"
                                            load-endpoint="/admin/api/atoainfos/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                    
                                    <v-window-item value="actor-to-bulletin">
                                        <editable-table title="{{ _('Actor to Bulletin Relations') }}" :item-headers="relationHeaders"
                                            :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/atobinfo"
                                            save-endpoint="/admin/api/atobinfo" load-endpoint="/admin/api/atobinfos/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                    
                                    <v-window-item value="bulletin-to-bulletin">
                                        <editable-table title="{{ _('Bulletin to Bulletin Relations') }}" :item-headers="relationHeaders"
                                            :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/btobinfo"
                                            save-endpoint="/admin/api/btobinfo" load-endpoint="/admin/api/btobinfos/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                    
                                    <v-window-item value="incident-to-bulletin">
                                        <editable-table title="{{ _('Incident to Bulletin Relations') }}" :item-headers="relationHeaders"
                                            :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/itobinfo"
                                            save-endpoint="/admin/api/itobinfo" load-endpoint="/admin/api/itobinfos/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                    
                                    <v-window-item value="incident-to-actor">
                                        <editable-table title="{{ _('Incident to Actor Relations') }}" :item-headers="relationHeaders"
                                            :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/itoainfo"
                                            save-endpoint="/admin/api/itoainfo" load-endpoint="/admin/api/itoainfos/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                    
                                    <v-window-item value="incident-to-incident">
                                        <editable-table title="{{ _('Incident to Incident Relations') }}" :item-headers="relationHeaders"
                                            :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/itoiinfo"
                                            save-endpoint="/admin/api/itoiinfo" load-endpoint="/admin/api/itoiinfos/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                </v-window>
                            </v-window-item>
                            <v-window-item value="media-categories">
                                <editable-table title="{{ _('Media Categories') }}" :item-headers="mediaHeaders"
                                    :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/mediacategory"
                                    save-endpoint="/admin/api/mediacategory" load-endpoint="/admin/api/mediacategories/?per_page=1000">
                                </editable-table>
                            </v-window-item>
                            <v-window-item value="geo-location">
                                <editable-table title="{{ _('Geo Location Types') }}" :item-headers="geoHeaders"
                                    :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/geolocationtype"
                                    save-endpoint="/admin/api/geolocationtype" load-endpoint="/admin/api/geolocationtypes/?per_page=1000">
                                </editable-table>
                            </v-window-item>
                            <v-window-item value="violation-categories">
                                <v-tabs height="64" v-model="violationsTab">
                                    <v-tab class="px-7" value="potential-violation">
                                        {{ _('Potential Violation') }}
                                    </v-tab>
                                    <v-tab class="px-7" value="claimed-violation">
                                        {{ _('Claimed Violation') }}
                                    </v-tab>
                                </v-tabs>
                                <v-divider></v-divider>

                                <v-window v-model="violationsTab">
                                    <v-window-item value="potential-violation">
                                        <editable-table title="{{ _('Potential Violation Categories') }}" :item-headers="potentialHeaders"
                                            :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/potentialviolation"
                                            save-endpoint="/admin/api/potentialviolation"
                                            load-endpoint="/admin/api/potentialviolation/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                    
                                    <v-window-item value="claimed-violation">
                                        <editable-table title="{{ _('Claimed Violation Categories') }}" :item-headers="claimedHeaders"
                                            :editable-columns="['title','title_tr']" delete-endpoint="/admin/api/claimedviolation"
                                            save-endpoint="/admin/api/claimedviolation" load-endpoint="/admin/api/claimedviolation/?per_page=1000">
                                        </editable-table>
                                    </v-window-item>
                                </v-window>
                            </v-window-item>
                        </v-window>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</v-main>

{% endblock %} {% block js %}


    {% if config.GOOGLE_MAPS_API_KEY %}
        {{ '
<script src="https://maps.googleapis.com/maps/api/js?key='|safe + config.GOOGLE_MAPS_API_KEY + '" async
        defer></script>'|safe }}

    {% endif %}
    <script src="/static/js/Leaflet.GoogleMutant.js"></script>
    <script src="/static/js/components/EditableTable.js"></script>
    <script src="/static/js/Sortable.min.js"></script>
    <script src="/static/js/vuedraggable.umd.js"></script>

    <script>
        window.__GOOGLE_MAPS_API_KEY__ = '{{ config.GOOGLE_MAPS_API_KEY }}';

        const draggable = vuedraggable;
        const {createApp} = Vue;
        const {createVuetify} = Vuetify;
        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({
            delimiters: delimiters,
            mixins: [globalMixin],
            
            components: {
                EditableTable
            },
            data: () => ({
                translations: window.translations,
                itemsPerPageOptions: window.itemsPerPageOptions,
                drawer: drawer,
                selectedParentTab: null,
                locationTab: null,
                countriesTab: null,
                relationsTab: null,
                violationsTab: null,
                alHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Code')}}", value: "code"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},

                ],

                ltHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},
                ],

                countryHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},
                ],

                ethnoHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},
                ],

                dialectHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},
                ],

                relationHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},
                ],
                revRelationHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Reverse Title')}}", value: "reverse_title"},
                    {title: "{{_('Reverse Title (tr)')}}", value: "reverse_title_tr"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},
                ],

                mediaHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},
                ],
                geoHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},
                ],

                potentialHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},
                ],

                claimedHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions", align: "end"},
                ],

                noDeleteIdsForLocationAdminLevels: [],
                locationAdminLevels: [],
                lalChips: [],
                showLalWarning: false,
                cachedOrder: [],
            }),

            watch: {
                locationAdminLevels: {
                    handler(items) {
                        this.updateLalChips(items);
                        this.updateCachedOrder();
                    },
                    deep: true
                },
            },

            computed: {
                isOrderChanged() {
                    return JSON.stringify(this.cachedOrder) !== JSON.stringify(this.lalChips.map(chip => chip.id));
                }
            },

            methods: {
                onDragEnd() {
                    if (this.isOrderChanged) {
                        this.showLalWarning = true;
                    }
                },
                revertOrder() {
                    this.lalChips = this.cachedOrder.map(id => this.locationAdminLevels.find(item => item.id === id));
                },
                updateCachedOrder() {
                    this.cachedOrder = this.lalChips.map(chip => chip.id);
                },
                onLocationAdminLevelsUpdated(items) {
                    this.locationAdminLevels = items;
                    this.updateNoActionIdsForLocationAdminLevels(items);
                },
                updateNoActionIdsForLocationAdminLevels(items) {
                    const maxCode = Math.max(...items.map(item => item.code));
                    this.noDeleteIdsForLocationAdminLevels = items.filter(item => item.code !== maxCode).map(item => item.id);
                },
                updateLalChips(items) {
                    this.lalChips = items.map(item => ({id: item.id, title: item.title, display_order: item.display_order})).sort((a, b) => a.display_order - b.display_order);
                },
                reorderLocationAdminLevels() {
                    axios.post("/admin/api/location-admin-levels/reorder", {order: this.lalChips.map(chip => chip.id)}).then(response => {
                        if(response.status === 200) {
                            this.updateCachedOrder();
                            this.showLalWarning = true;
                            this.$root.showSnack("Order updated");
                        }
                    });
                },
                regenerateLocations() {
                    axios.post("/admin/api/location/regenerate/").then(response => {
                        this.$root.showSnack(response.data);
                        this.showLalWarning = false;
                    });
                }
            }
        });
        app.component('draggable', draggable);
        app.use(vuetify).mount('#app');
    </script>
{% endblock %}

