{% extends 'layout.html' %}
{% block content %}

<v-main>
    <v-card class="ma-5 pa-2">
        <v-card-title>
            <div class="flex-grow-1">{{ _('Component Data Management') }}</div>
        </v-card-title>

        <v-container fluid>
            <v-row>

                <v-col cols="3">
                    <v-tabs v-model="selectedTab" direction="vertical">
                        <v-tab value="location-admin-levels" class="justify-start">
                            {{ _('Location Administrative Levels') }}
                        </v-tab>
                        <v-tab value="location-types" class="justify-start">
                            {{ _('Location Types') }}
                        </v-tab>
                        <v-tab value="countries" class="justify-start">
                            {{ _('Countries') }}
                        </v-tab>
                        <v-tab value="ethnographic-info" class="justify-start">
                            {{ _('Ethnographic Information') }}
                        </v-tab>
                        <v-tab value="dialects" class="justify-start">
                            {{ _('Dialects') }}
                        </v-tab>
                        <v-tab value="actor-actor-relations" class="justify-start">
                            {{ _('Actor to Actor Relations') }}
                        </v-tab>
                        <v-tab value="actor-bulletin-relations" class="justify-start">
                            {{ _('Actor to Bulletin Relations') }}
                        </v-tab>
                        <v-tab value="bulletin-bulletin-relations" class="justify-start">
                            {{ _('Bulletin to Bulletin Relations') }}
                        </v-tab>
                        <v-tab value="incident-bulletin-relations" class="justify-start">
                            {{ _('Incident to Bulletin Relations') }}
                        </v-tab>
                        <v-tab value="incident-actor-relations" class="justify-start">
                            {{ _('Incident to Actor Relations') }}
                        </v-tab>
                        <v-tab value="incident-incident-relations" class="justify-start">
                            {{ _('Incident to Incident Relations') }}
                        </v-tab>
                        <v-tab value="media-categories" class="justify-start">
                            {{ _('Media Categories') }}
                        </v-tab>
                        <v-tab value="geo-location-types" class="justify-start">
                            {{ _('Geo Location Types') }}
                        </v-tab>
                    </v-tabs>
                </v-col>

                <v-col>
                    <v-window v-model="selectedTab">

                        <v-window-item value="location-admin-levels" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Location Administrative Levels') }}"
                                                    :item-headers="alHeaders"
                                                    :allow-add="false"
                                                    save-endpoint="/admin/api/location-admin-level"
                                                    load-endpoint="/admin/api/location-admin-levels/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="location-types" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Location Types') }}" :item-headers="ltHeaders"
                                                    no-action-ids="[1,2]"
                                                    delete-endpoint="/admin/api/location-type"
                                                    save-endpoint="/admin/api/location-type"
                                                    load-endpoint="/admin/api/location-types/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="countries" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Countries') }}" :item-headers="countryHeaders"
                                                    :editable-columns="['title','title_tr']"
                                                    delete-endpoint="/admin/api/country"
                                                    save-endpoint="/admin/api/country"
                                                    load-endpoint="/admin/api/countries/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="ethnographic-info" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Ethnographic Information') }}"
                                                    :item-headers="ethnoHeaders"
                                                    :editable-columns="['title','title_tr']"
                                                    delete-endpoint="/admin/api/ethnography"
                                                    save-endpoint="/admin/api/ethnography"
                                                    load-endpoint="/admin/api/ethnographies/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="dialects" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Dialects') }}"
                                                    :item-headers="dialectHeaders"
                                                    :editable-columns="['title','title_tr']"
                                                    delete-endpoint="/admin/api/dialect"
                                                    save-endpoint="/admin/api/dialect"
                                                    load-endpoint="/admin/api/dialects/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="actor-actor-relations" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Actor to Actor Relations') }}"
                                                    :item-headers="revRelationHeaders"
                                                    :editable-columns="['title','title_tr', 'reverse_title', 'reverse_title_tr']"
                                                    delete-endpoint="/admin/api/atoainfo"
                                                    save-endpoint="/admin/api/atoainfo"
                                                    load-endpoint="/admin/api/atoainfos/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="actor-bulletin-relations" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Actor to Bulletin Relations') }}"
                                                    :item-headers="relationHeaders"
                                                    :editable-columns="['title','title_tr']"
                                                    delete-endpoint="/admin/api/atobinfo"
                                                    save-endpoint="/admin/api/atobinfo"
                                                    load-endpoint="/admin/api/atobinfos/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="bulletin-bulletin-relations" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Bulletin to Bulletin Relations') }}"
                                                    :item-headers="relationHeaders"
                                                    :editable-columns="['title','title_tr']"
                                                    delete-endpoint="/admin/api/btobinfo"
                                                    save-endpoint="/admin/api/btobinfo"
                                                    load-endpoint="/admin/api/btobinfos/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="incident-bulletin-relations" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Incident to Bulletin Relations') }}"
                                                    :item-headers="relationHeaders"
                                                    :editable-columns="['title','title_tr']"
                                                    delete-endpoint="/admin/api/itobinfo"
                                                    save-endpoint="/admin/api/itobinfo"
                                                    load-endpoint="/admin/api/itobinfos/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="incident-actor-relations" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Incident to Actor Relations') }}"
                                                    :item-headers="relationHeaders"
                                                    :editable-columns="['title','title_tr']"
                                                    delete-endpoint="/admin/api/itoainfo"
                                                    save-endpoint="/admin/api/itoainfo"
                                                    load-endpoint="/admin/api/itoainfos/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="incident-incident-relations" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Incident to Incident Relations') }}"
                                                    :item-headers="relationHeaders"
                                                    :editable-columns="['title','title_tr']"
                                                    delete-endpoint="/admin/api/itoiinfo"
                                                    save-endpoint="/admin/api/itoiinfo"
                                                    load-endpoint="/admin/api/itoiinfos/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="media-categories" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Media Categories') }}" :item-headers="mediaHeaders"
                                                    :editable-columns="['title','title_tr']"
                                                    delete-endpoint="/admin/api/mediacategory"
                                                    save-endpoint="/admin/api/mediacategory"
                                                    load-endpoint="/admin/api/mediacategories/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                        <v-window-item value="geo-location-types" class="pa-1">
                            <v-card>
                                <v-card-text>
                                    <editable-table title="{{ _('Geo Location Types') }}" :item-headers="geoHeaders"
                                                    :editable-columns="['title','title_tr']"
                                                    delete-endpoint="/admin/api/geolocationtype"
                                                    save-endpoint="/admin/api/geolocationtype"
                                                    load-endpoint="/admin/api/geolocationtypes/?per_page=1000">
                                    </editable-table>
                                </v-card-text>
                            </v-card>
                        </v-window-item>

                    </v-window>
                </v-col>
                
            </v-row>
        </v-container>
    </v-card>
</v-main>

{% endblock %} {% block js %}


    {% if config.GOOGLE_MAPS_API_KEY %}
        {{ '
<script src="https://maps.googleapis.com/maps/api/js?key='|safe + config.GOOGLE_MAPS_API_KEY + '" async
        defer></script>'|safe }}

    {% endif %}
    <script src="/static/js/Leaflet.GoogleMutant.js"></script>
    <script src="/static/js/components/EditableTable.js"></script>

    <script>
        window.__GOOGLE_MAPS_API_KEY__ = '{{ config.GOOGLE_MAPS_API_KEY }}';

        const {createApp} = Vue;
        const {createVuetify} = Vuetify;
        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({
            delimiters: delimiters,
            mixins: [globalMixin],
            
            components: {
                EditableTable
            },
            data: () => ({

                itemsPerPageOptions: window.itemsPerPageOptions,
                drawer: drawer,
                selectedTab: null,
                alHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Code')}}", value: "code"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Actions')}}", value: "actions"},

                ],

                ltHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Actions')}}", value: "actions"},
                ],

                countryHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions"},
                ],

                ethnoHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions"},
                ],

                dialectHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions"},
                ],

                relationHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions"},
                ],
                revRelationHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Reverse Title')}}", value: "reverse_title"},
                    {title: "{{_('Reverse Title (tr)')}}", value: "reverse_title_tr"},
                    {title: "{{_('Actions')}}", value: "actions"},
                ],

                mediaHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions"},
                ],
                geoHeaders: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (tr)')}}", value: "title_tr"},
                    {title: "{{_('Actions')}}", value: "actions"},
                ],

            }),


            mounted() {


            },

            methods: {}
        });
        app.use(vuetify).mount('#app');
    </script>
{% endblock %}
