{% extends 'layout.html' %} {% block content %}
    {% block css %}
        <link rel="stylesheet" href="/static/js/filepond/dist/filepond.min.css"/>
    {% endblock %}
    <div id="app">
        <v-app v-cloak>
            {% include 'nav-drawer.html' %} {% include 'nav-bar.html' %}
            <v-main class="align-start ma-3">
                <v-container fluid fill-height>
                    <v-row>
                        <v-col cols="12">

                            <v-stepper v-model="step">
                                <v-stepper-header>
                                    <v-stepper-step step="1">{{ _('Upload or Select') }}</v-stepper-step>
                                    <v-divider></v-divider>

                                    <v-stepper-step step="2">{{ _('Add Data') }}</v-stepper-step>
                                    <v-divider></v-divider>
                                    <v-stepper-step step="3">{{ _('Finish') }}</v-stepper-step>
                                </v-stepper-header>

                                <v-stepper-items>
                                    <v-stepper-content step="1">

                                        <v-data-table
                                                fixed-header
                                                height="calc(100vh - 420px)"
                                                :headers="headers"
                                                :items="items"
                                                :options.sync="options"
                                                :footer-props.sync="footerProps"
                                                :loading="loading"
                                                class="elevation-1"
                                                show-select
                                                v-model="selectedItems"


                                        >
                                            <template v-slot:top="{item}">
                                                <v-toolbar color="grey lighten-4" flat>

                                                    <v-btn :disabled="selAllDisabled" @click="selectAll" x-small
                                                           elevation="1" color="white" fab>
                                                        <v-icon>mdi-check-all</v-icon>
                                                    </v-btn>
                                                    <v-btn :disabled="!selectedItems.length" @click="clearAll" x-small
                                                           elevation="1" class="mx-3" color="white" fab>
                                                        <v-icon>mdi-checkbox-blank-outline</v-icon>
                                                    </v-btn>

                                                    <v-divider vertical></v-divider>



                                                     <v-btn :disabled="mode==2" x-small fab
                                                                   class="mx-3 hidden-md-and-up"
                                                                   @click="uploadFiles"
                                                                   color="primary"
                                                            elevation="1"
                                                            >
                                                                <v-icon >mdi-upload</v-icon>

                                                            </v-btn>


                                                     <v-btn :disabled="mode==1" @click="selectPath" x-small fab
                                                                    color="primary"
                                                            elevation="1"
                                                            class="hidden-md-and-up">
                                                                <v-icon> mdi-folder-open</v-icon>
                                                            </v-btn>




                                                    <v-tooltip top>
                                                        <template v-slot:activator="{on, attrs}">
                                                            <v-btn :disabled="mode==2" small v-on="on"
                                                                   class="mx-3 hidden-sm-and-down"
                                                                   @click="uploadFiles"
                                                                   color="primary"
                                                            >
                                                                <v-icon left>mdi-upload</v-icon>
                                                                {{ _('Upload files') }}
                                                            </v-btn>
                                                        </template>
                                                        <span>{{ _('Manual web upload') }}</span>
                                                    </v-tooltip>
                                                    <v-tooltip top>
                                                        <template v-slot:activator="{on}">
                                                            <v-btn :disabled="mode==1" @click="selectPath" small
                                                                   v-on="on" color="primary" class="hidden-sm-and-down">
                                                                <v-icon left> mdi-folder-open</v-icon>
                                                                {{ _('Process path') }}
                                                            </v-btn>
                                                        </template>
                                                        <span>
                                                        {{ _('Process existing files at path, server side(Faster)') }}
                                                    </span>
                                                    </v-tooltip>


                                                    <v-spacer></v-spacer>

                                                    <v-btn small class="mx-2 hidden-sm-and-down" @click="stepTwo"
                                                           :disabled="!selectedItems.length"
                                                           :dark="selectedItems.length?true:false" color="green"
                                                           elevation="1">
                                                        <v-icon left color="white">mdi-play-circle</v-icon>
                                                        {{ _('Next') }}
                                                    </v-btn>

                                                     <v-btn x-small class="mx-2 hidden-md-and-up" @click="stepTwo"
                                                            fab
                                                           :disabled="!selectedItems.length"
                                                           :dark="selectedItems.length?true:false" color="green"
                                                           elevation="1">
                                                        <v-icon color="white">mdi-play-circle</v-icon>
                                                    </v-btn>


                                                </v-toolbar>

                                            </template>


                                            <template v-slot:no-data=""></template>
                                        </v-data-table>


                                    </v-stepper-content>


                                    <v-stepper-content step="2">
                                        <v-toolbar>
                                            <v-btn small class="mx-2" @click="step=1"

                                                   elevation="1">
                                                < {{ _('Back') }}
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                            <v-btn small class="mx-2" @click="processFiles"

                                                   color="success"
                                                   elevation="1">
                                                <v-icon left color="white">mdi-play-circle</v-icon>
                                                {{ _('Process') }}
                                            </v-btn>
                                        </v-toolbar>

                                        <v-card class="pa-3" color="yellow lighten-4">
                                            <v-card-title>
                                                {{ _('Attach data to files')}}
                                            </v-card-title>

                                            <v-card-text>

                                                <v-row>
                                                    <v-col cols="12" md="4">
                                                        <search-field
                                                                api="/admin/api/labels/"
                                                                query-params="&typ=for_bulletin"
                                                                item-text="title"
                                                                item-value="id"
                                                                :multiple="true"
                                                                label="{{ _('Labels') }}"
                                                                v-model="labels"
                                                        ></search-field>
                                                    </v-col>
                                                    <v-col cols="12" md="4">
                                                        <search-field
                                                                api="/admin/api/labels/"
                                                                query-params="&fltr=verified&typ=for_bulletin"
                                                                item-text="title"
                                                                item-value="id"
                                                                :multiple="true"
                                                                label="{{ _('Verified Labels') }} "
                                                                v-model="verLabels"
                                                        ></search-field>
                                                    </v-col>

                                                    <v-col cols="12" md="4">
                                                        <search-field
                                                                api="/admin/api/locations/"
                                                                item-text="full_string"
                                                                item-value="id"
                                                                :multiple="true"
                                                                label="{{ _('Locations') }}"
                                                                v-model="locations"
                                                        ></search-field>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="12" md="4">
                                                        <search-field
                                                                api="/admin/api/sources/"
                                                                item-text="title"
                                                                item-value="id"
                                                                :multiple="true"
                                                                label="{{ _('Sources') }}"
                                                                v-model="sources"
                                                        ></search-field>

                                                    </v-col>

                                                    <v-col cols="12" md="4">
                                                        <v-combobox
                                                                small-chips
                                                                multiple
                                                                label="{{ _('Refs') }}"
                                                                v-model="refs"
                                                                hint="Type and enter free tags"

                                                        ></v-combobox>

                                                    </v-col>
                                                    <v-col cols="12" md="4">
                                                        <v-switch v-model="optimize" label="{{ _('Optimize Videos')}}"></v-switch>
                                                    </v-col>
                                                </v-row>


                                            </v-card-text>

                                        </v-card>

                                    </v-stepper-content>

                                    <v-stepper-content step="3">
                                        <v-card class="pa-5">
                                            <v-card-text>
                                                ${ status }
                                            </v-card-text>
                                        </v-card>
                                    </v-stepper-content>
                                </v-stepper-items>
                            </v-stepper>

                            <v-dialog persistent v-model="selectDlg" max-width="900">
                                <v-card :disabled="loading" :loading="loading" class="pa-3" v-if="selectDlg">
                                    <v-card-title>
                                        <v-spacer></v-spacer>
                                        <v-btn fab text @click="selectDlg=false">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-card-title>
                                    <v-card-text class="align-center">
                                        <v-text-field v-model="selectedPath" value="/home/media/"
                                                      label="Input path to files"></v-text-field>
                                        <v-switch v-model="recursive" label="Search Subfolders"></v-switch>
                                    </v-card-text>

                                    <v-card-actions class="pb-3">
                                        <v-spacer></v-spacer>
                                        <v-btn @click="selectDlg=false" class="mx-2" text>{{ _('Cancel') }}</v-btn>
                                        <v-btn @click="processPath" class="mx-2" color="primary">{{ _('Scan') }}</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>


                            <v-dialog persistent v-model="uploadDlg" max-width="900">
                                <v-card class="" v-if="uploadDlg">
                                    <v-card-title>
                                        <v-spacer></v-spacer>
                                        <v-btn fab text @click="cancelAppend">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-card-title>
                                    <v-card-text class="align-center">

                                        <file-pond class="ma-auto"
                                                   name="media"
                                                   ref="media"
                                                   label-idle="Click/Drop files here to Upload..."
                                                   v-bind:allow-multiple="true"
                                                {#                                                   accepted-file-types="image/jpeg, image/png, video/mp4, video/webm, application/pdf"#}
                                                   server="/admin/api/media/upload/"
                                                   v-model="files"
                                                   v-bind:files="files"
                                                   v-on:processfile="onFileUploaded"

                                        ></file-pond>

                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn @click="cancelAppend" text>Cancel</v-btn>
                                        <v-btn @click="appendFiles" color="primary">Add</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>

                            </v-dialog>
                            <v-snackbar v-model="snackbar" class="">
                                <div class="d-flex justify-space-between align-center">
                                    ${snackMessage}

                                    <v-btn icon fab small color="white" text @click="snackbar = false">
                                        <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                </div>
                            </v-snackbar>


                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            {% include 'footer.html' %}

            <v-overlay v-model="loading">


            </v-overlay>
        </v-app>
    </div>

{% endblock %} {% block js %}

    <script src="/static/js/filepond/dist/filepond.min.js"></script>
    <script src="/static/js/vue-filepond/dist/vue-filepond.min.js"></script>
    <script>

        const app = new Vue({
            el: "#app",
            vuetify: vuetify,
            delimiters: delimiters,
            data: () => ({
                drawer: drawer,
                mode: null,
                sideNav: sideNav,
                snackbar: false,
                snackMessage: '',
                loading: false,
                status: '',

                selAllDisabled: true,

                ploader: true,
                step: 1,
                uploadDlg: null,
                selectDlg: null,
                selectedPath: '/home/bayanat/data/',
                recursive: false,
                files: [],
                options: {
                    page: 1,
                    itemsPerPage: 100
                },
                footerProps: {
                    itemsPerPageOptions: itemsPerPageOptions,
                    itemsPerPageText: "{{ _('Rows per page')}}"
                },

                headers: [
                    {text: "{{_('Name')}}", value: 'file.name', sortable: false},


                ],
                //etl additional tags
                labels: [],
                verLabels: [],
                sources: [],
                locations: [],
                refs: [],
                files: [],
                items: [],
                optimize: null,
                selectedItems: [],
                itemsLength: 100,
                editedIndex: -1,
                roles: [],
                editedItem: {
                    title: ""
                },
                defaultItem: {
                    title: "",
                    active: false
                }
            }),
            components: {
                FilePond: vueFilePond.default(),
            },

            computed: {},


            watch: {

                items(val) {
                    if (val.length) {
                        this.selAllDisabled = false;
                    } else {
                        this.selAllDisabled = true;
                    }

                },


                options: {
                    handler: "refresh",
                    immdiate: true
                }
            },

            methods: {

                selectAll() {
                    if (this.items.length) {
                        this.selectedItems = this.items;
                    }

                },

                clearAll() {
                    this.selectedItems = [];
                },
                preprocess(files) {
                    files = files.filter(x => this.validFile(x.file.name))
                    for (i = 1; i < files.length; i++) {
                        files[i].id = i;

                    }
                    return files;

                },

                cancelAppend() {
                    this.uploadDlg = false;
                    this.files = [];
                },

                appendFiles() {
                    this.items = this.preprocess(this.files);
                    this.uploadDlg = false;
                    this.files = [];
                    this.mode = 1;
                },

                processPath() {
                    // get all files from the specified path via server side
                    if (!this.selectedPath) {
                        this.selectDlg = false;
                        this.showSnack('No valid path selected');
                        return;
                    }
                    // else

                    this.loading = true;

                    axios.post('/admin/etl/path/', {path: this.selectedPath, recursive: this.recursive}).then(res => {
                        this.items = this.preprocess(res.data);
                        this.mode = 2;

                    }).catch(error => {
                        this.showSnack(error.response.data)
                    }).finally(() => {
                        this.selectDlg = false;
                        this.loading = false;
                    })


                },

                onFileUploaded(error, file) {

                    //pass for now
                },

                showSnack(message) {
                    this.snackbar = true;
                    this.snackMessage = message
                },
                refresh() {

                },

                validFile(filename) {
                    const ext = filename.split(".").pop().toLowerCase();
                    if (ETL_EXTENSIONS.includes(ext)) {
                        return true;

                    } else {
                        return false;
                    }


                },

                stepTwo() {
                    this.step = 2;
                },
                processFiles() {

                    this.step = 3;

                    let files;
                    if (this.mode == 1) {
                        files = this.selectedItems.map(x => {
                            let f = JSON.parse(x.serverId)
                            f.name = x.file.name;
                            return f
                        })

                    } else {
                        files = this.selectedItems;
                    }
                    let data = {
                        files: files,
                        labels: this.labels,
                        ver_labels: this.verLabels,
                        sources: this.sources,
                        locations: this.locations,
                        refs: this.refs,
                        mode: this.mode,
                        optimize: this.optimize
                    }

                    axios.post('/admin/etl/process', data).then(res => {
                        this.showSnack(res.data);
                        this.status = "{{ _('Files added to queue and will be imported in turn.') }}"

                    }).catch(error => {


                    }).finally(() => {

                    });


                },

                selectPath() {
                    this.selectDlg = true;
                }
                ,
                uploadFiles() {

                    this.uploadDlg = true;

                }


            }
        });
    </script>
{% endblock %}
