{% extends 'layout.html' %} {% block content %}

    <div id="app">
        <v-app v-cloak>
            {% include 'nav-drawer.html' %} {% include 'nav-bar.html' %}
            <v-main class="align-start ma-3">
                <v-container fluid fill-height>
                    <v-row>
                        <v-col cols="12">
                            <v-data-table

                                     :headers="headers"
                                                :items="items"
                                                :options.sync="options"
                                                :footer-props.sync="footerProps"
                                                :loading="loading"
                                                class="elevation-1"

                            >

                                <template v-slot:top="">
                                    <v-toolbar elevation="0" color="blue-grey lighten-5 ">
                                        <v-toolbar-title>
                                            ETL Status Dashboard
                                        </v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-btn small fab  text><v-icon>mdi-reload</v-icon></v-btn>
                                    </v-toolbar>
                                </template>

                            </v-data-table>







                            <v-snackbar v-model="snackbar" class="">
                                <div class="d-flex justify-space-between align-center">
                                    ${snackMessage}

                                    <v-btn icon fab small color="white" text @click="snackbar = false">
                                        <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                </div>
                            </v-snackbar>


                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            {% include 'footer.html' %}
        </v-app>
    </div>

{% endblock %} {% block js %}
    <script>

        const app = new Vue({
            el: "#app",
            vuetify: vuetify,
            delimiters: delimiters,
            data: () => ({
                drawer: drawer,
                mode: null,
                sideNav: sideNav,
                snackbar: false,
                snackMessage: '',
                loading: false,

                headers: [

                ],
                items: [],


                options: {
                    page: 1,
                    itemsPerPage: 100
                },
                footerProps: {
                    itemsPerPageOptions: itemsPerPageOptions,
                    itemsPerPageText: "{{ _('Rows per page')}}"
                },


                itemsLength: 100,

                roles: [],
            }),


            computed: {},
            methods : {
                refresh(){

                },

                checkStatus: function() {
                    this.loading = true;
                    axios.get('/admin/api/etl/status/').then(res=>{

                    }).catch(err=>{
                        this.showSnack(err.response.data);
                    }).finally(()=>{
                        this.loading = false;
                    })

                }
            },
            mounted : function () {
                setInterval(this.checkStatus, 2500);

            },



            watch: {


                options: {
                    handler: "refresh"
                }
            },


        });
    </script>
{% endblock %}
