var translations = {
newBulletin_: "{{ _('New Bulletin') }}",
editBulletin_: "{{ _('Edit Bulletin') }}",
newActor_: "{{ _('New Actor') }}",
editActor_: "{{ _('Edit Actor') }}",

query_ : "{{ _('Query') }}",
advSearch_ : "{{ _('Advanced Search') }}",
noResults_: "{{ _('No (more) items found.') }}",
hide_: "{{ _('Hide') }}",
relate_: "{{ _('Relate') }}",
contains_: "{{ _('contains') }}",
notContains_: "{{ _('Does not contain') }}",
ref_: "{{ _('Refs') }}",
inRef_: "{{ _('Include Refs') }}",
exRef_: "{{ _('Exclude Refs') }}",
publishDate_: "{{ _('Publish date') }}",
documentationDate_: "{{ _('Documentation date') }}",
createdDate_: "{{ _('Creation date') }}",
updatedDate_: "{{ _('Last modified date') }}",
eventDate_: "{{ _('Event date') }}",
within_ : "{{ _('Within') }}",
assignedUser_: "{{ _('Assigned user') }}",
unassigned_: "{{ _('Unassigned') }}",
reviewer_: "{{ _('Reviewer') }}",
workflowStatus_: "{{ _('Workflow Status') }}",
reviewAction_: "{{ _('Review Action') }}",
includeSources_: "{{ _('Include sources') }}",
excludeSources_: "{{ _('Exclude sources (All)') }}",
includeChildSources_: "{{ _('Also include child sources') }}",
any_: "{{ _('Any') }}",
all_: "{{ _('All') }}",
includeLabels_: "{{ _('Include labels') }}",
excludeLabels_: "{{ _('Exclude labels (All)') }}",
includeChildLabels_: "{{ _('Also include child labels') }}",
includeVerLabels_: "{{ _('Include verified labels') }}",
excludeVerLabels_: "{{ _('Exclude verified labels (All)') }}",
includeChildVerLabels_: "{{ _('Also include verified child labels') }}",
includeLocations_: "{{ _('Include locations') }}",
excludeLocations_: "{{ _('Exclude locations (All)') }}",
includeResLocations_: "{{ _('Include residence locations (Any)') }}",
excludeResLocations_: "{{ _('Exclude residence locations (All)') }}",
includeOriginLocations_: "{{ _('Include origin locations (Any)') }}",
excludeOriginLocations_: "{{ _('Exclude origin locations (All)') }}",
includeEventLocations_: "{{ _('Include event locations') }}",
eventType_ : "{{ _('Event type') }}",
clearSearch_: "{{ _('Clear Search') }}",
search_: "{{ _('Search') }}",
saveSearch_ : "{{ _('Save Search') }}",
refineExtendSearch_ : "{{ _('Refine/Extend Search') }}",
loadExistingSearch_ : "{{ _('Load existing search') }}",
occupation_ : "{{ _('Occupation') }}",
occupation_ : "{{ _('Occupation') }}",
position_ : "{{ _('Position') }}",
spokenDialects_ : "{{ _('Spoken dialects') }}",
familyStatus_ : "{{ _('Family Status') }}",
sex_ : "{{ _('Sex') }}",
minorAdult_ : "{{ _('Minor/Adult') }}",
civilian_ : "{{ _('Civilian/Non Civilian') }}",
actorType_ : "{{ _('Actor Type') }}",
ethnography_ : "{{ _('Ethnography') }}",
nationality_ : "{{ _('Nationality') }}",
birthPlace_ : "{{ _('Place of birth') }}",
birthDate_ : "{{ _('Date of birth') }}",
nationalIdCard_ : "{{ _('National ID Card') }}",
yes_: "{{ _('Yes') }}",
no_: "{{ _('No') }}",
unknown_: "{{ _('Unknown') }}",
details_: "{{ _('details') }}",
name_: "{{ _('Name') }}",
reportingPersons_: "{{ _('Reporting Persons') }}",
contactInfo_: "{{ _('Contact info ( phone, email, address)') }}",
relationship_: "{{ _('Relationship') }}",
save_ : "{{ _('Save') }}",
type_ : "{{ _('Type') }}",
latitude_ : "{{ _('Latitude') }}",
longitude_ : "{{ _('Longitude') }}",


//bulletin/actor/incident cards
id_: "{{ _('ID') }}",
edit_: "{{ _('Edit') }}",
assignedUser_: "{{ _('Assigned User:') }}",
description_ : "{{ _('Description') }}",
title_: "{{ _('Title') }}",
originalTitle_: "{{ _('Original title') }}",
sources_: "{{ _('Sources') }}",
labels_: "{{ _('Labels') }}",
verifiedLabels_: "{{ _('Verified labels') }}",
events_: "{{ _('Events') }}",
media_: "{{ _('Media') }}",
locations_: "{{ _('Locations') }}",
relatedBulletins_: "{{ _('Related bulletins') }}",
relatedActors_: "{{ _('Related actors') }}",
relatedIncidents_: "{{ _('Related incidents') }}",
relationshipInfo_: "{{ _('Relationship info') }}",
publishDate_: "{{ _('Publish date') }}",
documentationDate_: "{{ _('Documentation date') }}",
sourceLink_: "{{ _('Source Link') }}",
comment_ : "{{ _('Comments') }}",
logHistory_: "{{ _('Log History') }}",

// actors
fullName_: "{{ _('Full Name') }}",
nickName_: "{{ _('Nick Name') }}",
firstName_: "{{ _('First Name') }}",
middleName_: "{{ _('Middle Name') }}",
lastName_ : "{{ _('Last Name') }}",
mothersName_ : "{{ _('Mother\'s Name') }}",
sex_ : "{{ _('Sex') }}",
age_ : "{{ _('Age') }}",
civilian_ : "{{ _('Civilian') }}",
actorType_ : "{{ _('Actor Type') }}",

birthDate_ : "{{ _('Date of birth') }}",
birthPlace_ : "{{ _('Place of birth') }}",
originPlace_ : "{{ _('Place of Origin') }}",
residencePlace_ : "{{ _('Place of Residence') }}",

occupation_ : "{{ _('Occupation') }}",
position_ : "{{ _('position') }}",
spokenDialects_ : "{{ _('Spoken Dialects') }}",
familyStatus_ : "{{ _('Family Status') }}",

ethnographicInfo_ : "{{ _('Ethnographic Info') }}",
nationalities_ : "{{ _('Nationalities') }}",
nationalIDCard_ : "{{ _('National ID Card') }}",

overview_ : "{{ _('Overview') }}",

// incidents
claimedViolationsCategories_  : "{{ _('Claimed Violations Categories') }}",
potentialViolationsCategories_  : "{{ _('Potential violation categories') }}",

// missing persons
missingPerson_ : "{{ _('Missing Person') }}",

lastAddress_ : "{{ _('Last Address') }}",
marriageHistory_ : "{{ _('Marriage History') }}",
bioChildren_ : "{{ _('Bio Children') }}",
pregnantAtDisappearance_ : "{{ _('Pregnant at Disappearance') }}",
mpAtDisappearance_ : "{{ _('Months Pregnant at Disappearance') }}",
missingRelatives_ : "{{ _('Missing Relatives') }}",
name_ : "{{ _('Name') }}",
address_ : "{{ _('Address') }}",
phone_ : "{{ _('Phone') }}",
email_ : "{{ _('Email') }}",
seenInDetentionCenter_ : "{{ _('Seen in a detention center?') }}",
injuredDisappearance_ : "{{ _('Injured around time of disappearance?') }}",
knownDead_ : "{{ _('Known to be dead?') }}",
deathDetails_ : "{{ _('Details about circumstances of death') }}",
personalItemsEg_ : "{{ _('Personal Items (watch,ring,chains etc)') }}",
height_ : "{{ _('Height') }}",
weight_ : "{{ _('Weight') }}",
physique_ : "{{ _('Physique') }}",
hairloss_ : "{{ _('Hair Loss') }}",
hairtype_ : "{{ _('Hair Type') }}",
hairlength_ : "{{ _('Hair Length') }}",
haircolor_ : "{{ _('Hair Color') }}",
facialhair_ : "{{ _('Facial Hair') }}",
postureNotes_ : "{{ _('Notes on posture and walking style') }}",
skinMarkings_ : "{{ _('Skin Markings') }}",
handness_ : "{{ _('Handness') }}",
glasses_ : "{{ _('Glasses') }}",
eyecolor_ : "{{ _('Eye Color') }}",
characteristicsCongenital_ : "{{ _('Distinctive characteristics (congenital)') }}",
characteristicsAcquired_ : "{{ _('Distinctive characteristics (acquired)') }}",
physicalHabits_ : "{{ _('Physical habits') }}",
otherComments_ : "{{ _('Other comments') }}",
physiciansContact_ : "{{ _('Physician\’s name and contact') }}",
fracturesInjuries_ : "{{ _('Fractures / Injuries') }}",
implants_  : "{{ _('Implants ') }}",
congenitalMalformations_ : "{{ _('Congenital malformations') }}",
painAilments_ : "{{ _('Pain and / or ailments') }}",
otherMedicalConditions_ : "{{ _('Other medical conditions') }}",
accidents_ : "{{ _('Accidents') }}",
prescriptionDrugsTaken_ : "{{ _('Prescription drugs taken') }}",
smoker_ : "{{ _('Smoker') }}",
isDentalRecord_ : "{{ _('Is there a Dental Record') }}",
DentistContact_ : "{{ _('Dentist’s name and contact') }}",
teethFeatures_ : "{{ _('Teeth features') }}",
dentalProblems_ : "{{ _('Dental problems') }}",
dentalTreatmetns_ : "{{ _('Dental treatments') }}",
dentalHabits_ : "{{ _('Dental habits') }}",
caseStatus_ : "{{ _('Case status') }}",
reporters_ : "{{ _('Reporters') }}",
identifiedBy : "{{ _('Identified by (responsible institution)') }}",
familyNotified_ : "{{ _('Was the family notified?') }}",
reburialLocation_ : "{{ _('Location of reburial') }}",
detailsPersonSawLast_ : "{{ _('Details of the person who saw them last') }}",
//mpfield
contact_ : "{{ _('Contact') }}",


// extras

time_ : "{{ _('Time') }}",


// internal configuration strings
generic_ : "{{ _('Generic') }}",
humans_ : "{{ _('Humans') }}",
signsText_ : "{{ _('Signs/Text') }}",

maybe_ : "{{ _('Maybe') }}",
likely_ : "{{ _('Likely') }}",
certain_ : "{{ _('Certain') }}",


duplicate_ : "{{ _('Duplicate') }}",
other_ : "{{ _('Other') }}",
partOfSeries_ : "{{ _('Part of a Series') }}",
sameObject_ : "{{ _('Same Object') }}",
samePerson_ : "{{ _('Same Person') }}",
potentiallyDuplicate_ : "{{ _('Potentially Duplicate') }}",
potentiallyRelated_ : "{{ _('Potentially Related') }}",
default_ : "{{ _('Default') }}",

statuses_:
[
{"en" : "Machine Created", "tr" : "{{ _('Machine Created') }}" } ,
{"en" : "Human Created", "tr" : "{{ _('Human Created') }}" } ,
{"en" : "Updated", "tr" : "{{ _('Updated') }}" } ,
{"en" : "Peer Reviewed", "tr" : "{{ _('Peer Reviewed') }}" } ,
{"en" : "Finalized", "tr" : "{{ _('Finalized') }}" } ,
{"en" : "Senior Reviewed", "tr" : "{{ _('Senior Reviewed') }}" } ,
{"en" : "Machine Updated", "tr" : "{{ _('Machine Updated') }}" } ,
{"en" : "Assigned", "tr" : "{{ _('Assigned') }}" } ,
{"en" : "Second Peer Review", "tr" : "{{ _('Second Peer Review') }}" } ,
{"en" : "Revisited", "tr" : "{{ _('Revisited') }}" } ,
{"en" : "Senior Updated", "tr" : "{{ _('Senior Updated') }}" } ,
{"en" : "Peer Review Assigned", "tr" : "{{ _('Peer Review Assigned') }}" }
],

// geo types
school_ : "{{ _('Educational Structure') }}",
religious_ : "{{ _('Religious Structure') }}",
militaryStructure_ : "{{ _('Military Structure') }}",
infrastructure_ : "{{ _('Infrastructure') }}",
medical_ : "{{ _('Medical Structure') }}",

//countries
countries :
[
{ "en" :  "Afghanistan",  "tr": "{{ _('Afghanistan') }}" } ,
{ "en" :  "Albania",  "tr": "{{ _('Albania') }}" } ,
{ "en" :  "Algeria",  "tr": "{{ _('Algeria') }}" } ,
{ "en" :  "Andorra",  "tr": "{{ _('Andorra') }}" } ,
{ "en" :  "Angola",  "tr": "{{ _('Angola') }}" } ,
{ "en" :  "Argentina",  "tr": "{{ _('Argentina') }}" } ,
{ "en" :  "Armenia",  "tr": "{{ _('Armenia') }}" } ,
{ "en" :  "Aruba",  "tr": "{{ _('Aruba') }}" } ,
{ "en" :  "Australia",  "tr": "{{ _('Australia') }}" } ,
{ "en" :  "Austria",  "tr": "{{ _('Austria') }}" } ,
{ "en" :  "Azerbaijan",  "tr": "{{ _('Azerbaijan') }}" } ,
{ "en" :  "Bahrain",  "tr": "{{ _('Bahrain') }}" } ,
{ "en" :  "Bangladesh",  "tr": "{{ _('Bangladesh') }}" } ,
{ "en" :  "Barbados",  "tr": "{{ _('Barbados') }}" } ,
{ "en" :  "Belarus",  "tr": "{{ _('Belarus') }}" } ,
{ "en" :  "Belgium",  "tr": "{{ _('Belgium') }}" } ,
{ "en" :  "Belize",  "tr": "{{ _('Belize') }}" } ,
{ "en" :  "Benin",  "tr": "{{ _('Benin') }}" } ,
{ "en" :  "Bhutan",  "tr": "{{ _('Bhutan') }}" } ,
{ "en" :  "Bosnia and Herzegovina",  "tr": "{{ _('Bosnia and Herzegovina') }}" } ,
{ "en" :  "Botswana",  "tr": "{{ _('Botswana') }}" } ,
{ "en" :  "Brazil",  "tr": "{{ _('Brazil') }}" } ,
{ "en" :  "Brunei",  "tr": "{{ _('Brunei') }}" } ,
{ "en" :  "Bulgaria",  "tr": "{{ _('Bulgaria') }}" } ,
{ "en" :  "Burkina Faso",  "tr": "{{ _('Burkina Faso') }}" } ,
{ "en" :  "Burma",  "tr": "{{ _('Burma') }}" } ,
{ "en" :  "Burundi",  "tr": "{{ _('Burundi') }}" } ,
{ "en" :  "Cambodia",  "tr": "{{ _('Cambodia') }}" } ,
{ "en" :  "Cameroon",  "tr": "{{ _('Cameroon') }}" } ,
{ "en" :  "Canada",  "tr": "{{ _('Canada') }}" } ,
{ "en" :  "Central African Republic",  "tr": "{{ _('Central African Republic') }}" } ,
{ "en" :  "Chad",  "tr": "{{ _('Chad') }}" } ,
{ "en" :  "Chile",  "tr": "{{ _('Chile') }}" } ,
{ "en" :  "China",  "tr": "{{ _('China') }}" } ,
{ "en" :  "Colombia",  "tr": "{{ _('Colombia') }}" } ,
{ "en" :  "Comoros",  "tr": "{{ _('Comoros') }}" } ,
{ "en" :  "Democratic Republic of the Congo",  "tr": "{{ _('Democratic Republic of the Congo') }}" } ,
{ "en" :  "Republic of the Congo",  "tr": "{{ _('Republic of the Congo') }}" } ,
{ "en" :  "Cote d\'Ivoire",  "tr": "{{ _('Cote d\'Ivoire') }}" } ,
{ "en" :  "Croatia",  "tr": "{{ _('Croatia') }}" } ,
{ "en" :  "Cuba",  "tr": "{{ _('Cuba') }}" } ,
{ "en" :  "Cyprus",  "tr": "{{ _('Cyprus') }}" } ,
{ "en" :  "Czechia",  "tr": "{{ _('Czechia') }}" } ,
{ "en" :  "Denmark",  "tr": "{{ _('Denmark') }}" } ,
{ "en" :  "Djibouti",  "tr": "{{ _('Djibouti') }}" } ,
{ "en" :  "Dominica",  "tr": "{{ _('Dominica') }}" } ,
{ "en" :  "Dominican Republic",  "tr": "{{ _('Dominican Republic') }}" } ,
{ "en" :  "Egypt",  "tr": "{{ _('Egypt') }}" } ,
{ "en" :  "Eritrea",  "tr": "{{ _('Eritrea') }}" } ,
{ "en" :  "Estonia",  "tr": "{{ _('Estonia') }}" } ,
{ "en" :  "Ethiopia",  "tr": "{{ _('Ethiopia') }}" } ,
{ "en" :  "Finland",  "tr": "{{ _('Finland') }}" } ,
{ "en" :  "France",  "tr": "{{ _('France') }}" } ,
{ "en" :  "Gabon",  "tr": "{{ _('Gabon') }}" } ,
{ "en" :  "Gambia",  "tr": "{{ _('Gambia') }}" } ,
{ "en" :  "Georgia",  "tr": "{{ _('Georgia') }}" } ,
{ "en" :  "Germany",  "tr": "{{ _('Germany') }}" } ,
{ "en" :  "Ghana",  "tr": "{{ _('Ghana') }}" } ,
{ "en" :  "Greece",  "tr": "{{ _('Greece') }}" } ,
{ "en" :  "Guinea",  "tr": "{{ _('Guinea') }}" } ,
{ "en" :  "Guinea-Bissau",  "tr": "{{ _('Guinea-Bissau') }}" } ,
{ "en" :  "Guyana",  "tr": "{{ _('Guyana') }}" } ,
{ "en" :  "Haiti",  "tr": "{{ _('Haiti') }}" } ,
{ "en" :  "Honduras",  "tr": "{{ _('Honduras') }}" } ,
{ "en" :  "Hungary",  "tr": "{{ _('Hungary') }}" } ,
{ "en" :  "Iceland",  "tr": "{{ _('Iceland') }}" } ,
{ "en" :  "India",  "tr": "{{ _('India') }}" } ,
{ "en" :  "Indonesia",  "tr": "{{ _('Indonesia') }}" } ,
{ "en" :  "Iran",  "tr": "{{ _('Iran') }}" } ,
{ "en" :  "Iraq",  "tr": "{{ _('Iraq') }}" } ,
{ "en" :  "Ireland",  "tr": "{{ _('Ireland') }}" } ,
{ "en" :  "Israel",  "tr": "{{ _('Israel') }}" } ,
{ "en" :  "Italy",  "tr": "{{ _('Italy') }}" } ,
{ "en" :  "Jamaica",  "tr": "{{ _('Jamaica') }}" } ,
{ "en" :  "Japan",  "tr": "{{ _('Japan') }}" } ,
{ "en" :  "Jordan",  "tr": "{{ _('Jordan') }}" } ,
{ "en" :  "Kazakhstan",  "tr": "{{ _('Kazakhstan') }}" } ,
{ "en" :  "Kenya",  "tr": "{{ _('Kenya') }}" } ,
{ "en" :  "Kosovo",  "tr": "{{ _('Kosovo') }}" } ,
{ "en" :  "Kuwait",  "tr": "{{ _('Kuwait') }}" } ,
{ "en" :  "Kyrgyzstan",  "tr": "{{ _('Kyrgyzstan') }}" } ,
{ "en" :  "Laos",  "tr": "{{ _('Laos') }}" } ,
{ "en" :  "Latvia",  "tr": "{{ _('Latvia') }}" } ,
{ "en" :  "Lebanon",  "tr": "{{ _('Lebanon') }}" } ,
{ "en" :  "Liberia",  "tr": "{{ _('Liberia') }}" } ,
{ "en" :  "Libya",  "tr": "{{ _('Libya') }}" } ,
{ "en" :  "Liechtenstein",  "tr": "{{ _('Liechtenstein') }}" } ,
{ "en" :  "Lithuania",  "tr": "{{ _('Lithuania') }}" } ,
{ "en" :  "Luxembourg",  "tr": "{{ _('Luxembourg') }}" } ,
{ "en" :  "Macedonia",  "tr": "{{ _('Macedonia') }}" } ,
{ "en" :  "Madagascar",  "tr": "{{ _('Madagascar') }}" } ,
{ "en" :  "Malawi",  "tr": "{{ _('Malawi') }}" } ,
{ "en" :  "Malaysia",  "tr": "{{ _('Malaysia') }}" } ,
{ "en" :  "Mali",  "tr": "{{ _('Mali') }}" } ,
{ "en" :  "Malta",  "tr": "{{ _('Malta') }}" } ,
{ "en" :  "Mauritania",  "tr": "{{ _('Mauritania') }}" } ,
{ "en" :  "Mauritius",  "tr": "{{ _('Mauritius') }}" } ,
{ "en" :  "Micronesia",  "tr": "{{ _('Micronesia') }}" } ,
{ "en" :  "Moldova",  "tr": "{{ _('Moldova') }}" } ,
{ "en" :  "Monaco",  "tr": "{{ _('Monaco') }}" } ,
{ "en" :  "Mongolia",  "tr": "{{ _('Mongolia') }}" } ,
{ "en" :  "Montenegro",  "tr": "{{ _('Montenegro') }}" } ,
{ "en" :  "Morocco",  "tr": "{{ _('Morocco') }}" } ,
{ "en" :  "Mozambique",  "tr": "{{ _('Mozambique') }}" } ,
{ "en" :  "Namibia",  "tr": "{{ _('Namibia') }}" } ,
{ "en" :  "Nauru",  "tr": "{{ _('Nauru') }}" } ,
{ "en" :  "Nepal",  "tr": "{{ _('Nepal') }}" } ,
{ "en" :  "Netherlands",  "tr": "{{ _('Netherlands') }}" } ,
{ "en" :  "New Zealand",  "tr": "{{ _('New Zealand') }}" } ,
{ "en" :  "Nicaragua",  "tr": "{{ _('Nicaragua') }}" } ,
{ "en" :  "Niger",  "tr": "{{ _('Niger') }}" } ,
{ "en" :  "Nigeria",  "tr": "{{ _('Nigeria') }}" } ,
{ "en" :  "North Korea",  "tr": "{{ _('North Korea') }}" } ,
{ "en" :  "Norway",  "tr": "{{ _('Norway') }}" } ,
{ "en" :  "Oman",  "tr": "{{ _('Oman') }}" } ,
{ "en" :  "Pakistan",  "tr": "{{ _('Pakistan') }}" } ,
{ "en" :  "Palestine",  "tr": "{{ _('Palestine') }}" } ,
{ "en" :  "Panama",  "tr": "{{ _('Panama') }}" } ,
{ "en" :  "Philippines",  "tr": "{{ _('Philippines') }}" } ,
{ "en" :  "Poland",  "tr": "{{ _('Poland') }}" } ,
{ "en" :  "Portugal",  "tr": "{{ _('Portugal') }}" } ,
{ "en" :  "Qatar",  "tr": "{{ _('Qatar') }}" } ,
{ "en" :  "Romania",  "tr": "{{ _('Romania') }}" } ,
{ "en" :  "Russia",  "tr": "{{ _('Russia') }}" } ,
{ "en" :  "Rwanda",  "tr": "{{ _('Rwanda') }}" } ,
{ "en" :  "Saudi Arabia",  "tr": "{{ _('Saudi Arabia') }}" } ,
{ "en" :  "Senegal",  "tr": "{{ _('Senegal') }}" } ,
{ "en" :  "Serbia",  "tr": "{{ _('Serbia') }}" } ,
{ "en" :  "Seychelles",  "tr": "{{ _('Seychelles') }}" } ,
{ "en" :  "Sierra Leone",  "tr": "{{ _('Sierra Leone') }}" } ,
{ "en" :  "Slovakia",  "tr": "{{ _('Slovakia') }}" } ,
{ "en" :  "Slovenia",  "tr": "{{ _('Slovenia') }}" } ,
{ "en" :  "Somalia",  "tr": "{{ _('Somalia') }}" } ,
{ "en" :  "South Africa",  "tr": "{{ _('South Africa') }}" } ,
{ "en" :  "South Sudan",  "tr": "{{ _('South Sudan') }}" } ,
{ "en" :  "Spain",  "tr": "{{ _('Spain') }}" } ,
{ "en" :  "Sri Lanka",  "tr": "{{ _('Sri Lanka') }}" } ,
{ "en" :  "Sudan",  "tr": "{{ _('Sudan') }}" } ,
{ "en" :  "Swaziland",  "tr": "{{ _('Swaziland') }}" } ,
{ "en" :  "Sweden",  "tr": "{{ _('Sweden') }}" } ,
{ "en" :  "Switzerland",  "tr": "{{ _('Switzerland') }}" } ,
{ "en" :  "Syria",  "tr": "{{ _('Syria') }}" } ,
{ "en" :  "Taiwan",  "tr": "{{ _('Taiwan') }}" } ,
{ "en" :  "Tajikistan",  "tr": "{{ _('Tajikistan') }}" } ,
{ "en" :  "Tanzania",  "tr": "{{ _('Tanzania') }}" } ,
{ "en" :  "Thailand",  "tr": "{{ _('Thailand') }}" } ,
{ "en" :  "Togo",  "tr": "{{ _('Togo') }}" } ,
{ "en" :  "Tonga",  "tr": "{{ _('Tonga') }}" } ,
{ "en" :  "Trinidad and Tobago",  "tr": "{{ _('Trinidad and Tobago') }}" } ,
{ "en" :  "Tunisia",  "tr": "{{ _('Tunisia') }}" } ,
{ "en" :  "Turkey",  "tr": "{{ _('Turkey') }}" } ,
{ "en" :  "Turkmenistan",  "tr": "{{ _('Turkmenistan') }}" } ,
{ "en" :  "Tuvalu",  "tr": "{{ _('Tuvalu') }}" } ,
{ "en" :  "Uganda",  "tr": "{{ _('Uganda') }}" } ,
{ "en" :  "Ukraine",  "tr": "{{ _('Ukraine') }}" } ,
{ "en" :  "United Arab Emirates",  "tr": "{{ _('United Arab Emirates') }}" } ,
{ "en" :  "United Kingdom",  "tr": "{{ _('United Kingdom') }}" } ,
{ "en" :  "United States",  "tr": "{{ _('United States') }}" } ,
{ "en" :  "Uruguay",  "tr": "{{ _('Uruguay') }}" } ,
{ "en" :  "Uzbekistan",  "tr": "{{ _('Uzbekistan') }}" } ,
{ "en" :  "Venezuela",  "tr": "{{ _('Venezuela') }}" } ,
{ "en" :  "Vietnam",  "tr": "{{ _('Vietnam') }}" } ,
{ "en" :  "Yemen",  "tr": "{{ _('Yemen') }}" } ,
{ "en" :  "Zambia",  "tr": "{{ _('Zambia') }}" } ,
{ "en" :  "Zimbabwe",  "tr": "{{ _('Zimbabwe') }}" } ,
{ "en" :  "Other",  "tr": "{{ _('Other') }}" }
],

actorTypes: [
{"en": "Person", "tr": "{{ _('Person') }}"},
{"en": "Entity", "tr": "{{ _('Entity') }}"}
],

actorSex: [
{"en": "Male", "tr": "{{ _('Male') }}"},
{"en": "Female", "tr": "{{ _('Female') }}"},
],

actorAge: [
{"en": "Minor","tr": "{{ _('Minor') }}"},
{"en": "Adult","tr": "{{ _('Adult') }}"},
{"en": "Unknown","tr": "{{ _('Unknown') }}"}
],

actorCivilian: [
{"en": "Unknown", "tr": "{{ _('Unknown') }}"},
{"en": "Civilian", "tr": "{{ _('Civilian') }}"},
{"en": "Non-Civilian", "tr": "{{ _('Non-Civilian') }}"},
{"en": "Police", "tr": "{{ _('Police') }}"},
{"en": "Other Security Forces", "tr": "{{ _('Other Security Forces') }}"}
]
,

actorEthno: [
{"en": "Alawite", "tr": "{{ _('Alawite') }}"},
{"en": "Arab", "tr": "{{ _('Arab') }}"},
{"en": "Armenian", "tr": "{{ _('Armenian') }}"},
{"en": "Christian", "tr": "{{ _('Christian') }}"},
{"en": "Circassian", "tr": "{{ _('Circassian') }}"},
{"en": "Druze", "tr": "{{ _('Druze') }}"},
{"en": "Ismaili", "tr": "{{ _('Ismaili') }}"},
{"en": "Kurd", "tr": "{{ _('Kurd') }}"},
{"en": "Shiaa", "tr": "{{ _('Shiaa') }}"},
{"en": "Sunni", "tr": "{{ _('Sunni') }}"},
{"en": "Syriac", "tr": "{{ _('Syriac') }}"},
{"en": "Turkmen", "tr": "{{ _('Turkmen') }}"},
{"en": "Unknown", "tr": "{{ _('Unknown') }}"}
],

// date ranges
oneDay_ : "{{ _('1 Day') }}",
twoDays_ : "{{ _('2 Days') }}",
threeDays_ : "{{ _('3 Days') }}",
fourDays_ : "{{ _('4 Days') }}",
fiveDays_ : "{{ _('5 Days') }}",
sixDays_ : "{{ _('6 Days') }}",
sevenDays_ : "{{ _('7 Days') }}",
oneMonth_ : "{{ _('1 Month') }}",
threeMonths_ : "{{ _('3 Months') }}",
sixMonths_ : "{{ _('6 Months') }}",
oneYear_ : "{{ _('1 Year') }}",


//Bulletin to Actor relations
btoaRelateAs : [
{"en": "Victim", "tr": "{{ _('Victim') }}"},
{"en": "Witness", "tr": "{{ _('Witness') }}"},
{"en": "Perpetrator", "tr": "{{ _('Perpetrator') }}"},
{"en": "Appeared", "tr": "{{ _('Appeared') }}"},
{"en": "Participant", "tr": "{{ _('Participant') }}"},
{"en": "Other", "tr": "{{ _('Other') }}"}
],

// Incident to Actor
itoaRelateAs : [
{"en": "Victim", "tr": "{{ _('Victim') }}"},
{"en": "Witness", "tr": "{{ _('Witness') }}"},
{"en": "Perpetrator", "tr": "{{ _('Perpetrator') }}"},
{"en": "Appeared", "tr": "{{ _('Appeared') }}"},
{"en": "Participant", "tr": "{{ _('Participant') }}"},
{"en": "Other", "tr": "{{ _('Other') }}"}
],

atoaRelateAs : [
{"en": { text: "Same Person", revtext: "Same Person" }, "tr": { text: "{{ _('Same Person')}}", revtext: "{{ _('Same Person')}}" } },
{ "en": { text: "Duplicate", revtext: "Duplicate" }, "tr": { text: "{{ _('Duplicate') }}", revtext: "{{ _('Duplicate') }}" }},
{"en" : { text: "Parent", revtext: "Child" }, "tr" : { text: "{{ _('Parent') }}", revtext: "{{ _('Child') }}" } } ,
{"en": { text: "Child", revtext: "Parent" }, "tr" : { text: "{{ _('Child') }}", revtext: "{{ _('Parent') }}" }},
{"en": { text: "Sibling", revtext: "Sibling" }, "tr": { text: "{{ _('Sibling') }}", revtext: "{{ _('Sibling') }}" }},
{"en": { text: "Spouse", revtext: "Spouse" }, "tr": { text: "{{ _('Spouse') }}", revtext: "{{ _('Spouse') }}" }},
{"en": { text: "Superior officer", revtext: "Subordinate officer" }, "tr": { text: "{{ _('Superior officer')}}", revtext: "{{ _('Subordinate officer')}}" }},
{"en": { text: "Subordinate officer", revtext: "Superior officer" }, "tr": { text: "{{ _('Subordinate officer')}}", revtext: "{{ _('Superior officer')}}" }},
{"en": { text: "Subunit", revtext: "Subunit" }, "tr": { text: "{{ _('Subunit') }}", revtext: "{{ _('Subunit') }}" }},
{"en": { text: "Alleged Perpetrator", revtext: "Alleged Perpetrator" }, "tr": { text: "{{ _('Alleged Perpetrator')}}", revtext: "{{ _('Alleged Perpetrator')}}" }},
{"en": { text: "Member", revtext: "Member" }, "tr": { text: "{{ _('Member') }}", revtext: "{{ _('Member') }}" }},
{"en": { text: "Group", revtext: "Group" }, "tr": { text: "{{ _('Group') }}", revtext: "{{ _('Group') }}" }},
{"en": { text: "Unit", revtext: "Unit" }, "tr": { text: "{{ _('Unit') }}", revtext: "{{ _('Unit') }}" }},
{"en": { text: "Other", revtext: "Other" }, "tr": { text: "{{ _('Other') }}", revtext: "{{ _('Other') }}" }}
],


mediaCats : [
{"en": "Generic", "tr": "{{ _('Generic') }}"},
{"en": "Humans", "tr": "{{ _('Humans') }}"},
{"en": "Signs/Text", "tr": "{{ _('Signs/Text') }}"}
],


probs : [
{"en": "Maybe", "tr": "{{ _('Maybe') }}"},
{"en": "Likely", "tr": "{{ _('Likely') }}"},
{"en": "Certain", "tr": "{{ _('Certain') }}"}
],


btobRelateAs : [
{"en": "Duplicate", "tr": "{{ _('Duplicate') }}"},
{"en": "Other", "tr": "{{ _('Other') }}"},
{"en": "Part of a Series", "tr": "{{ _('Part of a Series') }}"},
{"en": "Same Object", "tr": "{{ _('Same Object') }}"},
{"en": "Same Person", "tr": "{{ _('Same Person') }}"}
],
itobRelateAs : [{"en": "default", "tr": "{{ _('default') }}"}],
itoiRelateAs : [{"en": "default", "tr": "{{ _('default') }}"}],

// Geo markers
geoMarkers_: "{{ _('Geo Markers') }}",
addGeoMarker_: "{{ _('Add Geo Marker') }}",
events_: "{{ _('Events') }}"
}

{% if config.MISSING_PERSONS %}
    // add localized configurations for lists with static values

    translations['physique'] = [
    {"en": "Very thin", "tr": "{{ _('Very thin') }}"},
    {"en": "Thin", "tr": "{{ _('Thin') }}"},
    {"en": "Average", "tr": "{{ _('Average') }}"},
    {"en": "Muscular", "tr": "{{ _('Muscular') }}"},
    {"en": "Overweight", "tr": "{{ _('Overweight') }}"},
    {"en": "Obese", "tr": "{{ _('Obese') }}"}
    ];

    translations['pregnant'] = [
    {"en": "Pregnant", "tr": "{{ _('Pregnant') }}"},
    {"en": "Not Pregnant", "tr": "{{ _('Not Pregnant') }}"},
    {"en": "Unknown", "tr": "{{ _('Unknown') }}"},
    {"en": "Not Applicable", "tr": "{{ _('Not Applicable') }}"},
    {"en": "The Question Was Not Asked", "tr": "{{ _('The Question Was Not Asked') }}"},
    ];

     translations['glasses'] = [
    {"en": "Yes", "tr": "{{ _('Yes') }}"},
    {"en": "No", "tr": "{{ _('No') }}"},
    {"en": "Unknown", "tr": "{{ _('Unknown') }}"},
    ];

    translations['hairLoss'] = [
    {"en": "Full", "tr": "{{ _('Full') }}"},
    {"en": "Bald", "tr": "{{ _('Bald') }}"},
    {"en": "Partial hair loss", "tr": "{{ _('Partial hair loss') }}"}
    ];

    translations['hairType'] = [
    {"en": "Straight", "tr": "{{ _('Straight') }}"},
    {"en": "Wavy", "tr": "{{ _('Wavy') }}"},
    {"en": "Curly", "tr": "{{ _('Curly') }}"},
    {"en": "Very curly", "tr": "{{ _('Very curly') }}"}
    ];


    translations['hairLength'] = [
    {"en": "Very short", "tr": "{{ _('Very short') }}"},
    {"en": "Short", "tr": "{{ _('Short') }}"},
    {"en": "Medium", "tr": "{{ _('Medium') }}"},
    {"en": "Long", "tr": "{{ _('Long') }}"},
    {"en": "Very long", "tr": "{{ _('Very long') }}"}
    ];

    translations['hairColor'] = [
    {"en": "Black", "tr": "{{ _('Black') }}"},
    {"en": "Brown", "tr": "{{ _('Brown') }}"},
    {"en": "Blonde", "tr": "{{ _('Blonde') }}"},
    {"en": "Grey", "tr": "{{ _('Grey') }}"},
    {"en": "Turning grey", "tr": "{{ _('Turning grey') }}"},
    {"en": "Red", "tr": "{{ _('Red') }}"},
    {"en": "Other", "tr": "{{ _('Other') }}"}
    ];
    translations['facialHair']= [
    {"en": "none", "tr": "{{ _('none') }}"},
    {"en": "Beard", "tr": "{{ _('Beard') }}"},
    {"en": "Moustache", "tr": "{{ _('Moustache') }}"},
    {"en": "Beard and moustache", "tr": "{{ _('Beard and moustache') }}"},
    {"en": "Goatee", "tr": "{{ _('Goatee') }}"},
    {"en": "Whiskers", "tr": "{{ _('Whiskers') }}"}
    ];

    translations['skinMarkings'] = [
    {"en": "Scar", "tr": "{{ _('Scar') }}"},
    {"en": "Tattoo", "tr": "{{ _('Tattoo') }}"},
    {"en": "piercing", "tr": "{{ _('piercing') }}"},
    {"en": "Mole", "tr": "{{ _('Mole') }}"},
    {"en": "Birthmarks", "tr": "{{ _('Birthmarks') }}"},
    {"en": "Cuts", "tr": "{{ _('Cuts') }}"}
    ];

    translations['handness'] = [
    {"en": "Right", "tr": "{{ _('Right') }}"},
    {"en": "Left", "tr": "{{ _('Left') }}"},
    {"en": "Both Hands", "tr": "{{ _('Both Hands') }}"},
    {"en": "Unknown", "tr": "{{ _('Unknown') }}"}
    ];

     translations['smoker'] = [
    {"en": "Yes", "tr": "{{ _('Yes') }}"},
    {"en": "No", "tr": "{{ _('No') }}"},
    {"en": "Unknown", "tr": "{{ _('Unknown') }}"},
    {"en": "Question Not Asked", "tr": "{{ _('Question Not Asked') }}"}
    ];

    translations['eyeColor'] = [
    {"en": "Black", "tr": "{{ _('Black') }}"},
    {"en": "Brown", "tr": "{{ _('Brown') }}"},
    {"en": "Green", "tr": "{{ _('Green') }}"},
    {"en": "Blue", "tr": "{{ _('Blue') }}"},
    {"en": "Grey", "tr": "{{ _('Grey') }}"}
    ];

    translations['caseStatus'] = [
    {"en": "Missing", "tr": "{{ _('Missing') }}"},
    {"en": "Identified", "tr": "{{ _('Identified') }}"}
    ];







{% endif %}