translations: {
newBulletin_: "{{_('New Bulletin')}}",
editBulletin_: "{{_('Edit Bulletin')}}",
newActor_: "{{_('New Actor')}}",
editActor_: "{{_('Edit Actor')}}",

query_ : "{{_('Query')}}",
contains_: "{{_('contains')}}",
notContains_: "{{_('Does not contain')}}",
ref_: "{{_('Include Refs')}}",
exRef_: "{{_('Exclude Refs')}}",
publishDate_: "{{_('Publish date')}}",
documentationDate_: "{{_('Documentation date')}}",
createdDate_: "{{_('Creation date')}}",
updatedDate_: "{{_('Last modified date')}}",
eventDate_: "{{_('Event date')}}",
within_ : "{{_('Within')}}",
assignedUser_: "{{_('Assigned user')}}",
unassigned_: "{{ _('Unassigned') }}",
reviewer_: "{{ _('reviewer') }}",
workflowStatus_: "{{ _('Workflow Status') }}",
reviewAction_: "{{ _('Review Action') }}",
includeSources_: "{{ _('Include sources') }}",
excludeSources_: "{{ _('Exclude sources (All)') }}",
any_: "{{ _('Any') }}",
includeLabels_: "{{ _('Include labels') }}",
excludeLabels_: "{{ _('Exclude labels (All)') }}",
includeVerLabels_: "{{ _('Include verified labels') }}",
excludeVerLabels_: "{{ _('Exclude verified labels (All)') }}",
includeLocations_: "{{ _('Include locations') }}",
excludeLocations_: "{{ _('Exclude locations (All)') }}",
includeEventLocations_: "{{ _('Include event locations') }}",
eventType_ : "{{ _('Event type') }}",
clearSearch_: "{{ _('Clear Search') }}",
search_: "{{ _('Search') }}",
saveSearch_ : "{{ _('Save Search') }}",
refineExtendSearch_ : "{{ _('Refine/Extend Search') }}",
loadExistingSearch_ : "{{ _('Load existing search') }}",
occupation_ : "{{ _('Occupation') }}",
occupation_ : "{{ _('Occupation') }}",
position_ : "{{ _('Position') }}",
spokenDialects_ : "{{ _('Spoken dialects') }}",
familyStatus_ : "{{ _('Family Status') }}",
sex_ : "{{ _('Sex') }}",
minorAdult_ : "{{ _('Minor/Adult') }}",
civilian_ : "{{ _('Civilian/Non Civilian') }}",
actorType_ : "{{ _('Actor Type') }}",
ethnography_ : "{{ _('Ethnography') }}",
nationality_ : "{{ _('Nationality') }}",
birthPlace_ : "{{ _('Place of birth') }}",
birthDate_ : "{{ _('Date of birth') }}",
nationalIdCard_ : "{{ _('National ID Card') }}",


},