var geoMapDefaultCenter = {lat: {{ config.get('GEO_MAP_DEFAULT_CENTER_LAT') }}, lng: {{ config.GEO_MAP_DEFAULT_CENTER_LNG }} }

var itemsPerPageOptions =  JSON.parse(`{{ config.ITEMS_PER_PAGE_OPTIONS }}`);

var VIDEO_RATES = JSON.parse(`{{ config.VIDEO_RATES }}`);

var mediaUploadMaxFileSize = JSON.parse(`{{ config.MEDIA_UPLOAD_MAX_FILE_SIZE }}`);

var languages = {{ config.LANGUAGES }};

var translations = {

bulletin_: "{{ _('Bulletin') }}",
actor_: "{{ _('Actor') }}",
incident_: "{{ _('Incident') }}",

newBulletin_: "{{ _('New Bulletin') }}",
editBulletin_: "{{ _('Edit Bulletin') }}",
newActor_: "{{ _('New Actor') }}",
editActor_: "{{ _('Edit Actor') }}",

query_ : "{{ _('Query') }}",
advSearch_ : "{{ _('Advanced Search') }}",
noResults_: "{{ _('No (more) items found.') }}",
hide_: "{{ _('Hide') }}",
relate_: "{{ _('Relate') }}",
contains_: "{{ _('Contains') }}",
notContains_: "{{ _('Does not contain') }}",
tags_: "{{ _('Tags') }}",
inTags_: "{{ _('Include Tags') }}",
exTags_: "{{ _('Exclude Tags') }}",
publishDate_: "{{ _('Publish Date') }}",
documentationDate_: "{{ _('Documentation Date') }}",
createdDate_: "{{ _('Creation Date') }}",
updatedDate_: "{{ _('Last Modified Date') }}",
eventDate_: "{{ _('Event Date') }}",
timingForThisEventIsEstimated_: "{{ _('Timing for this event is estimated') }}",
singleEvent_: "{{ _('Search in a single event') }}",
assignedUser_: "{{ _('Assigned User') }}",
unassigned_: "{{ _('Unassigned') }}",
reviewer_: "{{ _('Reviewer') }}",
workflowStatus_: "{{ _('Workflow Status') }}",
reviewAction_: "{{ _('Review Action') }}",
includeSources_: "{{ _('Include sources') }}",
excludeSources_: "{{ _('Exclude sources (All)') }}",
includeChildSources_: "{{ _('Also include child sources') }}",
any_: "{{ _('Any') }}",
all_: "{{ _('All') }}",
includeLabels_: "{{ _('Include labels') }}",
excludeLabels_: "{{ _('Exclude labels (All)') }}",
includeChildLabels_: "{{ _('Also include child labels') }}",
includeVerLabels_: "{{ _('Include verified labels') }}",
excludeVerLabels_: "{{ _('Exclude verified labels (All)') }}",
includeChildVerLabels_: "{{ _('Also include verified child labels') }}",
includeLocations_: "{{ _('Include locations') }}",
radius_: "{{ _('Radius') }}",
meters_: "{{ _('Meters') }}",
excludeLocations_: "{{ _('Exclude locations (All)') }}",
includeOriginLocations_: "{{ _('Include origin locations (Any)') }}",
excludeOriginLocations_: "{{ _('Exclude origin locations (All)') }}",
includeEventLocations_: "{{ _('Include event locations') }}",
eventType_ : "{{ _('Event type') }}",
geospatial_ : "{{ _('Geospatial') }}",
clearSearch_: "{{ _('Clear Search') }}",
search_: "{{ _('Search') }}",
saveSearch_ : "{{ _('Save Search') }}",
saveSearchAsNew_ : "{{ _('Save As New') }}",
deleteSearch_ : "{{ _('Delete Search') }}",
updateSearch_ : "{{ _('Update Search') }}",
refineExtendSearch_ : "{{ _('Refine/Extend Search') }}",
loadExistingSearch_ : "{{ _('Load existing search') }}",
occupation_ : "{{ _('Occupation') }}",
occupation_ : "{{ _('Occupation') }}",
position_ : "{{ _('Position') }}",
spokenDialects_ : "{{ _('Spoken dialects') }}",
familyStatus_ : "{{ _('Family Status') }}",
sex_ : "{{ _('Sex') }}",
minorAdult_ : "{{ _('Minor/Adult') }}",
civilian_ : "{{ _('Civilian/Non Civilian') }}",
actorType_ : "{{ _('Actor Type') }}",
ethnography_ : "{{ _('Ethnography') }}",
nationality_ : "{{ _('Nationality') }}",
yes_: "{{ _('Yes') }}",
no_: "{{ _('No') }}",
unknown_: "{{ _('Unknown') }}",
details_: "{{ _('details') }}",
name_: "{{ _('Name') }}",
reportingPersons_: "{{ _('Reporting Persons') }}",
contactInfo_: "{{ _('Contact info ( phone, email, address)') }}",
relationship_: "{{ _('Relationship') }}",
save_ : "{{ _('Save') }}",
type_ : "{{ _('Type') }}",
latitude_ : "{{ _('Latitude') }}",
longitude_ : "{{ _('Longitude') }}",
parent_ : "{{ _('Parent') }}",
postalCode_ : "{{ _('Postal Code') }}",
mainIncident_ : "{{ _('Main Incident') }}",
filterRelatedItems_: "{{ _('Filter and display related items in main table') }}",
loadMore_: "{{ _('Load More') }}",
restricted_: "{{ _('Restricted') }}",
unrestricted_: "{{ _('Unrestricted') }}",
and_: "{{ _('And') }}",
or_: "{{ _('Or') }}",
accessRoles_: "{{ _('Access Groups') }}",
noReviewNeeded_: "{{ _('No Review Needed') }}",
needsReview_: "{{ _('Needs Review') }}",
loadGeoMap_: "{{ _('Load Geo Map') }}",
by_: "{{ _('By') }}",
searchLocations_: "{{ _('Search Locations') }}",
locationType_: "{{ _('Location Type') }}",
adminLevel_: "{{ _('Admin Level') }}",
country_: "{{ _('Country') }}",
estimated_: "{{ _('Estimated') }}",
confirm_: "{{ _('Are you sure?')}}",


searchActivities_: "{{ _('Search Activities') }}",

//bulletin/actor/incident cards
id_: "{{ _('ID') }}",
originid_: "{{ _('Origin ID') }}",
edit_: "{{ _('Edit') }}",
visualize_: "{{ _('Visualize') }}",
description_ : "{{ _('Description') }}",
title_: "{{ _('Title') }}",
originalTitle_: "{{ _('Original Title') }}",
sources_: "{{ _('Sources') }}",
labels_: "{{ _('Labels') }}",
verifiedLabels_: "{{ _('Verified Labels') }}",
events_: "{{ _('Events') }}",
media_: "{{ _('Media') }}",
locations_: "{{ _('Locations') }}",
relatedBulletins_: "{{ _('Related Bulletins') }}",
relatedActors_: "{{ _('Related Actors') }}",
relatedIncidents_: "{{ _('Related Incidents') }}",
relationshipInfo_: "{{ _('Relationship Info') }}",
publishDate_: "{{ _('Publish Date') }}",
documentationDate_: "{{ _('Documentation Date') }}",
sourceLink_: "{{ _('Source Link') }}",
comment_ : "{{ _('Comments') }}",
logHistory_: "{{ _('Log History') }}",

// actors
fullName_: "{{ _('Full Name') }}",
nickName_: "{{ _('Nickname(s)') }}",
firstName_: "{{ _('First Name') }}",
middleName_: "{{ _('Middle Name(s)') }}",
lastName_ : "{{ _('Last Name') }}",
fathersName_ : "{{ _('Father\'s Name') }}",
mothersName_ : "{{ _('Mother\'s Name') }}",
sex_ : "{{ _('Sex') }}",
age_ : "{{ _('Age') }}",
civilian_ : "{{ _('Civilian') }}",
actorType_ : "{{ _('Actor Type') }}",

originPlace_ : "{{ _('Place of Origin') }}",

idNumber_ : "{{ _('ID Number') }}",

occupation_ : "{{ _('Occupation') }}",
position_ : "{{ _('Position') }}",
spokenDialects_ : "{{ _('Spoken Dialects') }}",
familyStatus_ : "{{ _('Family Status') }}",

ethnographicInfo_ : "{{ _('Ethnographic Info') }}",
nationalities_ : "{{ _('Nationalities') }}",
nationalIDCard_ : "{{ _('National ID Card') }}",

overview_ : "{{ _('Overview') }}",

// incidents
claimedViolationsCategories_  : "{{ _('Claimed Violations Categories') }}",
potentialViolationsCategories_  : "{{ _('Potential violation categories') }}",

// Geo markers
geoMarkers_: "{{ _('Geo Markers') }}",
addGeoMarker_: "{{ _('Add Geo Marker') }}",

// missing persons
missingPerson_ : "{{ _('Missing Person') }}",

lastAddress_ : "{{ _('Last Address') }}",
marriageHistory_ : "{{ _('Marriage History') }}",
bioChildren_ : "{{ _('Bio Children') }}",
pregnantAtDisappearance_ : "{{ _('Pregnant at Disappearance') }}",
mpAtDisappearance_ : "{{ _('Months Pregnant at Disappearance') }}",
missingRelatives_ : "{{ _('Missing Relatives') }}",
name_ : "{{ _('Name') }}",
address_ : "{{ _('Address') }}",
phone_ : "{{ _('Phone') }}",
email_ : "{{ _('Email') }}",
seenInDetentionCenter_ : "{{ _('Seen in a detention center?') }}",
injuredDisappearance_ : "{{ _('Injured around time of disappearance?') }}",
knownDead_ : "{{ _('Known to be dead?') }}",
deathDetails_ : "{{ _('Details about circumstances of death') }}",
personalItemsEg_ : "{{ _('Personal Items (watch,ring,chains etc)') }}",
height_ : "{{ _('Height') }}",
weight_ : "{{ _('Weight') }}",
physique_ : "{{ _('Physique') }}",
hairloss_ : "{{ _('Hair Loss') }}",
hairtype_ : "{{ _('Hair Type') }}",
hairlength_ : "{{ _('Hair Length') }}",
haircolor_ : "{{ _('Hair Color') }}",
facialhair_ : "{{ _('Facial Hair') }}",
postureNotes_ : "{{ _('Notes on posture and walking style') }}",
skinMarkings_ : "{{ _('Skin Markings') }}",
handedness_ : "{{ _('Handedness') }}",
glasses_ : "{{ _('Glasses') }}",
eyecolor_ : "{{ _('Eye Color') }}",
characteristicsCongenital_ : "{{ _('Distinctive characteristics (congenital)') }}",
characteristicsAcquired_ : "{{ _('Distinctive characteristics (acquired)') }}",
physicalHabits_ : "{{ _('Physical habits') }}",
otherComments_ : "{{ _('Other comments') }}",
physiciansContact_ : "{{ _('Physician\'s name and contact') }}",
fracturesInjuries_ : "{{ _('Fractures / Injuries') }}",
implants_  : "{{ _('Implants ') }}",
congenitalMalformations_ : "{{ _('Congenital malformations') }}",
painAilments_ : "{{ _('Pain and / or ailments') }}",
otherMedicalConditions_ : "{{ _('Other medical conditions') }}",
accidents_ : "{{ _('Accidents') }}",
prescriptionDrugsTaken_ : "{{ _('Prescription drugs taken') }}",
smoker_ : "{{ _('Smoker') }}",
isDentalRecord_ : "{{ _('Is there a Dental Record') }}",
DentistContact_ : "{{ _('Dentist\'s name and contact') }}",
teethFeatures_ : "{{ _('Teeth features') }}",
dentalProblems_ : "{{ _('Dental problems') }}",
dentalTreatments_ : "{{ _('Dental treatments') }}",
dentalHabits_ : "{{ _('Dental habits') }}",
caseStatus_ : "{{ _('Case status') }}",
reporters_ : "{{ _('Reporters') }}",
identifiedBy : "{{ _('Identified by (responsible institution)') }}",
familyNotified_ : "{{ _('Was the family notified?') }}",
reburialLocation_ : "{{ _('Location of reburial') }}",
detailsPersonSawLast_ : "{{ _('Details of the person who saw them last') }}",
//mpfield
contact_ : "{{ _('Contact') }}",


// extras

time_ : "{{ _('Time') }}",
status_: "{{ _('Status') }}",

// visualization
actors_ : "{{ _('Actors') }}",
bulletins_ : "{{ _('Bulletins') }}",
incidents_ : "{{ _('Incidents') }}",
visInfo_ : "{{ _('Double click on a node to expand graph, click and hold CTRL to view') }}",

// import
importDate_: "{{ _('Import Date') }}",
file_: "{{ _('File') }}",
importLog_: "{{ _('Import Log') }}",

// export
requestedOn_ : "{{ _('Requested On') }}",
expiresOn_ : "{{ _('Expires On') }}",
adminActions_ : "{{ _('Admin Actions') }}",
approve_ : "{{ _('Approve') }}",
expireNow_ : "{{ _('Expire Now') }}",
reject_ : "{{ _('Reject') }}",
changeExpiry_ : "{{ _('Change Expiry') }}",
setExpiry_ : "{{ _('Set Expiry') }}",
exportExpiry_ : "{{ _('Export Expiry') }}",


maybe_ : "{{ _('Maybe') }}",
likely_ : "{{ _('Likely') }}",
certain_ : "{{ _('Certain') }}",

// System logs
message_ : "{{ _('Message') }}",
stacktrace_: "{{ _('Stacktrace') }}",
endpoint_: "{{ _('Endpoint') }}",
userid_: "{{ _('User ID') }}",
lineno_: "{{ _('Line No') }}",
path_: "{{ _('Path') }}",
errType_: "{{ _('Error Type') }}",
level_: "{{ _('Level') }}",
time_: "{{ _('Time') }}",
refreshLogs: "{{ _('Refresh available log files and select latest log file') }}",
noLogs: "{{ _('No log files available') }}",

// Notifications
URGENT_: "{{ _('URGENT') }}",
noNotificationsYet_: "{{ _('No notifications yet') }}",
noNotificationsYetDescription_: "{{ _("You haven't received any notifications yet. When you do, they'll appear here.") }}",
loadMore_: "{{ _('Load more') }}",
noMoreNotificationsToLoad_: "{{ _('No more notifications to load.') }}",
notificationsCouldNotBeLoaded_: "{{ _('Oops! Notifications couldn’t be loaded') }}",
weAreHavingTroubleFetchingNotifications_: "{{ _('We’re having trouble fetching your notifications right now. Check your connection or refresh the page.') }}",
couldNotLoadMoreNotifications_: "{{ _('We couldn’t load more notifications. Please try again.') }}",
oops_: "{{ _('Oops') }}",
retry_: "{{ _('Retry') }}",

// Activity Search Box
user_: "{{ _('User') }}",
selType_: "{{ _('Select Type') }}",
selAction_: "{{ _('Select Action') }}",
activityDate_: "{{ _('Activity Date') }}",

// Actor Search Box
selEventType_: "{{ _('Select Event Type') }}",

// Bulletin Search Box
exactMatch_: "{{ _('Exact Match') }}",

// Address
addrLine1_: "{{ _('Address Line 1') }}",
addrLine2_: "{{ _('Address Line 2') }}",
city_: "{{ _('City') }}",
street_: "{{ _('Street') }}",
streetNo_: "{{ _('Street No') }}",

// Editable table
confirmDelete_: "{{ _('Are you sure you want to delete') }}",

//Export card
includeMedia_: "{{ _('Include Media') }}",
exportFormat_: "{{ _('Export format') }}",

// Export Download
download_: "{{ _('Download') }}",

// Relate Incidents
notFound_: "{{ _('Oops! We couldn\'t find this item.') }}",

// User Card
loggedOut_: "{{ _('You have been logged out. Please log in again.') }}",
confirmLogout_: "{{ _('Are you sure you want to log out all sessions for this user?') }}",
userPermissions_: "{{ _('User Permissions') }}",
userTwoFactorMethods_: "{{ _('User 2FA Methods') }}",
noTwoFactorMethods_: "{{ _('2FA Inactive') }}",
canViewUsernames_: "{{ _('Can View Usernames') }}",
cannotViewUsernames_: "{{ _('Cannot View Usernames') }}",
canViewSimpleHistory_: "{{ _('Can View Simple History') }}",
cannotViewSimpleHistory_: "{{ _('Cannot View Simple History') }}",
canViewFullHistory_: "{{ _('Can View Full History') }}",
cannotViewFullHistory_: "{{ _('Cannot View Full History') }}",
canEditLocations_: "{{ _('Can Edit Locations') }}",
cannotEditLocations_: "{{ _('Cannot Edit Locations') }}",
canExport_: "{{ _('Can Export') }}",
cannotExport_: "{{ _('Cannot Export') }}",
canSelfAssign_: "{{ _('Can Self Assign') }}",
cannotSelfAssign_: "{{ _('Cannot Self Assign') }}",
userSessions_: "{{ _('User Sessions') }}",
session_: "{{ _('Session') }}",
ip_: "{{ _('IP') }}",
userAgent_: "{{ _('User Agent') }}",
started_: "{{ _('Started') }}",
logOffDevice_: "{{ _('Log off this device') }}",

// Geomap
enterFullscreen_: "{{ _('View Fullscreen') }}",
exitFullscreen_: "{{ _('Exit Fullscreen') }}",
number_: "{{ _('Number') }}",
coordinates_: "{{ _('Coordinates') }}",
type_: "{{ _('Type') }}",
eventType_: "{{ _('Event Type') }}",
parentId_: "{{ _('Parent ID') }}",

// Media
image_preview_ : "{{ _('Preview Image') }}",
video_preview_ : "{{ _('Play Video') }}",
pdf_preview_ : "{{ _('Open PDF in PDF Viewer') }}",
file_preview_ : "{{ _('Download File') }}",
category_ : "{{ _('Category') }}",
duration_ : "{{ _('Duration') }}",
click_to_copy_ : "{{ _('Click to copy') }}",
etag_ : "{{ _('File Hash') }}",
filename_ : "{{ _('Filename') }}",

// System Administration
defaultsLoaded_: "{{ _('Default settings loaded. Click Save to apply changes.') }}",

// Component Data
include_postal_code_ : "{{ _('Include Postal Code') }}",
logger_ : "{{ _('Logger') }}",
// bulletin location types
bulletinLocTypes_:
[
{"en": "Locations", "tr": "{{ _('Locations') }}", "code": "locations"},
{"en": "Geo Markers", "tr": "{{ _('Geo Markers') }}", "code": "geomarkers"},
{"en": "Events", "tr": "{{ _('Events') }}", "code": "events"}
],

// actor location types
actorLocTypes_:
[
{"en": "Origin Place", "tr": "{{ _('Origin Place') }}", "code": "originplace"},
{"en": "Events", "tr": "{{ _('Events') }}", "code": "events"}
],

//countries
countries : {{ config.COUNTRIES|to_config|tojson }},


actorTypes: [
{"en": "Person", "tr": "{{ _('Person') }}"},
{"en": "Entity", "tr": "{{ _('Entity') }}"}
],

actorSex: [
{"en": "Male", "tr": "{{ _('Male') }}"},
{"en": "Female", "tr": "{{ _('Female') }}"},
],

actorAge: [
{"en": "Minor","tr": "{{ _('Minor') }}"},
{"en": "Adult","tr": "{{ _('Adult') }}"},
{"en": "Unknown","tr": "{{ _('Unknown') }}"}
],

actorCivilian: [
{"en": "Unknown", "tr": "{{ _('Unknown') }}"},
{"en": "Civilian", "tr": "{{ _('Civilian') }}"},
{"en": "Non-Civilian", "tr": "{{ _('Non-Civilian') }}"},
{"en": "Police", "tr": "{{ _('Police') }}"},
{"en": "Other Security Forces", "tr": "{{ _('Other Security Forces') }}"}
],

actorFamilyStatuses: [
{"en": "Single", "tr": "{{ _('Single') }}"},
{"en": "Married", "tr": "{{ _('Married') }}"},
{"en": "Seperated", "tr": "{{ _('Seperated') }}"},
{"en": "Divorced", "tr": "{{ _('Divorced') }}"},
{"en": "Widowed", "tr": "{{ _('Widowed') }}"},
],

//Bulletin to Actor relations
btoaRelateAs : {{ 'atob'|get_data }},

// Incident to Actor
itoaRelateAs : {{ 'itoa'|get_data }},

atoaRelateAs : {{ 'atoa'|get_data }},

btobRelateAs : {{ 'btob'|get_data }},
itobRelateAs : {{ 'itob'|get_data }},
itoiRelateAs : {{ 'itoi'|get_data }},

statuses : {{ 'workflow_status'|get_data }},

probs : [
{"en": "Maybe", "tr": "{{ _('Maybe') }}"},
{"en": "Likely", "tr": "{{ _('Likely') }}"},
{"en": "Certain", "tr": "{{ _('Certain') }}"}
],


loggedOut_: "{{ _('You have been logged out. Please log in again.') }}",
logoutConfirmation_: "{{ _('Are you sure you want to log out all sessions for this user?') }}",
logoutSessionConfirmation_: "{{ _('Are you sure you want to end the session for this device?') }}",
allSessionsLoggedOut_: "{{ _('All sessions for the user have been logged out successfully.') }}",
loggedOutSession_: "{{ _('Logged out session') }}",
errorFetchingSessions_: "{{ _('Error fetching sessions') }}",
errorLoggingOutSession_: "{{ _('Error logging out session') }}",
errorLoggingOutAllSessions_: "{{ _('Error logging out all sessions for user ID:') }}",
userPermissions_: "{{ _('User Permissions') }}",
canViewUsernames_: "{{ _('Can View Usernames') }}",
canViewSimpleHistory_: "{{ _('Can View Simple History') }}",
canViewFullHistory_: "{{ _('Can View Full History') }}",
canEditLocations_: "{{ _('Can Edit Locations') }}",
canExport_: "{{ _('Can Export') }}",
canSelfAssign_: "{{ _('Can Self Assign') }}",
userSessions_: "{{ _('User Sessions') }}",
session_: "{{ _('Session') }}",
ip_: "{{ _('IP') }}",
userAgent_: "{{ _('User Agent') }}",
started_: "{{ _('Started') }}",
logOffThisDevice_: "{{ _('Log off this device') }}",
active_: "{{ _('Active') }}",
inactive_: "{{ _('Inactive') }}",
logoutAllSessions_: "{{ _('Logout All Sessions') }}",
resetPassword_: "{{ _('Reset password') }}",
passwordResetAlreadyRequested_: "{{ _('Password reset already requested.') }}",
passwordResetRequested_: "{{ _('Password reset requested.') }}",
forcePasswordReset_: "{{ _('Force password reset') }}",
revoke2fa_: "{{ _('Revoke 2FA') }}"



}

    // add localized configurations for lists with static values

translations['physique'] = [
    {% for opt in config.CONSTANTS.PHYSIQUE_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['pregnant'] = [
    {% for opt in config.CONSTANTS.PREGNANT_AT_DISAPPEARANCE_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['glasses'] = [
    {% for opt in config.CONSTANTS.CLASSIC_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['hairLoss'] = [
    {% for opt in config.CONSTANTS.HAIR_LOSS_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['hairType'] = [
    {% for opt in config.CONSTANTS.HAIR_TYPE_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['hairLength'] = [
    {% for opt in config.CONSTANTS.HAIR_LENGTH_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['hairColor'] = [
    {% for opt in config.CONSTANTS.HAIR_COLOR_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['facialHair'] = [
    {% for opt in config.CONSTANTS.FACIAL_HAIR_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['skinMarkings'] = [
    {% for opt in config.CONSTANTS.SKIN_MARKINGS_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['handness'] = [
    {% for opt in config.CONSTANTS.HANDEDNESS_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['smoker'] = [
    {% for opt in config.CONSTANTS.SMOKER_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['eyeColor'] = [
    {% for opt in config.CONSTANTS.HAIR_COLOR_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['caseStatus'] = [
    {% for opt in config.CONSTANTS.CASE_STATUS_OPTS %}
        {"en": "{{ opt }}", "tr": "{{ _(opt) }}"},
    {% endfor %}
];

translations['levels'] = {
    "error": "{{ _('Error') }}",
    "warning": "{{ _('Warning') }}",
    "info": "{{ _('Info') }}",
    "debug": "{{ _('Debug') }}"
}

translations['whisperModels'] = [
    {% for model in config.CONSTANTS.WHISPER_MODEL_OPTS %}
        {"en": "{{ model['model_label'] }}", "tr": "{{ _(model['model_label']) }}"},
    {% endfor %}
];

