{% extends 'layout.html' %}
{% block content %}

            <v-main>
                <v-container fluid>
                    <v-row>
                        <v-col cols="12">
                            <v-card>
                                <v-tabs v-model="tab" color="primary">
                                    <v-tab value="labels">{{ _('Labels') }}</v-tab>
                                    <v-tab value="verified">{{ _('Verified Labels') }}</v-tab>
                                </v-tabs>

                                <v-card-text>
                                    <!-- Toolbar -->
                                    <v-toolbar flat color="white" density="compact" class="mb-2">
                                        <v-text-field
                                            v-if="viewMode === 'table'"
                                            variant="outlined"
                                            class="mt-6"
                                            density="compact"
                                            clearable
                                            v-model="q"
                                            @click:clear="resetSearch"
                                            @keydown.enter="refresh()"
                                            label="{{ _('Search') }}">
                                        </v-text-field>

                                        <v-spacer></v-spacer>

                                        <v-btn-toggle v-model="viewMode" mandatory density="compact" class="ma-2">
                                            <v-btn value="table" icon="mdi-table"></v-btn>
                                            <v-btn value="tree" icon="mdi-file-tree"></v-btn>
                                        </v-btn-toggle>

                                        <v-btn
                                            color="primary"
                                            variant="elevated"
                                            class="ma-2"
                                            @click="openCreateDialog">
                                            {{ _('New Item') }}
                                        </v-btn>

                                        {% if current_user.roles_in(['Admin']) %}
                                        <v-btn
                                            color="secondary"
                                            variant="elevated"
                                            class="ma-2"
                                            @click="imDialog = true">
                                            {{ _('Import CSV') }}
                                        </v-btn>
                                        {% endif %}
                                    </v-toolbar>

                                    <!-- Table view -->
                                    <v-data-table-server
                                        v-if="viewMode === 'table'"
                                        height="calc(100vh - 320px)"
                                        fixed-header
                                        @update:options="refresh"
                                        :page="options.page"
                                        :headers="headers"
                                        :items="items"
                                        :loading="loading"
                                        :items-length="itemsLength"
                                        class="elevation-1"
                                    >
                                        <template v-slot:item.parent="{ item }">
                                            ${ item.parent ? item.parent.title : '' }
                                        </template>

                                        <template v-slot:item.for_bulletin="{ item }">
                                            <v-icon v-if="item.for_bulletin" color="primary" size="small">mdi-check</v-icon>
                                        </template>
                                        <template v-slot:item.for_actor="{ item }">
                                            <v-icon v-if="item.for_actor" color="primary" size="small">mdi-check</v-icon>
                                        </template>
                                        <template v-slot:item.for_incident="{ item }">
                                            <v-icon v-if="item.for_incident" color="primary" size="small">mdi-check</v-icon>
                                        </template>
                                        <template v-slot:item.for_offline="{ item }">
                                            <v-icon v-if="item.for_offline" color="primary" size="small">mdi-check</v-icon>
                                        </template>

                                        <template v-slot:item.action="{ item }">
                                            <v-icon size="small" class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
                                            <v-icon size="small" @click="deleteItem(item)">mdi-delete-sweep</v-icon>
                                        </template>

                                        <template v-slot:no-data></template>
                                    </v-data-table-server>

                                    <!-- Tree view -->
                                    <div v-if="viewMode === 'tree'" style="height: calc(100vh - 320px); overflow-y: auto;">
                                        <v-treeview
                                            v-if="treeItems.length"
                                            :items="treeItems"
                                            item-title="title"
                                            item-children="children"
                                            item-value="id"
                                            open-all
                                            density="compact"
                                        >
                                            <template v-slot:prepend="{ item }">
                                                <v-icon size="small">mdi-label</v-icon>
                                            </template>
                                            <template v-slot:append="{ item }">
                                                <v-chip v-if="item.for_bulletin" size="x-small" class="mr-1">B</v-chip>
                                                <v-chip v-if="item.for_actor" size="x-small" class="mr-1">A</v-chip>
                                                <v-chip v-if="item.for_incident" size="x-small" class="mr-1">I</v-chip>
                                                <v-chip v-if="item.for_offline" size="x-small" class="mr-1">O</v-chip>
                                                <v-icon size="small" class="ml-2" @click="editItem(item)">mdi-pencil</v-icon>
                                                <v-icon size="small" class="ml-1" @click="deleteItem(item)">mdi-delete-sweep</v-icon>
                                            </template>
                                        </v-treeview>
                                        <div v-else-if="treeLoading" class="text-center pa-4">
                                            <v-progress-circular indeterminate></v-progress-circular>
                                        </div>
                                        <div v-else class="text-center pa-4 text-grey">{{ _('No labels found') }}</div>
                                    </div>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

                <!-- Create/Edit dialog -->
                <v-dialog v-model="dialog" max-width="900px">
                    <v-card :title="formTitle" class="pa-4">
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-text-field variant="solo" v-model="editedItem.title" label="{{ _('Title') }}"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <v-text-field variant="solo" v-model="editedItem.title_ar" label="{{ _('Title (AR)') }}"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-text-field variant="solo" v-model="editedItem.comments" label="{{ _('Comments') }}"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <v-text-field variant="solo" v-model="editedItem.comments_ar" label="{{ _('Comments (AR)') }}"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" md="6">
                                        <search-field
                                            api="/admin/api/labels/"
                                            item-title="title"
                                            item-subtitle="path"
                                            label="{{ _('Parent') }}"
                                            v-model="editedItem.parent"
                                            item-value="id"
                                            :multiple="false"
                                            :query-params="parentQueryParams"
                                        ></search-field>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <v-alert v-if="parentRestrictions" type="info" density="compact" variant="tonal" class="mt-2">
                                            ${parentRestrictions}
                                        </v-alert>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" md="2">
                                        <v-checkbox
                                            v-model="editedItem.for_bulletin"
                                            :disabled="parentDisables('for_bulletin')"
                                            label="{{ _('Bulletin') }}"
                                        ></v-checkbox>
                                    </v-col>
                                    <v-col cols="12" md="2">
                                        <v-checkbox
                                            v-model="editedItem.for_actor"
                                            :disabled="parentDisables('for_actor')"
                                            label="{{ _('Actor') }}"
                                        ></v-checkbox>
                                    </v-col>
                                    <v-col cols="12" md="2">
                                        <v-checkbox
                                            v-model="editedItem.for_incident"
                                            :disabled="parentDisables('for_incident')"
                                            label="{{ _('Incident') }}"
                                        ></v-checkbox>
                                    </v-col>
                                    <v-col cols="12" md="2">
                                        <v-checkbox
                                            v-model="editedItem.for_offline"
                                            :disabled="parentDisables('for_offline')"
                                            label="{{ _('Offline') }}"
                                        ></v-checkbox>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="close">{{ _('Cancel') }}</v-btn>
                            <v-btn color="primary" variant="elevated" @click="save">{{ _('Save') }}</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <!-- Import CSV dialog -->
                <v-dialog v-model="imDialog" width="500">
                    <v-card>
                        <v-card-title>{{ _('Import CSV') }}</v-card-title>
                        <v-card-text>
                            <v-file-input v-model="csvFile" show-size accept=".csv" label="{{ _('Select CSV File') }}"></v-file-input>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="imDialog=false">{{ _('Cancel') }}</v-btn>
                            <v-btn color="primary" @click="importCSV">{{ _('Save') }}</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-main>

{% endblock %} {% block js %}
    <script src="/static/js/components/SearchField.js"></script>
    <script nonce="{{ csp_nonce() }}">

        const {createApp} = Vue;
        const {createVuetify} = Vuetify;
        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({
            delimiters: delimiters,
            mixins: [globalMixin],
            data: () => ({
                tab: 'labels',
                viewMode: 'table',
                dialog: dialog,
                imDialog: false,
                drawer: drawer,
                loading: true,
                treeLoading: false,
                csvFile: null,
                options: {},

                headers: [
                    {title: "{{_('ID')}}", value: "id", width: 80},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Parent')}}", value: "parent", sortable: false},
                    {title: "{{_('Bulletin')}}", value: "for_bulletin"},
                    {title: "{{_('Actor')}}", value: "for_actor"},
                    {title: "{{_('Incident')}}", value: "for_incident"},
                    {title: "{{_('Offline')}}", value: "for_offline"},
                    {% if current_user.roles_in(['Admin','Mod']) %}
                        {title: "{{_('Actions')}}", value: "action", sortable: false}
                    {% endif %}
                ],

                items: [],
                treeItems: [],
                itemsLength: 10,
                isEditing: false,
                q: '',
                editedItem: {
                    title: "",
                    title_ar: "",
                    comments: "",
                    comments_ar: "",
                    parent: null,
                    verified: false,
                    for_bulletin: false,
                    for_actor: false,
                    for_incident: false,
                    for_offline: false,
                },
                defaultItem: {
                    title: "",
                    title_ar: "",
                    comments: "",
                    comments_ar: "",
                    parent: null,
                    verified: false,
                    for_bulletin: false,
                    for_actor: false,
                    for_incident: false,
                    for_offline: false,
                },
            }),

            computed: {
                formTitle() {
                    return this.isEditing ? "{{_('Edit Item')}}" : "{{_('New Item')}}";
                },
                currentFltr() {
                    return this.tab === 'verified' ? 'verified' : 'all';
                },
                parentQueryParams() {
                    const params = { fltr: this.tab === 'verified' ? 'verified' : '', mode: 2 };
                    if (this.editedItem.id) {
                        params.exclude = this.editedItem.id;
                    }
                    return params;
                },
                parentRestrictions() {
                    const p = this.editedItem.parent;
                    if (!p) return null;
                    const disabled = [];
                    for (const flag of ['for_bulletin', 'for_actor', 'for_incident', 'for_offline']) {
                        if (p[flag] === false) disabled.push(`${flag.replace('for_', '')} disabled by parent`);
                    }
                    return disabled.length ? disabled.join(', ') : null;
                },
            },

            watch: {
                dialog(val) {
                    val || this.close();
                },
                tab() {
                    if (this.viewMode === 'table') {
                        this.refresh();
                    } else {
                        this.loadTree();
                    }
                },
                viewMode(val) {
                    if (val === 'tree') {
                        this.loadTree();
                    } else {
                        this.refresh();
                    }
                },
                'editedItem.parent'(val) {
                    if (val && typeof val === 'object') {
                        // Enforce parent restrictions on flag checkboxes
                        for (const flag of ['for_bulletin', 'for_actor', 'for_incident', 'for_offline']) {
                            if (val[flag] === false) this.editedItem[flag] = false;
                        }
                    }
                },
            },

            methods: {
                parentDisables(flag) {
                    const p = this.editedItem.parent;
                    if (!p || typeof p !== 'object') return false;
                    return p[flag] === false;
                },

                refresh(options) {
                    this.options = options || { ...this.options, page: 1 };
                    this.loading = true;
                    const fltr = this.tab === 'verified' ? 'verified' : '';
                    const fltrParam = fltr ? `&fltr=${fltr}` : '';
                    api.get(`/admin/api/labels/?page=${this.options.page}&per_page=${this.options.itemsPerPage}${fltrParam}&q=${this.q}`).then(response => {
                        this.itemsLength = response.data.total;
                        this.items = response.data.items;
                    }).finally(() => {
                        this.loading = false;
                    });
                },

                loadTree() {
                    this.treeLoading = true;
                    const verified = this.tab === 'verified' ? 'true' : 'false';
                    api.get(`/admin/api/labels/tree?verified=${verified}`).then(response => {
                        this.treeItems = response.data.items;
                    }).finally(() => {
                        this.treeLoading = false;
                    });
                },

                resetSearch() {
                    this.q = '';
                    this.refresh();
                },

                importCSV() {
                    const reqData = new FormData();
                    reqData.append('csv', this.csvFile);
                    api.post('/admin/api/label/import/', reqData).then(response => {
                        this.imDialog = false;
                        this.refresh();
                        this.showSnack(response.data);
                    });
                },

                openCreateDialog() {
                    this.isEditing = false;
                    this.editedItem = Object.assign({}, this.defaultItem);
                    if (this.tab === 'verified') {
                        this.editedItem.verified = true;
                    }
                    this.dialog = true;
                },

                editItem(item) {
                    this.isEditing = true;
                    this.editedItem = Object.assign({}, item);
                    this.dialog = true;
                },

                deleteItem(item) {
                    if (confirm("{{_('Are you sure you want to delete this item?')}}")) {
                        api.delete(`/admin/api/label/${item.id}`).then(response => {
                            this.showSnack(response.data);
                            if (this.viewMode === 'table') this.refresh();
                            else this.loadTree();
                        });
                    }
                },

                close() {
                    this.dialog = false;
                    setTimeout(() => {
                        this.editedItem = Object.assign({}, this.defaultItem);
                        this.isEditing = false;
                    }, 300);
                },

                save() {
                    if (this.isEditing && this.editedItem.id) {
                        api.put(`/admin/api/label/${this.editedItem.id}`, {item: this.editedItem}).then(response => {
                            this.showSnack(response.data);
                            if (this.viewMode === 'table') this.refresh();
                            else this.loadTree();
                        });
                    } else {
                        api.post("/admin/api/label/", {item: this.editedItem}).then(response => {
                            this.showSnack(response.data);
                            if (this.viewMode === 'table') this.refresh();
                            else this.loadTree();
                        });
                    }
                    this.close();
                },
            }
        });
        app.component('SearchField', SearchField);
        app.use(vuetify).mount('#app');
    </script>
{% endblock %}
