{% extends 'layout.html' %} {% block content %}

<div id="app">
  <v-app id="sources" v-cloak>
    {% include 'nav-drawer.html' %} {% include 'nav-bar.html' %}
    <v-main>
            <v-container class="container--fluid">
              <v-row>
                <v-col cols="12">
                  <v-card>
                    <v-card-title>
                      <div class="flex-grow-1"></div>
                    </v-card-title>

                    <v-card-text>
                      <v-data-table
                          height="calc(100vh - 325px)"
                          fixed-header
                        :headers="headers"
                        :items="items"
                        :options.sync="options"
                        :footer-props.sync="footerProps"
                        :loading="loading"
                        :server-items-length="itemsLength"
                        class="elevation-1"
                      >
                        <template v-slot:top>
                          <v-toolbar flat color="white">
                            <v-toolbar-title>{{_('Sources')}}</v-toolbar-title>

                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="770px">
                              {% if current_user.roles_in(['Admin','Mod']) %}
                              <template v-slot:activator="{ on }">
                                <v-btn
                                  color="primary"
                                  dark
                                  @click="newItem"
                                  class="ma-2"
                                  v-on="on"
                                  >{{_('New Item')}}</v-btn
                                >
                              </template>
                              {% endif %}
                              <v-card>
                                <v-card-title>
                                  <span class="headline">${ formTitle }</span>
                                </v-card-title>

                                <v-card-text>
                                  <v-container>
                                    <v-row>
                                      <v-col cols="12" md="4">
                                        <v-text-field
                                          v-model="editedItem.title"
                                         label="{{_('Title')}}"
                                        ></v-text-field>
                                      </v-col>

                                        <v-col cols="12" md="4">
                                          <v-combobox
                                          hide-no-data
                                           label="{{_('Parent')}}"
                                            v-model="editedItem.parent"
                                            :items="parents"
                                           label="{{_('Parent')}}"
                                            item-text="title"
                                            item-value="id"
                                            prepend-inner-icon="mdi-magnify"
                                            :multiple="false"
                                            :clearable="true"
                                            @input.native="searchParents"
                                            :loading="parentLoading"
                                          ></v-combobox>
                                        </v-col>
                                         <v-col cols="12" md="4">
                                        <v-text-field
                                          v-model="editedItem.etl_id"
                                         label="{{_('ETL ID')}}"
                                          disabled
                                        ></v-text-field>

                                      </v-col>
                                      </v-row>
                                    <v-row>

                                       <v-col cols="12" md="12">
                                         <v-textarea
                                                 outlined
                                          v-model="editedItem.comments"
                                         label="{{_('Comments')}}"

                                        ></v-textarea>
                                       </v-col>
                                    </v-row>
                                  </v-container>
                                </v-card-text>

                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close"
                                    >Cancel</v-btn
                                  >
                                  <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="save"
                                    >Save</v-btn
                                  >
                                </v-card-actions>
                              </v-card>
                            </v-dialog>

                            <v-dialog
                            v-model="imDialog"
                            width="500"
                          >
                          {% if current_user.roles_in(['Admin','Mod']) %}
                            <template v-slot:activator="{ on }">
                                <v-btn
                                color="secondary"
                                dark
                                class="ma-2"
                                v-on="on"
                                >{{_('Import CSV')}}</v-btn
                              >
                            </template>
                            {% endif %}
                      
                            <v-card>
                            <v-card-title>
                                <span class="headline">{{_('Import CSV')}}</span>
                              </v-card-title>

                              <v-card-text>
                                <v-container>
                                  <v-row>
                                    <v-col cols="12" md="12">
                                        <v-file-input v-model="csvFile" show-size accept=".csv"label="{{_('Select CSV File')}}"></v-file-input>

                                    </v-col>
                                  </v-row>
                                </v-container>
                              </v-card-text>

                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                  color="blue darken-1"
                                  text
                                  @click="imDialog=false"
                                  >Cancel</v-btn
                                >
                                <v-btn
                                  color="blue darken-1"
                                  text
                                  @click="importCSV"
                                  >Save</v-btn
                                >
                              </v-card-actions>
                            </v-card>

                          </v-dialog>

                          </v-toolbar>
                        </template>
                        <template v-slot:item.action="{ item }">
                          <v-icon small class="mr-2" @click="editItem(item)">
                            mdi-pencil
                          </v-icon>
                          <v-icon small @click="deleteItem(item)">
                            mdi-delete-sweep
                          </v-icon>
                        </template>
                        <template v-slot:no-data> </template>
                      </v-data-table>

                      <v-snackbar v-model="snackbar">
                        ${snackMessage}
                        <v-btn color="pink" text @click="snackbar = false">
                          Close
                        </v-btn>
                      </v-snackbar>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-container>
        </v-layout>
      </v-container>
    </v-main>
      {% include 'footer.html' %}
  </v-app>
</div>

{% endblock %} {% block js %}
<script>
  

  
  let app = new Vue({
    el: "#app",
    vuetify: vuetify,
    delimiters: delimiters,
    data: () => ({
      dialog: dialog,
      imDialog: false,
      drawer: drawer,
      sideNav: sideNav,
      parents: [],
      snackbar: false,
      snackMessage: '',
      loading: true,
      parentLoading: false,
      csvFile: null,
      options: {},
      footerProps: {
        itemsPerPageOptions: itemsPerPageOptions,
          itemsPerPageText: "{{ _('Rows per page')}}"
      },

      headers: [
        { text: "{{('ID')}}", value: "id" },
        { text: "{{_('Title')}}", value: "title" },
        { text: "{{_('ETL ID')}}", value: "etl_id"},
        
        {text: "{{_('Comments')}}", value: "comments" },
        {text: "{{_('Parent')}}", value: "parent.title"},

        {% if current_user.roles_in(['Admin','Mod']) %}
        { text: "{{_('Actions')}}", value: "action", sortable: false }
        {% endif %}
      ],

      items: [],
      itemsLength: 10,
      editedIndex: -1,
      editedItem: {
        title: "",
        parent: {
          'id': null
        }
      },
      defaultItem: {
        title: "",
                parent: null
      }
    }),

    computed: {
      formTitle() {
        return this.editedIndex === -1 ? "{{_('New Item')}}" : "{{_('Edit Item')}}";
      }
    },

    watch: {
      dialog(val) {
        val || this.close();
      },

      options: {
        handler: "refresh",
        immdiate: true
      }
    },

    methods: {
      refresh(options) {
        
        axios.get(`/admin/api/sources/?page=${this.options.page}&per_page=${this.options.itemsPerPage}`).then(response => {
          this.loading = false;
          
          this.itemsLength = response.data.total;
          this.items = response.data.items;
        });
      },

      importCSV () {
        const reqData = new FormData();
        reqData.append('csv',this.csvFile)
        axios.post('/admin/api/source/import/',reqData).then(response => {
          
          this.imDialog = false;
          this.refresh(this.options);
          this.snackMessage = response.data;
          this.snackbar = true;
        })

      },
                     
       searchParents: debounce(function(evt){
         this.parentLoading = true;
         axios.get(`/admin/api/sources/?q=${evt.target.value}`).then(response => {
           this.parents = response.data.items;
           this.parentLoading = false;
         })
       }, 500)

        ,
               newItem(){
    this.editedItem = Object.assign({},this.defaultItem);
      },
        
      editItem(item) {

        
        this.editedIndex = this.items.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.dialog = true;
      },

      deleteItem(item) {
        const index = this.items.indexOf(item);
        const cfm = confirm("Are you sure you want to delete this item?") &&
          this.items.splice(index, 1);
          if (cfm){
          axios.delete(`/admin/api/source/${item.id}`)
          .then(response => {
            this.snackMessage = response.data;
             this.snackbar = true;
             this.refresh(this.options)
          })
        }
      },

      close() {
        this.dialog = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },

      save() {
        if (this.editedIndex > -1) {
          Object.assign(this.items[this.editedIndex], this.editedItem);
          //update record 
          axios.put(`/admin/api/source/${this.editedItem.id}`,{item: this.editedItem})
          .then(response => {
            this.snackMessage = response.data;
             this.snackbar = true;
             this.refresh(this.options)
          })
        } else {
          this.items.push(this.editedItem);
          //create new record
          axios
            .post("/admin/api/source/", { item: this.editedItem })
            .then(response => {
              
              this.snackMessage = response.data;
             this.snackbar = true;
             this.refresh(this.options)
            });
        }
        this.close();
      }
    }
  });
</script>
{% endblock %}
