{% extends 'layout.html' %} {% block content %}


            <v-main>
                <v-container  fluid>

                            <v-card>
                                <v-card-title>
                                    <div class="flex-grow-1"></div>
                                </v-card-title>

                                <v-card-text>
                                    <v-data-table-server
                                            height="calc(100vh - 260px)"
                                            fixed-header
                                            :headers="headers"
                                            :items="items"
                                            @update:options="refresh"
                                            :page="options.page"
                                            :loading="loading"
                                            :items-length="itemsLength"
                                            class="elevation-1"
                                    >
                                        <template v-slot:top>
                                            <v-toolbar flat color="white">
                                                <v-toolbar-title>{{ _('Sources') }}</v-toolbar-title>

                                            <v-text-field
                                            variant="outlined"
                                            class="mt-6"
                                            density="compact"
                                            clearable
                                            @click:clear="resetSearch"
                                            v-model="q"
                                            label="{{ _('Search') }}"
                                            @keydown.enter="refresh()"
                                            ></v-text-field>

                                                <v-spacer></v-spacer>

                                                <v-btn
                                                    color="primary"
                                                    variant="elevated"
                                                    class="ma-2"
                                                    @click="newItem"
                                                    >{{ _('New Item') }}
                                                </v-btn>

                                                <v-dialog v-model="dialog" max-width="770px">
                                                    <v-card :title="formTitle">
                                                        <v-form ref="form" @submit.prevent="save">
                                                            <v-card-text>
                                                                <v-container>
                                                                    <v-row>
                                                                        <v-col cols="12" md="4">
                                                                            <v-text-field
                                                                                    v-model="editedItem.title"
                                                                                    :rules="[validationRules.required()]"
                                                                            >
                                                                                <template v-slot:label>{{ _('Title') }} <Asterisk /></template>
                                                                            </v-text-field>
                                                                        </v-col>

                                                                        <v-col cols="12" md="6">

                                                                            <search-field
                                                                                    v-model="editedItem.parent"
                                                                                    api="/admin/api/sources/"
                                                                                    item-title="title"
                                                                                    item-value="id"
                                                                                    :multiple="false"
                                                                                    :return-object="true"
                                                                                    label="{{ _('Parent') }}"
                                                                            ></search-field>
                                                                        </v-col>
                                                                        <v-col cols="12" md="2">
                                                                            <v-text-field
                                                                                    v-model="editedItem.etl_id"
                                                                                    label="{{ _('Origin ID') }}"
                                                                                    disabled
                                                                            ></v-text-field>

                                                                        </v-col>
                                                                    </v-row>
                                                                    <v-row>

                                                                        <v-col cols="12" md="12">
                                                                            <v-textarea
                                                                                    outlined
                                                                                    v-model="editedItem.comments"
                                                                                    label="{{ _('Comments') }}"

                                                                            ></v-textarea>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-container>
                                                            </v-card-text>

                                                            <v-card-actions>
                                                                <v-spacer></v-spacer>
                                                                <v-btn
                                                                        color="blue darken-1"
                                                                        text
                                                                        @click="close"
                                                                >{{ _('Cancel') }}
                                                                </v-btn
                                                                >
                                                                <v-btn
                                                                        color="blue darken-1"
                                                                        text
                                                                        type="submit"
                                                                >{{ _('Save') }}
                                                                </v-btn
                                                                >
                                                            </v-card-actions>
                                                        </v-form>
                                                    </v-card>
                                                </v-dialog>

                                                {% if current_user.roles_in(['Admin']) %}
                                                <import-csv-dialog endpoint="/admin/api/source/import/" @import="refresh()"></import-csv-dialog>
                                                {% endif %}
                                            </v-toolbar>
                                        </template>
                                        <template #['item.comments']="{ item }">
                                            <div class="line-clamp-1">${item.comments}</div>
                                        </template>
                                        <template v-slot:item.action="{ item }">
                                            <v-icon small class="mr-2" @click="editItem(item)">
                                                mdi-pencil
                                            </v-icon>
                                            <v-icon small @click="deleteItem(item)">
                                                mdi-delete-sweep
                                            </v-icon>
                                        </template>
                                        <template v-slot:no-data></template>
                                    </v-data-table-server>

                                </v-card-text>
                            </v-card>

                </v-container>

            </v-main>

{% endblock %} {% block js %}
    <script src="/static/js/components/SearchField.js"></script>
    <script src="/static/js/components/Asterisk.js"></script>
    <script src="/static/js/components/ImportCsvDialog.js"></script>
    <script nonce="{{ csp_nonce() }}">


       const {createApp} = Vue;
        const {createVuetify} = Vuetify;
        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({
            delimiters: delimiters,
            mixins: [globalMixin],
            
            data: () => ({
                dialog: dialog,
                validationRules: validationRules,
                drawer: drawer,
                parents: [],
                loading: true,
                parentLoading: false,
                options: {},

                headers: [
                    {title: "{{('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Origin ID')}}", value: "etl_id"},

                    {title: "{{_('Comments')}}", value: "comments"},
                    {title: "{{_('Parent')}}", value: "parent.title"},

                    {% if current_user.roles_in(['Admin','Mod']) %}
                        {title: "{{_('Actions')}}", value: "action", sortable: false}
                    {% endif %}
                ],

                items: [],
                itemsLength: 10,
                editedIndex: -1,
                q: '',
                editedItem: {
                    title: "",
                    parent: {
                        'id': null
                    }
                },
                defaultItem: {
                    title: "",
                    parent: null
                }
            }),

            computed: {
                formTitle() {
                    return this.editedIndex === -1 ? "{{_('New Item')}}" : "{{_('Edit Item')}}";
                }
            },

            watch: {
                dialog(val) {
                    val || this.close();
                },


            },

            methods: {
                refresh(options) {
                    this.options = options || { ...this.options, page: 1 };
                    this.loading = true;

                    api.get(`/admin/api/sources/?page=${this.options.page}&per_page=${this.options.itemsPerPage}&q=${this.q}`).then(response => {

                        this.itemsLength = response.data.total;
                        this.items = response.data.items;
                    }).finally(() => {
                        this.loading = false;
                    });
                },

                resetSearch() {
                    this.q = '';
                    this.refresh()
                },

                newItem() {

                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.dialog = true;

                },

                editItem(item) {


                    this.editedIndex = this.items.indexOf(item);
                    this.editedItem = Object.assign({}, item);
                    this.dialog = true;
                },

                deleteItem(item) {
                    const index = this.items.indexOf(item);
                    const cfm = confirm("{{ _('Are you sure you want to delete this item?') }}") &&
                        this.items.splice(index, 1);
                    if (cfm) {
                        api.delete(`/admin/api/source/${item.id}`)
                            .then(response => {
                                this.showSnack(response.data);
                                this.refresh()
                            })
                    }
                },

                close() {
                    this.dialog = false;
                    setTimeout(() => {
                        this.editedItem = Object.assign({}, this.defaultItem);
                        this.editedIndex = -1;
                    }, 300);
                },

                save() {
                    this.$refs.form.validate().then(({ valid }) => {
                        if (!valid) {
                            this.showSnack("{{ _('Please review form for errors.') }}");
                            return;
                        }

                        if (this.editedIndex > -1) {
                            Object.assign(this.items[this.editedIndex], this.editedItem);
                            //update record
                            api.put(`/admin/api/source/${this.editedItem.id}`, {item: this.editedItem})
                                .then(response => {
                                    this.showSnack(response.data);
                                    this.refresh()
                                    this.close();
                                })
                        } else {
                            //create new record
                            axios
                                .post("/admin/api/source/", {item: this.editedItem})
                                .then(response => {
                                    this.showSnack(response.data);
                                    this.refresh();
                                    this.close();

                                })
                        }
                    });
                }
            }
        });

        app.component('SearchField', SearchField)
        app.component('Asterisk', Asterisk)
        app.component('ImportCsvDialog', ImportCsvDialog)

        app.use(vuetify).mount("#app")
    </script>
{% endblock %}
