{% extends 'layout.html' %} {% block content %}
    <v-main>
        <v-container fluid>
            <v-card style="height: calc(100vh - 96px)">
                <v-card-title class="px-5 py-5">
                    <div class="d-flex align-center justify-space-between">
                        <div>
                            <div class="mb-3">
                                {{ _('System Update:') }}
                                <span>Bayanat v2.9.0 <v-chip color="primary">Latest</v-chip></span>
                            </div>
                            <div class="text-body-2 mb-2 font-weight-medium">{{ _('Your system is up to date') }}</div>
                            <div class="text-body-2 mb-2">{{ _('Last successful check for update:') }}<span>October 14,2025</span><span>12:33 PM</span></div>
                        </div>
                        <div class="d-flex ga-3">
                            <v-btn prepend-icon="mdi-history" variant="outlined">{{ _('Update History') }}</v-btn>
                            <v-btn prepend-icon="mdi-cached" color="primary" variant="outlined">{{ _('Check for Updates') }}</v-btn>
                        </div>
                    </div>
                </v-card-title>

                <v-divider></v-divider>

                <v-card-text class="px-5 overflow-y-auto" style="height: calc(100vh - 185px)">
                    <div class="d-flex align-center justify-space-between mb-1">
                        <div>
                            Version: Bayanat v2.9.0
                        </div>
                        <div>
                            <v-btn append-icon="mdi-open-in-new">{{ _('Previous Release Notes') }}</v-btn>
                        </div>
                    </div>
                    <div class="d-flex ga-4 flex-column">
                        <v-expansion-panels>
                            <v-expansion-panel
                                title="Title"
                                text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore voluptatibus! Eaque cupiditate minima"
                            >
                            </v-expansion-panel>
                        </v-expansion-panels>
                        <v-expansion-panels>
                            <v-expansion-panel
                                title="Title"
                                text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore voluptatibus! Eaque cupiditate minima"
                            >
                            </v-expansion-panel>
                        </v-expansion-panels>
                        <v-expansion-panels>
                            <v-expansion-panel
                                title="Title"
                                text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore voluptatibus! Eaque cupiditate minima"
                            >
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </div>
                </v-card-text>
            </v-card>
        </v-container>

    </v-main>

{% endblock %} {% block js %}
    <script>

        const {createApp} = Vue;
        const {createVuetify} = Vuetify;
        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({

            delimiters: delimiters,
            mixins: [globalMixin],

            data: () => ({
                dialog: dialog,
                imDialog: false,
                drawer: drawer,
                loading: true,
                csvFile: null,
                options: {},

                headers: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Title')}}", value: "title"},
                    {title: "{{_('Title (ar)')}}", value: "title_ar"},
                    {title: "{{_('For Actors')}}", value: "for_actor"},
                    {title: "{{_('For Bulletins')}}", value: "for_bulletin"},
                    {title: "{{_('Comments')}}", value: "comments"},
                    {% if current_user.roles_in(['Admin','Mod']) %}
                        {title: "{{_('Actions')}}", value: "action", sortable: false}
                    {% endif %}
                ],

                items: [],
                itemsLength: 10,
                editedIndex: -1,
                editedItem: {
                    title: ""
                },
                defaultItem: {
                    title: ""
                }
            }),

            computed: {
                formTitle() {
                    return this.editedIndex === -1 ? "{{_('New Item')}}" : "{{_('Edit Item')}}";
                }
            },

            watch: {
                dialog(val) {
                    val || this.close();
                },


            },

            methods: {
                refresh(options) {
                    this.options = options || { ...this.options, page: 1 };
                    this.loading = true;

                    api.get(`/admin/api/eventtypes/?page=${this.options.page}&per_page=${this.options.itemsPerPage}`).then(response => {

                        this.itemsLength = response.data.total;
                        this.items = response.data.items;
                    }).finally(() => {
                        this.loading = false;
                    });
                },

                importCSV() {
                    const reqData = new FormData();
                    reqData.append('csv', this.csvFile)
                    api.post('/admin/api/eventtype/import/', reqData).then(response => {

                        this.imDialog = false;
                        this.refresh();
                        this.showSnack(response.data);
                    })

                },

                editItem(item) {
                    this.editedIndex = this.items.indexOf(item);
                    this.editedItem = Object.assign({}, item);
                    this.dialog = true;
                },

                deleteItem(item) {
                    const index = this.items.indexOf(item);
                    const cfm = confirm("{{ _('Are you sure you want to delete this item?') }}") &&
                        this.items.splice(index, 1);
                    if (cfm) {
                        api.delete(`/admin/api/eventtype/${item.id}`)
                            .then(response => {
                                this.showSnack(response.data);
                                this.refresh()
                            })
                    }
                },

                close() {
                    this.dialog = false;
                    setTimeout(() => {
                        this.editedItem = Object.assign({}, this.defaultItem);
                        this.editedIndex = -1;
                    }, 300);
                },
                newItem() {
                    this.editedIndex = -1;
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.dialog = true;
                },

                save() {
                    if (this.editedIndex > -1) {
                        Object.assign(this.items[this.editedIndex], this.editedItem);
                        api.put(`/admin/api/eventtype/${this.editedItem.id}`, {item: this.editedItem})
                            .then(response => {
                                this.showSnack(response.data);
                                this.refresh();
                                this.close();
                            }).catch(err => {
                            this.showSnack(this.parseValidationError(err?.response?.data));
                        })

                    } else {
                        
                        api.post("/admin/api/eventtype/", {item: this.editedItem})
                        .then(response => {
                                this.showSnack(response.data);
                                this.refresh();
                                this.close();
                            }).catch(err => {
                            this.showSnack(this.parseValidationError(err?.response?.data));
                        })
                    }
                }
            }
        });
        app.use(vuetify).mount("#app")
    </script>
{% endblock %}
