{% extends 'layout.html' %}

{% block content %}
    <v-main>
        <v-container fluid>

            <v-card>
                <v-card-text>
                    <v-data-table-server
                            height="calc(100vh - 331px)"
                            fixed-header
                            :headers="headers"
                            :items="items"
                            :loading="loading"
                            @click:row="rowClick"
                            :items-length="itemsLength"
                            @update:options="refresh"
                            :page="options.page"
                            class="elevation-1"
                    >
                        <template v-slot:top>
                            <div class="d-flex flex-column ga-10 w-100 py-2 px-7">
                                <div class="d-flex align-center ga-10 w-100">
                                    <v-toolbar-title class="flex-0-0">{{ _('System Users') }}</v-toolbar-title>

                                    <v-text-field
                                        v-model="search"
                                        @update:model-value="searchUsers"
                                        class="flex-grow-1"
                                        variant="outlined"
                                        density="comfortable"
                                        hide-details
                                        prepend-inner-icon="mdi-magnify"
                                        placeholder="{{ _('Search for a system user') }}"
                                        clearable
                                    ></v-text-field>

                                    <div class="d-flex align-center ga-3">
                                        <v-btn
                                            @click="openForcePasswordResetAllDialog()"
                                            color="error"
                                            variant="elevated"
                                            prepend-icon="mdi-lock-reset"
                                        >
                                            {{ _('Force Global Password Reset') }}
                                        </v-btn>
        
                                        <v-btn
                                            @click="createItem"
                                            color="primary"
                                            variant="elevated"
                                            prepend-icon="mdi-plus"
                                        >
                                            {{ _('New User') }}
                                        </v-btn>
                                    </div>
                                </div>
                                <div class="d-flex align-center ga-5 w-100">
                                    <div>{{ _('Filter') }}
                                        <v-tooltip v-if="activeCount('twoFactor') || activeCount('roles') || activeCount('active')" location="top" text="{{ _('Clear filters') }}">
                                            <template #activator="{props}">
                                                <v-btn v-bind="props" icon="mdi-filter-off-outline" size="small"
                                                    @click="options = {}; refresh()"
                                                ></v-btn>
                                            </template>
                                        </v-tooltip>
                                    </div>

                                    <!-- Account Status -->
                                    <v-menu>
                                        <template #activator="{ props }">
                                            <v-btn
                                                variant="outlined"
                                                append-icon="mdi-menu-down"
                                                v-bind="props"
                                            >
                                            <v-badge
                                                v-if="activeCount('active')"
                                                location="top right"
                                                :offset-x="-14"
                                                :offset-y="4"
                                                color="primary"
                                                dot
                                                class="mr-4"
                                            >
                                                {{ _('Account Status') }}
                                            </v-badge>
                                            <template v-else>{{ _('Account Status') }}</template>
                                            </v-btn>
                                        </template>

                                        <v-list>
                                            <v-list-item
                                                v-for="option in accountStatusOptions"
                                                :key="option.value"
                                                @click="options.active = option.value; refresh()"
                                                :active="options.active === option.value"
                                                color="primary"
                                            >
                                                <v-list-item-title><v-icon v-if="options.active === option.value" start>mdi-check</v-icon>${option.name}</v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                    </v-menu>

                                    <!-- Roles (multi-select) -->
                                    <v-menu>
                                        <template #activator="{ props }">
                                            <v-btn
                                                variant="outlined"
                                                append-icon="mdi-menu-down"
                                                v-bind="props"
                                            >
                                            <v-badge
                                                v-if="activeCount('roles')"
                                                location="top right"
                                                :offset-x="-14"
                                                :offset-y="activeCount('roles') === 1 ? 4 : 5"
                                                color="primary"
                                                :content="activeCount('roles')"
                                                :dot="activeCount('roles') === 1"
                                                class="mr-4"
                                            >
                                                {{ _('Roles') }}
                                            </v-badge>
                                            <template v-else>{{ _('Roles') }}</template>
                                            </v-btn>
                                        </template>

                                        <v-list>
                                            <v-list-item
                                                v-for="role in [{ 'id': 0, 'name': 'View Only'}, ...roles]"
                                                :key="role.id"
                                                @click="setRoleFilters(role.id); refresh()"
                                                :active="Boolean(options?.roles?.includes(role.id))"
                                                color="primary"
                                            >
                                            <v-checkbox
                                                :model-value="Boolean(options?.roles?.includes(role.id))"
                                                :label="role.name"
                                                hide-details
                                            />
                                            </v-list-item>
                                        </v-list>
                                    </v-menu>

                                    <!-- Two-Factor Authentication -->
                                    <v-menu>
                                        <template #activator="{ props }">
                                            <v-btn
                                            variant="outlined"
                                            append-icon="mdi-menu-down"
                                            v-bind="props"
                                            >
                                            <v-badge
                                                v-if="activeCount('twoFactor')"
                                                location="top right"
                                                :offset-x="-14"
                                                :offset-y="4"
                                                color="primary"
                                                dot
                                                class="mr-4"
                                            >
                                                {{ _('Two-Factor Authentication') }}
                                            </v-badge>
                                            <template v-else>{{ _('Two-Factor Authentication') }}</template>
                                            </v-btn>
                                        </template>

                                        <v-list>
                                            <v-list-item
                                                v-for="option in twoFactorOptions"
                                                :key="option.value"
                                                @click="options.twoFactor = option.value; refresh()"
                                                :active="options.twoFactor === option.value"
                                                color="primary"
                                            >
                                                <v-list-item-title><v-icon v-if="options.twoFactor === option.value" start>mdi-check</v-icon>${option.name}</v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                    </v-menu>
                                </div>
                            </div>
                        </template>


                        <template v-slot:item.action="{ item }">
                            <div class="d-flex">
                                <v-tooltip location="top" text="{{ _('Edit User') }}">
                                    <template #activator="{props}">
                                        <div v-bind="props" class="d-inline-block">
                                            <v-btn
                                                @click.stop="editItem(item)"
                                                variant="plain"
                                                size="small"
                                                icon="mdi-pencil">
                                            </v-btn>
                                        </div>
                                    </template>
                                </v-tooltip>
                                <v-tooltip
                                    location="top"
                                    text="{{ _('Change Password') }}"
                                >
                                    <template #activator="{props}">
                                        <div v-bind="props">
                                        <v-btn
                                            density="comfortable"
                                            variant="plain"
                                            icon="mdi-form-textbox-password"
                                            @click.stop="openChangePasswordDialog(item)"
                                        ></v-btn>
                                        </div>
                                    </template>
                                </v-tooltip>
                                <v-tooltip location="top"
                                        :text="item.force_reset ? '{{ _('Password reset already requested.') }}' : '{{ _('Force Password Reset') }}'">
                                    <template #activator="{props}">
                                        <div v-bind="props" class="d-inline-block">
                                            <v-btn
                                                :disabled="item.force_reset != null"
                                                @click.stop="openForcePasswordResetDialog(item)"
                                                variant="plain"
                                                size="small"
                                                icon="mdi-lock-reset">
                                            </v-btn>
                                            <v-icon v-if="item.force_reset" class="ml-n3" color="error">mdi-exclamation-thick</v-icon>
                                        </div>
                                    </template>
                                </v-tooltip>

                                <v-tooltip location="top"
                                        v-if="item?.two_factor_devices?.length > 0"
                                        :text="'{{ _('Revoke 2FA') }}'">
                                    <template #activator="{props}">
                                        <v-btn
                                                @click.stop="openRevoke2FADialog(item.id)"
                                                variant="plain"
                                                v-bind="props"
                                                size="small"
                                                icon="mdi-lock-remove">
                                        </v-btn>
                                        
                                    </template>
                                </v-tooltip>
                            </div>
                        </template>

                        <template v-slot:item.2fa="{ item }">
                            <v-tooltip location="top"
                                       :text="item.two_factor_devices && item.two_factor_devices.length > 0 ? '{{ _('2FA Active') }}' : '{{ _('2FA Inactive') }}'">
                                <template #activator="{props}">
                                    <div v-if="item.two_factor_devices && item.two_factor_devices.length > 0" class="d-flex ga-2 font-weight-medium text-success">
                                        <v-icon
                                            color="success"
                                            v-bind="props"
                                            size="small"
                                        >
                                            mdi-lock-check
                                        </v-icon>
                                        {{ _('2FA Active') }}
                                    </div>
                                    <div v-else class="d-flex ga-2 font-weight-medium text-warning">
                                        <v-icon
                                                color="warning"
                                                v-bind="props"
                                                size="small"
                                        >
                                            mdi-lock-open-alert
                                        </v-icon>
                                        {{ _('2FA Inactive') }}
                                    </div>
                                </template>
                            </v-tooltip>
                        </template>

                        <template v-slot:item.access_level="{ item }">
                            <template v-if="item.access_level">
                                <v-chip v-for="level in item?.access_level" class="ma-1">
                                    <v-icon start size="x-large">${getIconFromAccessLevel(level)}</v-icon>
                                    ${level.name}
                                </v-chip>
                            </template>
                            <template v-else>
                                <v-chip class="ma-1">
                                    <v-icon start size="x-large">mdi-account-cancel</v-icon>
                                    {{ _('Disabled') }}
                                </v-chip>
                            </template>
                        </template>

                        <template v-slot:item.roles="{ item }">
                            <v-chip v-for="role in item.roles" class="ma-1">
                                ${role.name}
                            </v-chip>
                        </template>

                        <template v-slot:no-data></template>
                    </v-data-table-server>

                    <v-dialog v-model="dialog" fullscreen>
                        <v-card rounded="lg">
                            <v-toolbar :title="formTitle" color="dark-primary">
                                <template #append>
                                    <div class="d-flex align-center ga-2 mr-2">
                                        <v-btn
                                            @click="validateFormAndSave"
                                            prepend-icon="mdi-check"
                                            variant="flat"
                                            text="{{ _('Save Changes') }}"
                                            :loading="saving"
                                        ></v-btn>
                                        <v-btn icon density="comfortable" @click="close">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </div>
                                </template>
                            </v-toolbar>
                            <v-divider></v-divider>
                            <v-form ref="form" v-model="valid">
                                <v-card-text>
                                    <v-container>
                                        <div class="mb-3 text-body-1">{{ _('User Details') }}</div>
                                        <v-row>
                                            <v-col cols="12" md="6">
                                                <v-text-field
                                                        v-model="editedItem.name"
                                                        :rules="[
                                                            validationRules.required(),
                                                        ]"
                                                        variant="filled"
                                                        v-bind="serverErrorPropsForField(serverErrors, 'item.name')"
                                                >
                                                    <template #label>{{ _('Full Name') }}<span class="text-red">*</span></template>
                                                </v-text-field>
                                            </v-col>
                                            <v-col>
                                                <v-text-field
                                                    variant="filled"
                                                    :class="isUsernameAvailable ? 'text-success' : undefined"
                                                    :hint="isUsernameAvailable ? '{{ _('Username available') }}' : undefined"
                                                    v-model="editedItem.username"
                                                    :rules="[
                                                        validationRules.required(),
                                                        validationRules.minLength(4),
                                                        validationRules.checkUsername({ initialUsername, onResponse: onUsernameCheckResponse })
                                                    ]"
                                                    @input="isUsernameAvailable = false"
                                                    v-bind="serverErrorPropsForField(serverErrors, 'item.username')"
                                                >
                                                    <template #label>{{ _('Username') }}<span class="text-red">*</span></template>
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12" :md="isNewUser ? 6 : 12">
                                                <v-text-field
                                                    variant="filled"
                                                    label="{{ _('Email') }}"
                                                    v-model="editedItem.email"
                                                    v-bind="serverErrorPropsForField(serverErrors, 'item.email')"
                                                    type="email"
                                                ></v-text-field>
                                            </v-col>
                                            <v-col v-if="isNewUser" cols="12" md="6">
                                                <v-text-field
                                                    variant="filled"
                                                    :class="isStrongPassword ? 'text-success' : undefined"
                                                    :hint="isStrongPassword ? '{{ _('Strong password') }}' : undefined"
                                                    v-model="editedItem.password"
                                                    :append-inner-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                    :type="showPassword ? 'text' : 'password'"
                                                    @click:append-inner="showPassword = !showPassword"
                                                    :rules="[
                                                        validationRules.required(),
                                                        validationRules.minLength({{ config.SECURITY_PASSWORD_LENGTH_MIN }}),
                                                        validationRules.checkPassword({ onResponse: onPasswordCheckResponse })
                                                    ]"
                                                    @input="isStrongPassword = false"
                                                >
                                                    <template #label>{{ _('Password') }}<span class="text-red">*</span></template>
                                                </v-text-field>
                                            </v-col>
                                        </v-row>

                                        <div class="mb-3 text-body-1">{{ _('Access Levels') }}</div>
                                        <div class="mb-7">
                                            <div class="d-flex flex-wrap ga-3 mb-2">
                                                <v-btn-toggle
                                                    :model-value="Math.max(accessLevels.findIndex(level => level.value === editedItem?.access_level?.value), 0)"
                                                    @update:model-value="updateAccessLevel($event)"
                                                    variant="outlined"
                                                    divided
                                                    color="primary"
                                                >
                                                    <v-btn v-for="(accessLevel) in accessLevels" :key="accessLevel.value">${accessLevel.name}</v-btn>
                                                </v-btn-toggle>
                                            </div>
                                            <span class="text-caption text-medium-emphasis">${editedItem.access_level?.description || accessLevels[0]?.description}</span>
                                        </div>

                                        <v-row>
                                            <v-col v-if="['full_access'].includes(editedItem.access_level?.value)" cols="12" md="6">
                                                <div class="mb-3 text-body-1">{{ _('System Role') }}</div>
                                                <div class="d-flex flex-wrap ga-3 mb-7">
                                                    <toggle-button
                                                        v-for="role in roles"
                                                        :key="role.id"
                                                        :model-value="isRoleSelected(role)"
                                                        @update:model-value="toggleRole(role)"
                                                        @close="editedItem.roles = []"
                                                        hide-left-icon
                                                    >
                                                        ${role.name}
                                                    </toggle-button>
                                                </div>
                                            </v-col>
                                            <v-col v-if="['view_only', 'full_access'].includes(editedItem.access_level?.value)" cols="12" md="6">
                                                <div class="mb-3 text-body-1">{{ _('Access Role') }}</div>
                                                <div class="d-flex flex-wrap ga-3 mb-7">
                                                    <toggle-button
                                                        v-for="role in accessRoles"
                                                        :key="role.id"
                                                        :model-value="isAccessRoleSelected(role)"
                                                        @update:model-value="toggleAccessRole(role)"
                                                        :read-only="editedUserHasAdminRole"
                                                    >
                                                        ${role.name}
                                                    </toggle-button>
                                                </div>
                                            </v-col>
                                        </v-row>


                                        <template v-if="['view_only', 'full_access'].includes(editedItem.access_level?.value)">
                                            <div class="mb-3 text-body-1">{{ _('User Permissions') }}<span v-if="editedUserHasAdminRole" class="text-caption text-medium-emphasis font-italic ml-2">{{ _('(Admins have full permissions by default)') }}</span></div>
                                            <div class="d-flex flex-wrap ga-3 mb-7">
                                                <toggle-button v-model="editedItem.view_usernames" :read-only="editedUserHasAdminRole">
                                                    {{ _('Can View Usernames') }}
                                                </toggle-button>

                                                <toggle-button v-model="editedItem.view_full_history" :read-only="editedUserHasAdminRole">
                                                    {{ _('Can View Full History') }}
                                                </toggle-button>

                                                <toggle-button v-model="editedItem.view_simple_history" :read-only="editedUserHasAdminRole">
                                                    {{ _('Can View Simple History') }}
                                                </toggle-button>

                                                <toggle-button v-model="editedItem.can_self_assign" :read-only="editedUserHasAdminRole">
                                                    {{ _('Can Self-Assign') }}
                                                </toggle-button>

                                                <toggle-button v-model="editedItem.can_edit_locations" :read-only="editedUserHasAdminRole">
                                                    {{ _('Can Edit Locations') }}
                                                </toggle-button>

                                                <toggle-button v-model="editedItem.can_export" :read-only="editedUserHasAdminRole">
                                                    {{ _('Can Request Exports') }}
                                                </toggle-button>

                                                <toggle-button v-model="editedItem.can_import_web" :read-only="editedUserHasAdminRole">
                                                    {{ _('Can Import From Web') }}
                                                </toggle-button>
                                            </div>
                                        </template>
                                    </v-container>
                                </v-card-text>
                            </v-form>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="changePasswordDialog" persistent max-width="780">
                        <v-card rounded="lg">
                            <v-form ref="changePasswordForm" v-model="valid">
                                <v-card-text class="pa-7">
                                    <div class="text-h6 mb-4">${translations.changePasswordForUser_(editedItem.name)}</div>
                                    <div class="mb-3">{{ _('Set a temporary password for this user.') }}</div>
                                    <v-text-field
                                        variant="filled"
                                        :class="isStrongPassword ? 'text-success' : undefined"
                                        :hint="isStrongPassword ? '{{ _('Strong password') }}' : undefined"
                                        v-model="editedItem.password"
                                        :append-inner-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                        :type="showPassword ? 'text' : 'password'"
                                        @click:append-inner="showPassword = !showPassword"
                                        :rules="[
                                            validationRules.required(),
                                            validationRules.minLength({{ config.SECURITY_PASSWORD_LENGTH_MIN }}),
                                            validationRules.checkPassword({ onResponse: onPasswordCheckResponse })
                                        ]"
                                        @input="isStrongPassword = false"
                                >
                                    <template #label>{{ _('Temporary Password') }}<span class="text-red">*</span></template>
                                </v-text-field>
                                    <v-checkbox v-model="askUserToChangePassword" color="blue" class="text-medium-emphasis text-body-2" label="{{ _('Ask user to change password when they sign in') }}"></v-checkbox>
                                </v-card-text>
                            </v-form>
                            <v-card-actions class="px-7 pb-7 pt-0">
                                <v-btn @click="closeChangePasswordDialog()" variant="outlined">{{ _('Cancel') }}</v-btn>
                                <v-btn @click="validateChangePasswordFormAndSave()" :loading="saving" color="primary" variant="flat">{{ _('Change Password') }}</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-card-text>
            </v-card>

        </v-container>

    </v-main>
    {% include 'admin/partials/user_drawer.html' %}


{% endblock %} {% block js %}
    <script src="/static/js/components/UserCard.js"></script>
    <script src="/static/js/components/ToggleButton.js"></script>

    <script>

        const {createApp} = Vue;
        const {createVuetify} = Vuetify;
        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({
            delimiters: delimiters,
            data: () => ({
                dialog: dialog,
                loading: true,
                saving: false,
                showPassword: false,
                drawer: drawer,
                translations: window.translations,
                validationRules: validationRules,
                options: {},
                search: '',

                headers: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Username')}}", value: "username"},
                    {title: "{{_('Email')}}", value: "email"},
                    {title: "{{_('Name')}}", value: "name"},
                    {title: "{{_('Access Level')}}", value: "access_level"},
                    {title: "{{_('Groups')}}", value: "roles"},
                    {title: "{{_('Two-Factor Authentication')}}", value: "2fa"},
                    {title: "{{_('Actions')}}", value: "action", sortable: false}
                ],

                items: [],
                itemsLength: 10,
                editedIndex: -1,
                roles: [],
                editedItem: {},
                defaultItem: {
                    active: false
                },
                isAdmin: false,
                userDrawer: false,
                user: null,
                session_id: '{{ session.sid }}',
                valid: false,
                initialUsername: null,
                isUsernameAvailable: false,
                isStrongPassword: false,
                serverErrors: {},
                adminRoleId: 1,
                changePasswordDialog: false,
                askUserToChangePassword: true,

                accessLevels: [
                    { name: "{{ _('Disabled') }}", value: 'disabled', description: "{{ _('User cannot access Bayanat unless their access level is changed.') }}" },
                    { name: "{{ _('Write Only') }}", value: 'write_only', description: "{{ _('Users can add items in Actors, Bulletins, and Incidents but cannot view existing database content.') }}" },
                    { name: "{{ _('View Only') }}", value: 'view_only', description: "{{ _('Users can view items in Actors, Bulletins, and Incidents but cannot edit or add new items.') }}" },
                    { name: "{{ _('Full Access') }}", value: 'full_access', description: "{{ _('User can view, add, and modify data in the database according to their system role.') }}" },
                ],
                accessRoles: [
                    { name: "{{ _('Incident Access') }}", value: 'incident_access' },
                    { name: "{{ _('Actor Access') }}", value: 'actor_access' },
                    { name: "{{ _('Bulletin Access') }}", value: 'bulletin_access' },
                ],
                accountStatusOptions: [
                    { name: 'Active', value: 'true' },
                    { name: 'Inactive', value: 'false' },
                ],
                twoFactorOptions: [
                    { name: 'Active', value: 'true' },
                    { name: 'Inactive', value: 'false' },
                ],
            }),

            mixins: [globalMixin],

            computed: {
                editedUserHasAdminRole() {
                    return this.editedItem?.roles?.some(role => role.id === this.adminRoleId) ?? false;
                },
                isNewUser() {
                    return !this.editedItem?.id;
                },
                formTitle() {
                    return this.isNewUser ? "{{_('Add New User')}}" : "{{_('Edit User')}}";
                },
            },

            created() {
                this.getRoles();
            },

            watch: {
                dialog(val) {
                    if (!val) {
                        this.close();
                    }
                },

                userDrawer: function (val) {
                    if (val === false) {

                        if (this.$route.path !== '/admin/users/')
                            this.$router.push('/admin/users/')
                    }
                },


            },
            mounted() {

                if (this.$route.params.id) {
                    this.showUser(this.$route.params.id);
                }

                this.$router.afterEach((to, from, next) => {

                    if (this.$route.params.id) {
                        this.showUser(this.$route.params.id);
                    } else {
                        this.userDrawer = false;
                    }

                })
            },


            methods: {
                getIconFromAccessLevel(level) {
                    if (level.value === 'disabled') return 'mdi-account-cancel';
                    if (level.value === 'view_only') return 'mdi-eye';
                    if (level.value === 'write_only') return 'mdi-pencil';
                    if (level.value === 'full_access') return 'mdi-account-key';
                },
                activeCount(key) {
                    const val = this.options?.[key]
                    if (Array.isArray(val)) return val.length
                    return val ? 1 : 0
                },
                setRoleFilters(role) {
                    if (!this.options?.roles) this.options.roles = []

                    const roles = this.options.roles
                    if (roles.includes(role)) {
                        this.options.roles = roles.filter((r) => r !== role)
                    } else {
                        this.options.roles.push(role)
                    }
                },
                onUsernameCheckResponse(response) {
                    if (this.editedItem.username === this.initialUsername) {
                        this.isUsernameAvailable = false
                    } else {
                        this.isUsernameAvailable = response === true
                    }
                },
                onPasswordCheckResponse(response) {
                    this.isStrongPassword = response === true
                },

                validateFormAndSave(options) {
                    this.$refs.form.validate().then(({ valid, errors }) => {
                        if (valid) {
                            this.save(options);
                        } else {
                            this.showSnack("{{ _('Please review the form for errors.')}}")
                            scrollToFirstError()
                        }
                    });
                },
                validateChangePasswordFormAndSave(options) {
                    this.$refs.changePasswordForm.validate().then(({ valid, errors }) => {
                        if (valid) {
                            this.changePassword(options);
                        } else {
                            this.showSnack("{{ _('Please review the form for errors.')}}")
                            scrollToFirstError()
                        }
                    });
                },

                showUser(user_id) {
                    api.get(`/admin/api/user/${user_id}`).then(response => {
                        this.user = response.data;
                        this.userDrawer = true;
                    }).catch(err => {
                        console.error(err);
                    });

                },
                refreshUser(user_id) {
                    api.get(`/admin/api/user/${user_id}`).then(response => {
                        this.user = response.data;
                    })
                },

                openRevoke2FADialog(userId) {
                    this.$confirm({
                        title: "{{ _('You’re about to revoke two-factor authentication for this user') }}",
                        message: "{{ _('After this action, the user’s registered 2FA devices will be removed. They will no longer be required to use two-factor authentication until it is reconfigured.') }}\r\n\r\n{{ _('Do you want to continue?') }}",
                        acceptProps: { text: "{{ _('Revoke 2FA') }}", color: 'error' },
                        dialogProps: { width: 780 },
                        onAccept: () => {
                            api.delete(`/admin/api/user/revoke_2fa`, {
                                params: {user_id: userId}
                            })
                                .then(response => {
                                    this.showSnack(response.data);
                                    this.refresh();
                                    this.dialog = false;

                                    if (this.userDrawer) this.refreshUser(userId);
                                })
                                .catch(err => {
                                    console.error(err);
                                    this.showSnack(this.parseValidationError(err?.response?.data));
                                });
                        },
                    });
                },


                rowClick(e, row) {
                    const item = row.item;
                    const path = `/admin/users/${item.id}`;
                    if (this.$route.path !== path)
                        this.$router.push(path);

                },

                forcePasswordReset(item) {
                    this.saving = true
                    api.post('/admin/api/user/force-reset',
                        {item: item}
                    ).then(res => {
                        this.showSnack(res.data);
                        this.refresh();
                        if (this.userDrawer) this.refreshUser(item.id);
                    }).catch(err => {
                        console.error(err?.response?.data);
                    }).finally(() => {
                        this.saving = false;
                    })
                },

                logoutAllUserSessions(userId) {
                    axios
                        .delete(`/admin/api/user/${userId}/sessions/logout`)
                        .then((response) => {
                            this.showSnack(this.translations.allSessionsLoggedOut_);
                        })
                        .catch((err) => {
                            console.error('Error logging out all sessions for user ID:', userId, err);
                        });
                },

                openLogoutAllUserSessionsDialog(userId) {
                    this.$confirm({
                        title: "{{ _('You’re about to log out all active sessions for this user') }}",
                        message: "{{ _('After this action, the user will be signed out from all devices and will need to log in again. This will not affect their data or settings.') }}\r\n\r\n{{ _('Do you want to continue?') }}",
                        acceptProps: { text: "{{ _('Log Out All Sessions') }}", color: 'error' },
                        dialogProps: { width: 780 },
                        onAccept: () => {
                            this.logoutAllUserSessions(userId);
                        },
                    });
                },

                checkUsername:
                    debounce(function (evt) {
                        api.post('/admin/api/checkuser/', {item: this.editedItem.username}, { suppressGlobalErrorHandler: true }).then(
                            res => {

                            }
                        ).catch(
                            err => {
                                this.$refs.form.setErrors({'item.username': [err.response.data]});
                            }
                        ).finally(
                            () => {

                            }
                        )

                    }, 350)

                ,
                getRoles() {

                    api.get(`/admin/api/roles/`).then(response => {

                        this.roles = response.data.items;
                    });

                },

                checkRoles() {
                    this.isAdmin = this.editedUserHasAdminRole;
                    if (this.isAdmin) {
                        this.editedItem.view_usernames = true;
                        this.editedItem.view_simple_history = true;
                        this.editedItem.view_full_history = true;
                        this.editedItem.can_self_assign = true;
                        this.editedItem.can_edit_locations = true;
                        this.editedItem.can_export = true;
                        this.editedItem.can_import_web = true;
                        this.editedItem.access_roles = [...this.accessRoles];
                        return true;
                    }
                    return false;
                },

                refresh(options) {
                    this.options = options || { ...this.options, page: 1 };
                    this.loading = true;

                    const params = new URLSearchParams({
                        page: this.options?.page ?? 1,
                        per_page: this.options.itemsPerPage ?? 10,
                    });

                    if (this.options?.q) params.append('q', this.options.q);
                    if (this.options?.active) params.append('active', this.options.active);
                    if (this.options?.roles?.length) params.append('roles', this.options.roles);
                    if (this.options?.twoFactor) params.append('twoFactor', this.options.twoFactor);

                    api.get(`/admin/api/users/?${params.toString()}`)
                        .then(res => {
                            this.items = res.data.items;
                            this.itemsLength = res.data.total;
                        })
                        .catch(err => {
                            console.error(err?.response?.data);
                        })
                        .finally(() => {
                            this.loading = false;
                        });
                },

                openChangePasswordDialog(item) {
                    this.editedItem = { ...(item || {}), password: '' };
                    this.changePasswordDialog = true;
                    this.askUserToChangePassword = true;
                },

                openForcePasswordResetDialog(item) {
                    this.$confirm({
                        title: translations.youreAboutToForceAPasswordResetForUser_(item.name),
                        message: "{{ _('After this action, user will be required to set a new password at their next sign-in. This will not affect any user data or settings.') }}\r\n\r\n{{ _('Do you want to continue?') }}",
                        acceptProps: { text: "{{ _('Force Password Reset') }}", color: 'error' },
                        dialogProps: { width: 780 },
                        onAccept: () => {
                            this.forcePasswordReset(item);
                        },
                    });
                },

                openForcePasswordResetAllDialog() {
                    this.$confirm({
                        title: "{{ _('You’re about to force a password reset for all users') }}",
                        message: "{{ _('After this action, all users will be required to set a new password at their next sign-in. This will not affect any user data or settings.') }}\r\n\r\n{{ _('Do you want to continue?') }}",
                        acceptProps: { text: "{{ _('Force All Password Resets') }}", color: 'error' },
                        dialogProps: { width: 780 },
                        onAccept: () => {
                            this.loading = true;
                            api.post('/admin/api/user/force-reset-all').then(res => {
                                this.showSnack(res.data);
                            }).catch(err => {
                                console.error(err?.response?.data);
                            }).finally(() => {
                                this.loading = false;
                            })
                        },
                    });
                },

                createItem() {
                    this.editedItem = {...this.defaultItem};
                    this.dialog = true;
                },

                editItem(item) {
                    this.userDrawer = false;
                    this.editedIndex = this.items.indexOf(item);
                    this.editedItem = {...item};
                    this.isUsernameAvailable = false;
                    this.initialUsername = item.username;
                    this.dialog = true;
                },


                close() {
                    this.dialog = false;
                    this.showPassword = false;
                    this.isAdmin = false;
                    this.initialUsername = null;
                    this.isUsernameAvailable = false;
                    setTimeout(() => {
                        this.serverErrors = {};
                        this.isStrongPassword = false;
                        this.editedItem = Object.assign({}, this.defaultItem);
                        this.editedIndex = -1;
                    }, 300);
                },

                closeChangePasswordDialog() {
                    this.changePasswordDialog = false;
                    setTimeout(() => {
                        this.askUserToChangePassword = true;
                        this.serverErrors = {};
                        this.isStrongPassword = false;
                        this.editedItem = Object.assign({}, this.defaultItem);
                    }, 300);
                },

                save(options) {
                    const handleError = (err) => {
                        const usernameAlreadyTaken = err?.response?.status === 409
                        const errors = err?.response?.data?.errors
                        if (errors || usernameAlreadyTaken) {
                            this.serverErrors = errors
                            // Override email message for something simpler
                            if (this.serverErrors?.['item.email']) this.serverErrors['item.email'] = [translations.emailInvalid_];
                            if (this.serverErrors?.['item.username']) this.serverErrors['item.username'] = [translations.usernameInvalid_];
                            if (usernameAlreadyTaken) this.serverErrors = { ...this.serverErrors, ['item.username']: [translations.usernameAlreadyTaken_]};

                            this.$nextTick(() => scrollToFirstError())
                            this.showSnack(handleRequestError(err))
                        }
                    }

                    this.saving = true;

                    const payload = this.applyAccessLevelRules({...this.editedItem});

                    // edit mode
                    if (payload.id) {
                        api.put(`/admin/api/user/`, {item: payload}, { suppressGlobalErrorHandler: true })
                            .then(response => {
                                this.refresh();
                                this.showSnack(response.data);
                                this.close();
                                options?.callback?.()
                            }).catch(handleError)
                            .finally(() => {
                                this.saving = false;
                            });

                    } else {
                        // create mode
                        axios
                            .post("/admin/api/user/", {item: payload}, { suppressGlobalErrorHandler: true })
                            .then(response => {
                                this.refresh();
                                this.showSnack(response.data);
                                this.close();
                            })
                            .catch(handleError)
                            .finally(() => {
                                this.saving = false;
                            });;
                    }

                },
                async changePassword() {
                    try {
                        this.saving = true;
                        const response = await api.put(`/admin/api/user/`, { item: this.editedItem }, { suppressGlobalErrorHandler: true });
                        this.showSnack(response.data);

                        if (this.askUserToChangePassword && this.editedItem?.force_reset === null) {
                            await this.forcePasswordReset({ item: this.editedItem });
                        }

                        await this.refresh();
                        this.closeChangePasswordDialog();
                    } catch (err) {
                        this.showSnack(handleRequestError(err))
                    } finally {
                        this.saving = false;
                    }
                },
                isRoleSelected(role) {
                    return this.editedItem?.roles?.some(r => r.id === role.id)
                },
                toggleRole(role) {
                    if (!this.editedItem?.roles) this.editedItem.roles = []
                    this.editedItem.roles = [role]
                    this.checkRoles();
                },
                isAccessRoleSelected(role) {
                    return this.editedItem?.access_roles?.some(r => r.value === role.value)
                },
                toggleAccessRole(role) {
                    if (!this.editedItem?.access_roles) this.editedItem.access_roles = []
                    
                    const index = this.editedItem.access_roles.findIndex(r => r.value === role.value)
                    if (index !== -1) {
                        this.editedItem.access_roles.splice(index, 1) // remove
                    } else {
                        this.editedItem.access_roles.push(role) // add
                    }
                },
                searchUsers: debounce(function (evt) {
                    this.refresh({ ...this.options, q: evt })
                }, 350),
                updateAccessLevel(index) {
                    const selectedAccessLevel = this.accessLevels[index] || this.accessLevels[0];
                    this.editedItem.access_level = selectedAccessLevel;
                },
                applyAccessLevelRules(item) {
                    const { value } = item.access_level;

                    if (value === 'disabled') {
                        item.active = false;
                        item.roles = [];
                    } else if (value === 'view_only') {
                        item.active = true;
                        item.roles = [];
                    } else if (value === 'write_only') {
                        item.active = true;
                    } else if (value === 'full_access') {
                        item.active = true;
                    }

                    return item
                }
            }
        });

        app.component('UserCard', UserCard);
        app.component('ToggleButton', ToggleButton);
        app.use(router).use(vuetify).mount('#app')
    </script>
{% endblock %}
