{% extends 'layout.html' %}

{% block content %}
    <v-main>
        <v-container fluid>

            <v-card>
                <v-card-text>
                    <v-data-table-server
                            height="calc(100vh - 260px)"
                            fixed-header
                            :headers="headers"
                            :items="items"
                            :loading="loading"
                            @click:row="rowClick"
                            :items-length="itemsLength"
                            @update:options="refresh"
                            :page="options.page"
                            class="elevation-1"
                    >
                        <template v-slot:top>
                            <v-toolbar flat color="white">
                                <v-toolbar-title>{{ _('System Users') }}</v-toolbar-title>

                                <v-spacer></v-spacer>

                                <v-btn @click.once="forceGlobalReset" class="ma-2" color="error" variant="elevated">
                                    {{ _('Force Global Password Reset') }}
                                </v-btn>

                                <v-btn @click="createItem" class="ma-2" color="primary" variant="elevated">
                                    {{ _('New User') }}
                                </v-btn>
                            </v-toolbar>
                        </template>


                        <template v-slot:item.action="{ item }">
                            <v-icon class="mr-2" @click.stop="editItem(item)">
                                mdi-pencil
                            </v-icon>
                            <v-tooltip location="top"
                                       :text="item.force_reset ? '{{ _('Password reset already requested.') }}' : '{{ _('Force password reset') }}'">
                                <template #activator="{props}">
                                    <div v-bind="props" class="d-inline-block">
                                        <v-btn
                                            :disabled="item.force_reset != null"
                                            @click.stop="forcePassReset(item)"
                                            variant="plain"
                                            size="small"
                                            icon="mdi-lock-reset">
                                        </v-btn>
                                    </div>
                                </template>
                            </v-tooltip>

                            <v-tooltip location="top"
                                    v-if="item.two_factor_devices && item.two_factor_devices.length > 0"
                                    :text="'{{ _('Revoke 2FA') }}'">
                                <template #activator="{props}">
                                    <v-btn
                                            @click.stop="revoke2fa(item.id)"
                                            variant="plain"
                                            color="warning"
                                            v-bind="props"
                                            size="small"
                                            icon="mdi-lock-remove">
                                    </v-btn>
                                </template>
                            </v-tooltip>

                            <v-tooltip location="top" text="{{ _('Password reset requested.') }}">
                                <template #activator="{props}">
                                    <v-btn icon="mdi-exclamation-thick" size="small" color="error" variant="plain"
                                           v-bind="props" v-if="item.force_reset">
                                    </v-btn>
                                </template>
                            </v-tooltip>

                        </template>

                        <template v-slot:item.2fa="{ item }">
                            <v-tooltip location="top"
                                       :text="item.two_factor_devices && item.two_factor_devices.length > 0 ? '{{ _('2FA Active') }}' : '{{ _('2FA Inactive') }}'">
                                <template #activator="{props}">
                                    <v-icon
                                            v-if="item.two_factor_devices && item.two_factor_devices.length > 0"
                                            color="success"
                                            v-bind="props"
                                            size="small"
                                    >
                                        mdi-lock-check
                                    </v-icon>
                                    <v-icon
                                            v-else
                                            color="error"
                                            v-bind="props"
                                            size="small"
                                    >
                                        mdi-lock-open-alert
                                    </v-icon>
                                </template>
                            </v-tooltip>
                        </template>

                        <template v-slot:item.active_status="{ item }">
                            <v-tooltip location="top"
                                       :text="item.active === true ? '{{ _('Active') }}' : '{{ _('Inactive') }}'">
                                <template #activator="{props}">
                                    <v-icon
                                        :color="item.active ? 'success' : 'grey'"
                                        :icon="item.active ? 'mdi-account-check' : 'mdi-account-cancel'"
                                        v-bind="props"
                                        size="small"
                                    />
                                </template>
                            </v-tooltip>
                        </template>

                        <template v-slot:item.roles="{ item }">

                            <v-chip size="small" v-for="role in item.roles" class="ma-1">
                                ${role.name}
                            </v-chip>
                            <v-chip class="ma-1" v-if="!item.roles.length" size="small" color="grey"
                            >{{ _('View Only') }}
                            </v-chip>


                        </template>

                        <template v-slot:no-data></template>
                    </v-data-table-server>
                    <v-dialog v-model="dialog" max-width="1200px">
                        <v-card>
                        <v-form ref="form" v-model="valid">
                            <v-toolbar :title="formTitle">
                                <template #append>
                                    <v-btn icon @click="close">
                                        <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                </template>
                            </v-toolbar>
                            <v-card-text>
                                <v-container>
                                    <v-row>

                                        <v-col cols="12" md="4">
                                            <v-text-field
                                                    label="{{ _('Full Name') }}"
                                                    v-model="editedItem.name"
                                                    :rules="[
                                                        validationRules.required(),
                                                    ]"
                                            ></v-text-field>

                                        </v-col>
                                        <v-col cols="12" md="4">

                                            <div class="d-flex">

                                                <v-text-field
                                                        label="{{ _('Email') }}"
                                                        :disabled="disableEmail"
                                                        v-model="editedItem.email"
                                                        v-bind="serverErrorPropsForField(serverErrors, 'item.email')"
                                                        type="email"
                                                ></v-text-field>
                                                <v-btn @click.stop="enableEmail"
                                                       v-if="editedItem.id" class="my-auto mx-1"
                                                       icon="mdi-pencil"
                                                       size="small"
                                                       variant="plain"
                                                >

                                                </v-btn>
                                            </div>
                                        </v-col>
                                        <v-col cols="12" md="4">

                                            <div class="d-flex align-center">

                                                <v-text-field
                                                        label="{{ _('Password') }}"
                                                        :class="isStrongPassword ? 'text-success' : undefined"
                                                        :hint="isStrongPassword ? '{{ _('Strong password') }}' : undefined"
                                                        :disabled="disablePassword"
                                                        v-model="editedItem.password"
                                                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                        :type="showPassword ? 'text' : 'password'"
                                                        @click:append="showPassword = !showPassword"
                                                        :rules="disablePassword ? [] : [
                                                            validationRules.required(),
                                                            validationRules.minLength({{ config.SECURITY_PASSWORD_LENGTH_MIN }}),
                                                            validationRules.checkPassword({ onResponse: onPasswordCheckResponse })
                                                        ]"
                                                        @input="isStrongPassword = false"
                                                >
                                                </v-text-field>

                                                <v-btn @click.stop="enablePassword"
                                                       v-if="editedItem.id" class="mb-3 mx-1"
                                                       icon="mdi-pencil"
                                                       size="small"
                                                       variant="plain"
                                                >

                                                </v-btn>

                                            </div>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            <div class="d-flex">
                                                <v-text-field
                                                              label="{{ _('Username') }}"
                                                              :class="isUsernameAvailable ? 'text-success' : undefined"
                                                              :hint="isUsernameAvailable ? '{{ _('Username available') }}' : undefined"
                                                              :disabled="disableUsername"
                                                              v-model="editedItem.username"
                                                              :rules="disableUsername ? [] : [
                                                                    validationRules.required(),
                                                                    validationRules.minLength(4),
                                                                    validationRules.checkUsername({ initialUsername, onResponse: onUsernameCheckResponse })
                                                                ]"
                                                              @input="isUsernameAvailable = false"
                                                              v-bind="serverErrorPropsForField(serverErrors, 'item.username')"
                                                ></v-text-field>

                                                <v-btn @click.stop="enableUsername"
                                                       v-if="editedItem.id" class="my-auto mx-1"
                                                       icon="mdi-pencil"
                                                       size="small"
                                                       variant="plain"
                                                >

                                                </v-btn>
                                            </div>


                                        </v-col>
                                        <v-col cols="4" md="4">
                                            <v-select
                                                    :items="roles"
                                                    item-title="name"
                                                    item-value="id"
                                                    v-model="editedItem.roles"
                                                    label="{{ _('Groups') }}"
                                                    return-object
                                                    multiple
                                                    @update:model-value="checkRoles"
                                            ></v-select>

                                        </v-col>
                                        <v-col cols="12" md="4">
                                            <v-switch color="primary" label="{{ _('Active') }}"
                                                      v-model="editedItem.active"></v-switch>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" md="3">
                                            <v-switch :disabled="isAdmin" color="primary" label="{{ _('Can view usernames') }}"
                                                      v-model="editedItem.view_usernames"></v-switch>
                                        </v-col>
                                        <v-col cols="12" md="3">
                                            <v-switch :disabled="isAdmin" color="primary" label="{{ _('Can view simple history') }}"
                                                      v-model="editedItem.view_simple_history"></v-switch>
                                        </v-col>
                                        <v-col cols="12" md="3">
                                            <v-switch :disabled="isAdmin" color="primary" label="{{ _('Can view Full History') }}"
                                                      v-model="editedItem.view_full_history"></v-switch>
                                        </v-col>
                                        <v-col cols="12" md="3">
                                            <v-switch :disabled="isAdmin" color="primary" label="{{ _('Can self assign') }}"
                                                      v-model="editedItem.can_self_assign"></v-switch>

                                        </v-col>
                                        <v-col cols="12" md="3">
                                            <v-switch :disabled="isAdmin" color="primary" label="{{ _('Can edit Locations') }}"
                                                      v-model="editedItem.can_edit_locations"></v-switch>

                                        </v-col>

                                        <v-col cols="12" md="3">
                                            <v-switch :disabled="isAdmin" color="primary" label="{{ _('Can Request Exports') }}"
                                                      v-model="editedItem.can_export"></v-switch>
                                        </v-col>

                                        <v-col cols="12" md="3">
                                            <v-switch :disabled="isAdmin" color="primary" label="{{ _('Can Import from Web') }}"
                                                      v-model="editedItem.can_import_web"></v-switch>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                            <v-card-text class="text-center">
                                <v-btn v-if="editedItem.two_factor_devices?.length"  prepend-icon="mdi-lock-remove" class="mx-2" @click="revoke2fa(editedItem.id)">
                                    {{ _('Revoke 2FA') }}
                                </v-btn>

                                <v-btn v-if="editedItem?.id" @click.once="logoutAllUserSessions(editedItem.id)" color="error">
                                    <v-icon left>mdi-logout</v-icon>
                                    {{ _('Logout All Sessions') }}
                                </v-btn>
                            </v-card-text>

                            <v-card-actions class="pa-4">
                                <v-spacer></v-spacer>
                                <v-btn @click="close" text>{{ _('Close') }}</v-btn>
                                <v-btn @click="validateFormAndSave" color="primary" variant="elevated">
                                    {{ _('Save') }}
                                </v-btn>
                            </v-card-actions>
                        </v-form>
                        </v-card>
                    </v-dialog>


                </v-card-text>
            </v-card>

        </v-container>

    </v-main>
    {% include 'admin/partials/user_drawer.html' %}


{% endblock %} {% block js %}
    <script src="/static/js/components/UserCard.js"></script>

    <script>

        const {createApp} = Vue;
        const {createVuetify} = Vuetify;
        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({
            delimiters: delimiters,
            data: () => ({
                dialog: dialog,
                loading: true,
                showPassword: false,
                drawer: drawer,
                translations: window.translations,
                validationRules: validationRules,
                options: {},

                headers: [
                    {title: "{{_('ID')}}", value: "id"},
                    {title: "{{_('Username')}}", value: "username"},
                    {title: "{{_('Email')}}", value: "email"},
                    {title: "{{_('Name')}}", value: "name"},
                    {title: "{{_('Account Status')}}", value: "active_status"},
                    {title: "{{_('Groups')}}", value: "roles"},
                    {title: "{{_('Two Factor Authentication')}}", value: "2fa"},
                    {title: "{{_('Actions')}}", value: "action", sortable: false}
                ],

                items: [],
                itemsLength: 10,
                editedIndex: -1,
                roles: [],
                editedItem: {},
                defaultItem: {
                    active: false
                },
                disableUsername: true,
                disablePassword: true,
                disableEmail: true,
                isAdmin: false,
                userDrawer: false,
                user: null,
                session_id: '{{ session.sid }}',
                valid: false,
                initialUsername: null,
                isUsernameAvailable: false,
                isStrongPassword: false,
                serverErrors: {}
            }),

            mixins: [globalMixin],

            computed: {
                formTitle() {
                    return this.editedItem?.id ? "{{_('Edit Item')}}" : "{{_('New Item')}}";
                },
            },

            created() {
                this.getRoles();
            },

            watch: {
                dialog(val) {
                    if (val) {
                        this.checkRoles();
                    } else {
                        this.close();
                    }
                },

                userDrawer: function (val) {
                    if (val === false) {

                        if (this.$route.path !== '/admin/users/')
                            this.$router.push('/admin/users/')
                    }
                },


            },
            mounted() {

                if (this.$route.params.id) {
                    this.showUser(this.$route.params.id);
                }

                this.$router.afterEach((to, from, next) => {

                    if (this.$route.params.id) {
                        this.showUser(this.$route.params.id);
                    } else {
                        this.userDrawer = false;
                    }

                })
            },


            methods: {
                onUsernameCheckResponse(response) {
                    if (this.editedItem.username === this.initialUsername) {
                        this.isUsernameAvailable = false
                    } else {
                        this.isUsernameAvailable = response === true
                    }
                },
                onPasswordCheckResponse(response) {
                    this.isStrongPassword = response === true
                },

                validateFormAndSave() {
                    this.$refs.form.validate().then(({ valid, errors }) => {
                        if (valid) {
                            this.save();
                        } else {
                            this.showSnack("{{ _('Please review the form for errors.')}}")
                            scrollToFirstError(errors)
                        }
                    });
                },

                showUser(user_id) {
                    api.get(`/admin/api/user/${user_id}`).then(response => {
                        this.user = response.data;
                        this.userDrawer = true;
                    }).catch(err => {
                        console.error(err);
                    });

                },
                refreshUser(user_id) {
                    api.get(`/admin/api/user/${user_id}`).then(response => {
                        this.user = response.data;
                    })
                },

                revoke2fa(userId) {
                    if (confirm(`{{ _('Are you sure you want to revoke 2FA for this user?') }}`)) {
                        api.delete(`/admin/api/user/revoke_2fa`, {
                            params: {user_id: userId}
                        })
                            .then(response => {
                                this.showSnack(response.data);
                                this.refresh();
                                this.dialog = false;

                                if (this.userDrawer) this.refreshUser(userId);
                            })
                            .catch(err => {
                                console.error(err);
                                this.showSnack(this.parseValidationError(err?.response?.data));
                            });
                    }
                },


                rowClick(e, row) {
                    const item = row.item;
                    const path = `/admin/users/${item.id}`;
                    if (this.$route.path !== path)
                        this.$router.push(path);

                },

                forcePassReset(item) {
                    if (confirm(`{{ _('Are you sure you want to force password reset for user ')}}${item.username}?`)) {
                        api.post('/admin/api/user/force-reset',
                            {item: item}
                        ).then(res => {
                            this.showSnack(res.data);
                            this.refresh();
                            this.close();
                            if (this.userDrawer) this.refreshUser(item.id);
                        }).catch(err => {
                            console.error(err?.response?.data);
                            this.showsnack(this.parseValidationError(err?.response?.data));
                        })
                    }

                },

                forceGlobalReset() {
                    if (confirm("{{_('Are you sure you want to force a password reset for all users?')}}")) {
                        this.loading = true;
                        api.post('/admin/api/user/force-reset-all').then(
                            res => {

                                this.showSnack(res.data);
                            }
                        ).catch(
                            err => {
                                console.error(err?.response?.data);
                            }
                        ).finally(
                            () => {
                                this.loading = false;
                            }
                        )

                    }
                },

                logoutAllUserSessions(userId) {
                    if (window.confirm(this.translations.logoutConfirmation_)) {
                        axios
                            .delete(`/admin/api/user/${userId}/sessions/logout`)
                            .then((response) => {
                                console.log('All sessions logged out successfully for user ID:', userId);
                                this.$root.showSnack(this.translations.allSessionsLoggedOut_);
                            })
                            .catch((err) => {
                                console.error('Error logging out all sessions for user ID:', userId, err);
                            });
                    }
                },

                enableUsername() {
                    this.disableUsername = false;
                },

                enablePassword() {
                    this.disablePassword = false;
                },

                enableEmail() {
                    this.disableEmail = false;
                },

                checkUsername:
                    debounce(function (evt) {
                        api.post('/admin/api/checkuser/', {item: this.editedItem.username}, { suppressGlobalErrorHandler: true }).then(
                            res => {

                            }
                        ).catch(
                            err => {
                                this.$refs.form.setErrors({'item.username': [err.response.data]});
                            }
                        ).finally(
                            () => {

                            }
                        )

                    }, 350)

                ,
                getRoles() {

                    api.get(`/admin/api/roles/`).then(response => {


                        this.roles = response.data.items;
                    });

                },

                checkRoles() {
                    this.isAdmin = this.editedItem.roles?.some(r => r.name === "Admin") || false;
                    if (this.isAdmin) {
                        this.editedItem.view_usernames = true;
                        this.editedItem.view_simple_history = true;
                        this.editedItem.view_full_history = true;
                        this.editedItem.can_self_assign = true;
                        this.editedItem.can_edit_locations = true;
                        this.editedItem.can_export = true;
                        this.editedItem.can_import_web = true;
                        return true;
                    }
                    return false;
                },

                refresh(options) {
                    this.options = options || { ...this.options, page: 1 };
                    this.loading = true;
                    api.get(`/admin/api/users/?page=${this.options.page}&per_page=${this.options.itemsPerPage}`, {search: this.search}).then(res => {
                        this.items = res.data.items;
                        this.itemsLength = res.data.total;
                    }).catch(err => {
                        console.error(err?.response?.data);
                    }).finally(() => {
                        this.loading = false;
                    });
                },

                createItem() {
                    this.editedItem = {...this.defaultItem};
                    // enable fields
                    this.disableUsername = this.disablePassword = this.disableEmail = false;
                    this.dialog = true;

                },

                editItem(item) {
                    this.userDrawer = false;
                    this.editedIndex = this.items.indexOf(item);
                    this.editedItem = {...item};
                    this.isUsernameAvailable = false;
                    this.initialUsername = item.username;
                    this.disableUsername = this.disablePassword = this.disableEmail = true;
                    this.dialog = true;
                },


                close() {
                    this.dialog = false;
                    this.showPassword = false;
                    this.isAdmin = false;
                    this.initialUsername = null;
                    this.isUsernameAvailable = false;
                    setTimeout(() => {
                        this.serverErrors = {};
                        this.isStrongPassword = false;
                        this.editedItem = Object.assign({}, this.defaultItem);
                        this.disableUsername = this.disablePassword = this.disableEmail = true;
                        this.editedIndex = -1;
                    }, 300);
                },

                save() {
                    const handleError = (err) => {
                        const usernameAlreadyTaken = err?.response?.status === 409
                        const errors = err?.response?.data?.errors
                        if (errors || usernameAlreadyTaken) {
                            this.serverErrors = errors
                            // Override email message for something simpler
                            if (this.serverErrors?.['item.email']) this.serverErrors['item.email'] = [translations.emailInvalid_];
                            if (this.serverErrors?.['item.username']) this.serverErrors['item.username'] = [translations.usernameInvalid_];
                            if (usernameAlreadyTaken) this.serverErrors = { ...this.serverErrors, ['item.username']: [translations.usernameAlreadyTaken_]};

                            this.$nextTick(() => scrollToFirstError())
                            this.showSnack("{{ _('Please review the form for errors.')}}")
                        }
                    }

                    // edit mode
                    if (this.editedItem.id) {
                        api.put(`/admin/api/user/`, {item: this.editedItem}, { suppressGlobalErrorHandler: true })
                            .then(response => {
                                this.refresh();
                                this.showSnack(response.data);
                                this.close();
                            }).catch(handleError);

                    } else {
                        // create mode
                        axios
                            .post("/admin/api/user/", {item: this.editedItem}, { suppressGlobalErrorHandler: true })
                            .then(response => {
                                this.refresh();
                                this.showSnack(response.data);
                                this.close();
                            }).catch(handleError);
                    }

                }

            }
        });

        app.component('user-card', UserCard);
        app.use(router).use(vuetify).mount('#app')
    </script>
{% endblock %}
