
{% extends 'login-layout.html' %}
{% block content %}
  {% include "security/_messages.html" %}
<v-card style="width:min(500px, 100%)" class="ma-auto">
<v-card-title color="primary">{{ _fsdomain('Change password') }}</v-card-title>
  <form action="{{ url_for_security('change_password') }}" method="post" name="change_password_form">
    {{ change_password_form.hidden_tag() }}
  <v-card-text>
    {% if active_password %}
      <v-text-field label="Current Password" type="password" name="password"></v-text-field>
    {% else %}
      <v-card-title>{{ _fsdomain('You do not currently have a password - this will add one.') }}</v-card-title>
    {% endif %}

      <v-text-field label="New Password" type="password" name="new_password"></v-text-field>
      <v-text-field label="Retype Password" type="password" name="new_password_confirm"></v-text-field>
    </v-card-text>
    <v-card-actions class="pa-3 justify-end">
        <v-btn type="submit" class="primary">Change Password</v-btn>
    </v-card-actions>
  <v-card-text>

                {% if change_password_form.errors|length > 0 %}


                <v-alert type="error" dismissible>
                    {% for field, errors in change_password_form.errors.items() %}
                  {% for error in errors %}
                    <div>{{ error }}</div>
                  {% endfor %}
                {% endfor %}
          </v-alert>
            {%  endif  %}

  </v-card-text>
  </form>
</v-card>

{% endblock content %}