{% extends 'layout.html' %}
{% block content %}
    <v-main>
        <v-container fluid>

            <v-card>
                <v-toolbar color="primary" title="{{ _fsdomain('Change password') }}"></v-toolbar>
                <form action="{{ url_for_security('change_password') }}" method="post" name="change_password_form">
                    {{ change_password_form.hidden_tag() }}
                    <v-card-text>{% include "security/_messages.html" %}</v-card-text>
                    <v-card-text>
                        {% if active_password %}
                            <v-text-field label="{{ _('Current Password') }}" type="password"
                                          name="password"></v-text-field>
                        {% else %}
                            <v-card-title>{{ _fsdomain('You do not currently have a password - this will add one.') }}</v-card-title>
                        {% endif %}

                        <v-text-field label="{{ _('New Password') }}" type="password"
                                      name="new_password"></v-text-field>
                        <v-text-field label="{{ _('Retype Password') }}" type="password"
                                      name="new_password_confirm"></v-text-field>
                    </v-card-text>
                    <v-card-actions class="pa-4 justify-end">
                        <v-btn type="submit" variant="elevated" color="primary">{{ _('Change Password') }}</v-btn>
                    </v-card-actions>
                    <v-card-text>

                        {% if change_password_form.errors|length > 0 %}


                            <v-alert type="error" dismissible>
                                {% for field, errors in change_password_form.errors.items() %}
                                    {% for error in errors %}
                                        <div>{{ error }}</div>
                                    {% endfor %}
                                {% endfor %}
                            </v-alert>
                        {% endif %}

                    </v-card-text>
                </form>
            </v-card>
        </v-container>
    </v-main>

{% endblock content %}

{% block js %}
    <script>
        const {createApp} = Vue;
        const {createVuetify} = Vuetify;

        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({
            mixins: [globalMixin],
            data() {
                return {
                    activeTab: null
                };
            },

            delimiters: delimiters
        });

        app.use(vuetify).mount('#app');
    </script>
{% endblock %}