{% extends 'layout.html' %} {% block content %}
<v-main>
  <v-container fluid>
    <v-card>
      <v-toolbar color="primary" title="{{ _fsdomain('Change password') }}"></v-toolbar>

      <v-form ref="form" name="change_password_form">
        {{ change_password_form.hidden_tag() }}

        <v-card-text>{% include "security/_messages.html" %}</v-card-text>

        <v-card-text class="d-flex flex-column ga-2">
          {% if active_password %}
          <v-text-field
            v-model="form.password"
            label="{{ _('Current Password') }}"
            type="password"
            name="password"
            :rules="[validationRules.required()]"
          ></v-text-field>
          {% else %}
          <v-card-title>
            {{ _fsdomain('You do not currently have a password - this will add one.') }}
          </v-card-title>
          {% endif %}

          <v-text-field
            v-model="form.new_password"
            label="{{ _('New Password') }}"
            type="password"
            name="new_password"
            :class="isStrongPassword ? 'text-success' : undefined"
            :hint="isStrongPassword ? '{{ _('Strong password') }}' : undefined"
            :rules="[
                validationRules.required(),
                validationRules.minLength({{ config.SECURITY_PASSWORD_LENGTH_MIN }}),
                validationRules.checkPassword({ onResponse: onPasswordCheckResponse })
            ]"
            @input="isStrongPassword = false"
          ></v-text-field>

          <v-text-field
            v-model="form.new_password_confirm"
            label="{{ _('Retype Password') }}"
            type="password"
            name="new_password_confirm"
            :rules="[validationRules.matchesField(form.new_password)]"
          ></v-text-field>
        </v-card-text>

        <v-card-actions class="pa-4 justify-end">
          <v-btn @click="validateAndSave" variant="elevated" color="primary">
            {{ _('Change Password') }}
          </v-btn>
        </v-card-actions>

        {% if change_password_form.errors|length > 0 %}
        <v-card-text>
          <v-alert type="error" dismissible>
            {% for field, errors in change_password_form.errors.items() %} {% for error in errors %}
            <div>{{ error }}</div>
            {% endfor %} {% endfor %}
          </v-alert>
        </v-card-text>
        {% endif %}
      </v-form>
    </v-card>
  </v-container>
</v-main>
{% endblock content %} {% block js %}
<script>
  const { createApp } = Vue;
  const { createVuetify } = Vuetify;

  const vuetify = createVuetify(vuetifyConfig);

  const app = createApp({
    delimiters: delimiters,
    mixins: [globalMixin],
    data() {
      return {
        formValid: true,
        validationRules: validationRules,
        isStrongPassword: false,
        drawer: null,
        form: {
          password: '',
          new_password: '',
          new_password_confirm: '',
        },
      };
    },
    methods: {
      onPasswordCheckResponse(response) {
        this.isStrongPassword = Boolean(response);
      },
      validateAndSave() {
        this.$refs.form.validate().then(({ valid, errors }) => {
          if (valid) {
            this.save();
          } else {
            this.showSnack("{{ _('Please review the form for errors.')}}");
            scrollToFirstError();
          }
        });
      },
      async save() {
        try {
          const csrfToken = document.querySelector('input[name="csrf_token"]').value;

          const response = await axios.post(
            "{{ url_for_security('change_password') }}",
            {
              ...this.form,
              csrf_token: csrfToken,
            }
          );

          window.location.href = '{{ config.SECURITY_POST_LOGIN_VIEW }}';
        } catch (error) {
          this.isStrongPassword = false;
        }
      },
    },
  });

  app.use(vuetify).mount('#app');
</script>
{% endblock %}
