{% extends 'login-layout.html' %}
{% block content %}
    <div class="main">
        {% from "security/_macros.html" import render_field_with_errors, render_field %}
        <v-card max-width="600" class="ma-auto">
            <v-card-title>Send password reset instructions</v-card-title>
            <v-card-text>
                <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
            {{ forgot_password_form.hidden_tag() }}
            <v-text-field label="Username"  name="username"></v-text-field>
            <v-btn type="submit" class="primary">Send Recovery Instructions</v-btn>
        </form>
            </v-card-text>
        </v-card>


    </div>
{% endblock %}
