{% extends 'login-layout.html' %}
{% block nav %}{% endblock %}
{% block content %}

    <v-main class="d-flex flex-column align-center justify-center">



    <v-card class="mx-auto mb-5 elevation-23  w-33 ">


        <v-toolbar title="{{ _('Account Login') }}" color="primary">
        </v-toolbar>
        <v-card-text>

           <v-form

                    action="{{ url_for_security('login') }}"
                    method="post"
                    id="loginForm"
                    ref="form"
                    @submit.prevent
            >
                {{ login_user_form.hidden_tag() }}

                <v-text-field

                        autocomplete="chrome-off"
                        label="{{ _('Login') }}"
                        name="username"
                        prepend-icon="mdi-account"
                        type="text"
                        :rules="[validationRules.required()]"
                        variant="underlined"


                >
                </v-text-field>

                <v-text-field
                        class="mt-2"
                        variant="underlined"
                        id="password"
                        autocomplete="chrome-off"

                        label="{{ _('Password') }}"
                        name="password"
                        prepend-icon="mdi-lock-question"
                        type="password"
                        @keyup.enter="submit()"
                        :rules="[validationRules.required(), validationRules.minLength(6)]"

                ></v-text-field>



                {% if login_user_form.recaptcha %}
                    {{ login_user_form.recaptcha }}
                {% endif %}

            </v-form>
        </v-card-text>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
    <v-card-text>


                {% for category, message in messages %}
                    <v-alert type="{{ category }}" dense dismissible>{{ message }}</v-alert>
                {% endfor %}
            </v-card-text>
        {% endif %}
    {% endwith %}



        {% if login_user_form.username.errors or login_user_form.password.errors %}
            <v-card-text>
                <v-alert type="error" dense dismissible> {{ _('Invalid username or password!') }}
                </v-alert>
            </v-card-text>
        {% endif %}
        
        <v-card-actions class="px-4 pb-6">

            <v-btn variant="elevated" class="mx-auto my-3" block size="large" @click.once="submit"
                   color="primary">
                {{ _('Login') }}</v-btn>
        </v-card-actions>
    </v-card>
    <v-card>
        {% if config.GOOGLE_OAUTH_ENABLED %}


            <v-card-text class="text-center">
                <a href="/auth"><img width="191"
                                     src="/static/img/google-login/2x/btn_google_signin_light_normal_web@2x.png"
                                     alt=""></a>
            </v-card-text>
        {% endif %}

    </v-card>
    <v-snackbar absolute button
                v-model="snackBar"
    >
        ${snackMessage}
        <v-btn variant="text" color="primary" @click.native="value = false">{{ _('Close') }}</v-btn>
    </v-snackbar>
</v-main>

{% endblock %} {% block js %}


    <script>
        const {createApp} = Vue;
        const {createVuetify} = Vuetify;

        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({

            data() {
                return {
                    menu: null,
                    errors: '',
                    snackBar: false,
                    snackMessage: '',
                    email: "",
                    password: "",
                    validationRules: validationRules
                };
            },
            methods: {
                showSnack(message) {
                    this.snackMessage = message;
                    this.snackBar = true;
                },
                submit() {
                    document.getElementById('loginForm').submit();
                }
            },
            delimiters: delimiters
        });


        app.use(vuetify).mount('#app');


    </script>

{% endblock %}
