{% extends "login-layout.html" %} {% from "security/_macros.html" import render_field_with_errors,
render_field %} {% block navbar %}{% endblock %} {% block content %}
<v-main class="d-flex flex-column align-center justify-center bg-background">
  <v-card class="mx-auto pa-8 w-100" rounded="lg" style="max-width: 424px">
    <v-card-title class="text-h4 text-center font-weight-bold px-0 pb-0">{{ _("Recovery code") }}</v-card-title>
    <v-card-subtitle class="text-subtitle-2 text-pre-wrap text-center px-0 pb-4"
      >{{ _("You’ve chosen to use a recovery code. Please enter it below to continue.") }}</v-card-subtitle
    >

    <form action='{{ url_for_security("mf_recovery") }}' method="POST" name="mf_recovery_form">
      <v-card-text class="px-0">
        {{ mf_recovery_form.hidden_tag() }}
        <label for="code" class="text-body-2 mb-1 d-block">{{ _('Recovery code') }}</label>
        <input type="hidden" id="code_hidden" name="code" v-model="code">
        <v-text-field density="compact" v-model.trim="code" @input="code = code.toLowerCase()" messages="{{ _('Enter your 12-character recovery code, including dashes') }}" placeholder="xxxx-xxxx-xxxx" prepend-inner-icon="mdi-key"></v-text-field>
      </v-card-text>

      <v-card-text class="px-0 pt-0">{% include "security/_messages.html" %}</v-card-text>
      {% if mf_recovery_form.errors %}
      <v-card-text class="px-0 pt-0">
        <v-alert color="error" variant="tonal">{{ mf_recovery_form.errors.code[0] }} </v-alert>
      </v-card-text>
      {% endif %}

      <v-card-actions class="px-0" class="justify-space-between">
        <v-btn type="submit" color="primary" variant="flat" block> {{ _('Continue') }} </v-btn>
      </v-card-actions>
    </form>
  </v-card>

<div class="mt-6 w-100 d-flex justify-space-between" style="max-width: 424px">
    <v-btn @click="goBack" color="primary" variant="outlined"
        prepend-icon="mdi-chevron-left">{{ _('Back') }}</v-btn>
</div>
</v-main>
{% endblock %}

{% block js %}
<script nonce="{{ csp_nonce() }}">
  const { createApp } = Vue;
  const { createVuetify } = Vuetify;

  const vuetify = createVuetify(vuetifyConfig);

  const app = createApp({
    delimiters: delimiters,
    data() {
      return {
        code: ''
      };
    },
    methods: {
      goBack() {
        if (window.history.length > 1) {
          window.history.back();
        } else {
          window.location.href = '{{ url_for_security("tf_select") }}';
        }
      }
    },
  });
  app.use(vuetify).mount('#app');
</script>
{% endblock %}
