{% extends 'login-layout.html' %}
{% block navbar %}{% endblock %}
{% from "security/_macros.html" import prop_next, render_field_with_errors, render_field %}


{% block content %}
<v-main class="d-flex flex-column align-center">


    <v-card width="770" class="ma-auto">
        <v-card-text>
            {% include "security/_messages.html" %}
        </v-card-text>

        <v-toolbar title="{{ _fsdomain('Select a two factor authentication method') }}"></v-toolbar>

        <form action="{{ url_for_security('tf_select') }}{{ prop_next() }}" method="post" name="tf_select">
            <v-card-text>
            {{ two_factor_select_form.hidden_tag() }}
            {{ render_field_with_errors(two_factor_select_form.which) }}
            </v-card-text>
            
            <v-card-actions class="pa-4">
                <v-btn type="submit" color="primary" variant="elevated">Select</v-btn>
            </v-card-actions>
        </form>
        
    </v-card>
</v-main>
{% endblock content %}


{% block css %}

    <style>

    </style>
{% endblock %}


{% block js %}
    <script>
         const {createApp} = Vue;
        const {createVuetify} = Vuetify;

        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({

            data() {
                return {
                    activeTab: null,
                    selectedOption : ''
                }

            }
        });
        app.use(vuetify).mount('#app');
    </script>
{% endblock %}

