<v-dialog v-model="activitySearchViews" class="w-sm-100 w-md-75 w-lg-50" scrollable>
    <v-card>
        <v-toolbar class="header-fixed">
            <v-spacer></v-spacer>
            <v-btn icon="mdi-close" @click="closeSearch()"></v-btn>
        </v-toolbar>
        <v-card-text class="position-relative">
            <v-overlay v-model="activitySearchViews" absolute contained persistent opacity="0" scroll-strategy="none"></v-overlay>
            <v-expansion-panels v-if="searchClass!='incident'" multiple accordion v-model="searchPanels">
                <v-expansion-panel v-for="(q,i) in search">
                    <v-expansion-panel-title>${translations.query_} ${i+1} 
                    </v-expansion-panel-title>
                    <v-expansion-panel-text>

                        {{ i }}

                        <bulletin-search-box
                            v-if="searchClass=='bulletin'"
                            :show-op="!i==0"
                            v-model="search[i]"
                            :users="users"
                            :roles="roles"
                            :is-admin="has_role(currentUser,'Admin')"
                        >
                        </bulletin-search-box>

                        <actor-search-box
                            v-if="searchClass=='actor'"
                            :show-op="!i==0"
                            v-model="search[i]"
                            :users="users"
                            :roles="roles"
                            :is-admin="has_role(currentUser,'Admin')"
                        >
                        </actor-search-box>
                    </v-expansion-panel-text>
                </v-expansion-panel>
            </v-expansion-panels>

            <incident-search-box
                v-if="searchClass=='incident'"
                v-model="search"
                :users="users"
                :roles="roles"
                :is-admin="has_role(currentUser,'Admin')"
            >
            </incident-search-box>
        </v-card-text>
    </v-card>
</v-dialog>