<v-navigation-drawer
      v-model="actorDrawer"
      absolute
      floating
      location="right"
      temporary
      :width="actorDrawerSettings?.width ?? 520"
      app
      disable-route-watcher
      :style="actorDrawerSettings?.style"
    >
      <v-container v-if="actorLoader" fluid class="h-screen">
        <v-layout justify-center align-center>
          <v-progress-circular indeterminate size="44"></v-progress-circular>
        </v-layout>
      </v-container>

      <actor-card v-if="actorDrawer && actor" :close-icon="actorDrawerSettings?.closeIcon" :hide-map="actorDrawerSettings?.hideMap" :close-position="actorDrawerSettings?.closePosition" :show-edit="true" :close="true" @edit="editItem" :active="actorDrawer" :log="true" :diff="true" :key="actor.id" @close="closeActorDrawer()" :actor="actor"></actor-card>
      <preview-card ref="prev" :item="pitem" v-model="preview"></preview-card>
      <visualization ref="viz" @error="showSnack($event)"></visualization>
    </v-navigation-drawer>  