<v-navigation-drawer
      v-model="actorDrawer"
      clipped
      fixed
      location="right"
      temporary
      width="520"
      app
      disable-route-watcher
    >
      <v-container v-if="actorLoader" fluid class="h-screen">
        <v-layout justify-center align-center>
          <v-progress-circular indeterminate size="44"></v-progress-circular>
        </v-layout>
      </v-container>

      
      <actor-card v-if="actorDrawer && actor" :show-edit="true" :close="true" @edit="editItem" :active="actorDrawer" :log="true" :diff="true" @thumb-click="viewImage" :key="actor.id" @close="actorDrawer=false" :actor="actor"></actor-card>
      <preview-card ref="prev" :item="pitem" v-model="preview"></preview-card>
    <pdf-viewer ref="pdfViewer"></pdf-viewer>
    <visualization ref="viz" @error="showSnack($event)"></visualization>
    </v-navigation-drawer>  