<v-dialog persistent v-model="audioDialog"
    v-bind="leftDialogProps"
>
    <v-card>
        <v-toolbar color="dark-primary">
            <v-toolbar-title>{{ _('Media player') }}</v-toolbar-title>
            <v-spacer></v-spacer>
        
            <template #append>
                <v-btn icon="mdi-close" @click="closeMediaDialog"></v-btn>
            </template>
        </v-toolbar>


        <v-card-text id="pp" class="mt-3 pt-2">

            <div ref="playerContainer" class="d-flex justify-center align-center"></div>

        </v-card-text>
    </v-card>
</v-dialog>
