<short-actor-dialog
    v-if="actorDialog"
    ref="shortActorDialogRef"
    v-model:open="actorDialog"
    :rules="rules"
    :status-items="statusItems"
    :allowed-roles="allowedRoles"
    :parent-item="editedItem"
    :show-snack="showSnack"
    :can-restrict-view="{{ config.AC_USERS_CAN_RESTRICT_NEW or current_user.has_role("Admin")|tojson }}"
    @create-actor="relateActor($event.actor, $event.relation)"
    :dialog-props="rightDialogProps"
>
    <template #events>
        {% include 'admin/partials/event_dialog.html' %}
    </template>
</short-actor-dialog>

<v-dialog :retain-focus="false" no-click-animation persistent v-model="dialog" fullscreen>
    <v-form @submit.prevent="save" ref="form" v-model="valid">
        <v-card v-if="dialog" class="overflow-hidden card-edit">
            <v-toolbar
                    color="primary"
                    dark
                    class="card-header"
            >
                <v-toolbar-title>${formTitle} <span class="gv--text" v-if="editedItem.id"> ${editedItem.id}</span>

                    <v-tooltip v-if="editedItem.originid" location="bottom">
                        <template v-slot:activator="{ props }">
                            <v-chip 
                                v-bind="props"
                                prepend-icon="mdi-identifier" 
                                :href="editedItem.source_link" 
                                target="_blank" 
                                pill 
                                label
                                class="white--text ml-1">
                                ${editedItem.originid}
                                <v-icon v-if="editedItem.source_link" size="x-small" class="white--text ml-1">mdi-open-in-new</v-icon>
                            </v-chip>
                        </template>
                        {{ _('Origin ID') }}
                    </v-tooltip>

                    <v-tooltip v-else-if="editedItem.source_link && editedItem.source_link != 'NA'" location="bottom">
                        <template v-slot:activator="{ props }">
                            <v-chip 
                                v-bind="props"
                                prepend-icon="mdi-link-variant"
                                :href="editedItem.source_link" 
                                target="_blank" 
                                pill 
                                label
                                class="white--text ml-1">
                                ${editedItem.source_link}
                                <v-icon size="x-small" class="white--text ml-1">mdi-open-in-new</v-icon>
                            </v-chip>
                        </template>
                        {{ _('Source Link') }}
                    </v-tooltip>

                </v-toolbar-title>

                <template #append>
                    <v-btn @click="actorDialog = true" variant="outlined" class="mx-2">
                        {{ _('Create Related Actor') }}
                    </v-btn>
                    <v-btn @click="validateForm" :disabled="saving" :loading="saving" variant="elevated" class="mx-2">
                        {{ _('Save Bulletin') }}
                    </v-btn>
                    <v-btn icon="mdi-close" @click="confirmClose"></v-btn>
                </template>


            </v-toolbar
            >

            <v-sheet
                    id="card-content"
                    max-height="100vh"
                    class="overflow-y-auto"
            >
                <v-card-text>
                    <v-container fluid>
                        <split-view divider-class="mx-4">
                            <template #left>
                                <div class="pa-1" style="max-height: calc(100vh - 130px); overflow-y: auto;">
                                    {% include 'admin/partials/media_dialog.html' %}
                                </div>
                            </template>
                            <template #right>
                                <div class="pa-3" style="max-height: calc(100vh - 130px); overflow-y: auto;">
                                    <v-row >
                                        <v-col cols="12" md="4">
                                            <dual-field v-model:original="editedItem.title"
                                                        v-model:translation="editedItem.title_ar"
                                                        label-original="{{ _('Original Title') }}"
                                                        label-translation="{{ _('Original Title (Ar)') }}"
                                                        :rules="[
                                                        validationRules.atLeastOneRequired(editedItem.title, '{{ _('Original Title is required.') }}'),
                                                        validationRules.maxLength(255),
                                                    ]">
                                            </dual-field>
                                        </v-col>
        
                                        <v-col cols="12" md="4">
                                            <dual-field v-model:original="editedItem.sjac_title"
                                                        v-model:translation="editedItem.sjac_title_ar"
                                                        label-original="{{ _('Title') }}"
                                                        label-translation="{{ _('Title (Ar)') }}"
                                                        :rules="[validationRules.maxLength(255)]"
                                            ></dual-field>
                                        </v-col>
                                        <v-col cols="12" md="4">
                                            <v-combobox
                                                    chips
                                                    multiple
                                                    v-model="editedItem.tags"
                                                    label="{{ _('Tags') }}"
                                            ></v-combobox>
        
                                        </v-col>
        
                                    </v-row>
        
                                    <v-row>
                                        <v-col cols="12" md="12">
        
                                            <search-field
                                                    v-model="editedItem.sources"
                                                    api="/admin/api/sources/"
                                                    item-title="title"
                                                    item-value="id"
                                                    :multiple="true"
                                                    label="{{ _('Sources') }}"
                                            ></search-field>
        
                                            <tinymce-editor
                                                    :init="tinyConfig"
                                                    :key="descKey"
                                                    v-model="editedItem.description"
                                            ></tinymce-editor>
                                        </v-col>
                                    </v-row>
        
                                    <v-row>
        
                                        <v-col cols="12" md="6">
                                            <search-field
                                                    v-model="editedItem.labels"
                                                    api="/admin/api/labels/"
                                                    :query-params="{ typ: 'for_bulletin' }"
                                                    item-title="title"
                                                    item-value="id"
                                                    :multiple="true"
                                                    :show-copy-icon="advFeatures"
                                                    label="{{ _('Labels') }}"
                                            ></search-field>
                                        </v-col>
        
        
                                        <v-col cols="12" md="6">
                                            <search-field
                                                    v-model="editedItem.verLabels"
                                                    api="/admin/api/labels/"
                                                    :query-params="{ fltr: 'verified', typ: 'for_bulletin' }"
                                                    item-title="title"
                                                    item-value="id"
                                                    :multiple="true"
                                                    :show-copy-icon="advFeatures"
                                                    label="{{ _('Verified Labels') }}"
                                            ></search-field>
        
                                        </v-col>
                                    </v-row>
        
                                    <v-row>
                                        <v-col cols="12" md="12">
        
                                            <location-search-field
                                                    v-model="editedItem.locations"
                                                    api="/admin/api/locations/"
                                                    item-title="full_string"
                                                    item-value="id"
                                                    :multiple="true"
                                                    :show-copy-icon="advFeatures"
                                                    label="{{ _('Locations') }}"
                                            ></location-search-field>
        
                                        </v-col>
                                    </v-row>
        
                                    <v-row>
                                        <v-col cols="12">
                                            <global-map ref="globalmap" :model-value="compLocations"></global-map>
        
                                        </v-col>
                                    </v-row>
        
                                    <!-- events  -->
        
                                    <v-row>
                                        <v-col col="12">
        
                                            {% include 'admin/partials/event_dialog.html' %}
        
        
                                        </v-col>
                                    </v-row>
        
                                    <v-row>
                                        <v-col col="12">
                                            <geo-locations ref="geolocs" @locations-updated="geoLocationsUpdated"
                                                        :others="editedItem.geoLocations"
                                                        v-model="editedItem.geoLocations" :dialog-props="rightDialogProps"></geo-locations>
        
        
                                        </v-col>
                                    </v-row>
        
                                    <v-row>
                                        <v-col cols="12">
        
        
                                            {% include 'admin/partials/edit_related_bulletins.html' %}
                                            {% include 'admin/partials/edit_related_actors.html' %}
                                            {% include 'admin/partials/edit_related_incidents.html' %}
        
        
                                        </v-col>
                                    </v-row>
        
                                    <v-row>
        
                                        <v-col cols="12" md="6">
        
        
                                            <v-sheet class="d-flex align-center">
        
        
                                                <v-text-field class="mx-2"
                                                            :disabled="source_disabled"
                                                            v-model="editedItem.source_link"
                                                            label="{{ _('Source Link') }}"
                                                            :rules="[
                                                                validationRules.required('{{ _('Source link is required unless unavailable.')}}'),
                                                                validationRules.maxLength(255)
                                                            ]"
                                                ></v-text-field>
        
        
                                                <v-checkbox class="mx-2" label="{{ _('Not Available') }}" v-model="source_alt">
                                                </v-checkbox>
        
                                                <v-switch color="primary" class="mx-2" label="{{ _('Private') }}"
                                                        v-model="editedItem.source_link_type">
                                                </v-switch>
        
        
                                            </v-sheet>
        
        
                                        </v-col>
                                        <v-col cols="12" md="6">
                                            <pop-date-time-field time-label="{{ _('Time') }}" label="{{ _('Publish Date') }}"
                                                                v-model="editedItem.publish_date"></pop-date-time-field>
        
        
                                                <pop-date-time-field time-label="{{ _('Time') }}" label="{{ _('Documentation Date') }}"
                                                                v-model="editedItem.documentation_date"></pop-date-time-field>
        
        
                                        </v-col>
        
        
        
        
        
        
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" md="6">
        
        
                                            <v-textarea
                                                    required
                                                    :rules="[rules.required]"
                                                    outlined
                                                    v-model="editedItem.comments"
                                                    label="{{ _('Comments') }}"
                                            >
        
                                            </v-textarea>
        
                                        </v-col>
                                        <v-col cols="12" md="6">
                                            <v-row>
                                            <v-select
                                                        :disabled="statusDisabled"
                                                        item-title="tr"
                                                        item-value="en"
                                                        :items="statusItems"
                                                        class="mx-2"
                                                        v-model="editedItem.status"
                                                        label="{{ _('Status') }}"
                                                ></v-select>
                                            </v-row>
        
                                            {% if config.AC_USERS_CAN_RESTRICT_NEW or current_user.has_role("Admin") %}
                                            <v-row v-if="!editedItem.id">
                                                <v-select
                                                        :color="editedItem.roles?.length ? 'blue darken-1' : 'error'"
                                                        :prepend-icon="editedItem.roles?.length ? 'mdi-lock' : 'mdi-lock-open'"
                                                        chips
                                                        :disabled="unrestricted"
                                                        item-title="name"
                                                        return-object
                                                        :items="allowedRoles"
                                                        multiple
                                                        v-model="editedItem.roles"
                                                        label="{{ _('Restrict Bulletin to Access Group(s)') }}"
                                                        :rules="
                                                            !unrestricted ? [validationRules.required('{{ _('Access Group(s) are required unless unresticted.')}}')] : []
                                                        "
                                                        clearable
                                                ></v-select>
                                                <v-checkbox
                                                    color="error"
                                                    @change="unrestricted? editedItem.roles = [] : null"
                                                    class="mx-2"
                                                    label="{{ _('No Access Groups') }}"
                                                    v-model="unrestricted">
                                                </v-checkbox>
                                            </v-row>
                                            {% endif %}
        
                                        </v-col>
                                    </v-row>
        
                                    <v-row v-if="editedItem.review">
                                        <v-col cols="12" md="12">
        
                                            <v-card outlined color="gray " elevation="0">
                                                <v-card-title class="subtitle-2 black--text">{{ _('Review') }}</v-card-title>
                                                <v-card-text>
                                                    <p class="pa-1 my-2 grey--text text--darken-2" v-html="editedItem.review">
        
                                                    </p>
                                                </v-card-text>
        
                                            </v-card>
        
                                        </v-col>
                                    </v-row>
                                </div>
                            </template>
                        </split-view>
                    </v-container>
                </v-card-text>

            </v-sheet>
        </v-card>
    </v-form>
</v-dialog>
