<v-navigation-drawer
        v-model="bulletinDrawer"
        clipped
        fixed
        location="right"
        temporary
        width="520"
        app
        disable-route-watcher
>
    <v-container v-if="bulletinLoader" fluid fill-height>
        <v-layout justify-center align-center>
            <v-progress-circular indeterminate size="44"></v-progress-circular>
        </v-layout>
    </v-container>


    <bulletin-card v-if="bulletinDrawer && bulletin"
                   :show-edit="true" @edit="editItem"
                   :log="true"
                   :diff="true"
                   close="true"
                   @close="bulletinDrawer=false"
                   :bulletin="bulletin"></bulletin-card>
    <preview-card ref="prev" :item="pitem" v-model="preview" :dialog-props="dialog ? rightDialogProps : null"></preview-card>
    <visualization ref="viz" @error="showSnack($event)"></visualization>
</v-navigation-drawer>