<v-dialog v-model="advSearchExpand" width="770">
    <v-card class="pa-6">
        <v-btn style="z-index:1000" absolute top right @click="advSearchExpand=false" icon>
            <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-card-text>
            <v-select :label="translations.loadExistingSearch_"
                      :items="searches"
                      item-text="name"
                      item-value="id"
                      return-object
                      @change="loadSearch"
                      @click="loadSearches"
                      @click:clear="resetSearch"
                      outlined
                      clearable
                      class="mt-3"
            >
            </v-select>
        </v-card-text>


        <v-expansion-panels class="mt-7" accordion v-model="searchPanels">
            <v-expansion-panel v-for="(q,i) in search"

            >
                <v-expansion-panel-header>${translations.query_} ${i+1} <span v-if="!i==0" class="mx-3"><v-icon @click.stop="removeQueryAt(i)" color="red lighten-1" >mdi-minus-circle</v-icon></span> </v-expansion-panel-header>
                <v-expansion-panel-content>
                    {{i}}
                    <bulletin-search-box
                            :i18n="translations"
                            :show-op="!i==0"
                            :extra-filters="true"
                            @close="advSearchExpand=false"
                            close-btn="true"
                            v-model="search[i]"
                            :users="users">
                    </bulletin-search-box>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>


        <v-card-actions color="white" class="d-flex pa-4" style="position:sticky;padding:10px;bottom:0;">
            <v-btn small text color="grey" @click="addQuery">
                <v-icon left>mdi-link-plus</v-icon>
                ${translations.refineExtendSearch_}
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn @click="search=[{}]" text>{{ _('Clear Search') }}</v-btn>
            <v-btn @click="saveQueryDialog=true" color="grey lighten-2" depressed>{{ _('Save Search') }}</v-btn>
            <v-btn @click="doSearch" color="primary">{{ _('Search') }}</v-btn>


        </v-card-actions>

    </v-card>
    <v-dialog width="300" v-model="saveQueryDialog">
        <v-card class="pa-3">
            <v-card-text>
                <v-text-field v-model="queryName" label="{{_('Name this search')}}"></v-text-field>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="saveQueryDialog=false" text>{{ _('Cancel') }}</v-btn>
                <v-btn @click="saveSearch" color="primary">{{ _('Save') }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

</v-dialog>
    

