<v-navigation-drawer
      v-model="bulletinDrawer"
      clipped
      fixed
      right
      temporary
      width="520"
      app
      disable-route-watcher



    >
      <v-container v-if="bulletinLoader" fluid fill-height>
        <v-layout justify-center align-center>
          <v-progress-circular indeterminate size="44"></v-progress-circular>
        </v-layout>
      </v-container>

      
       <bulletin-card :i18n="translations" v-if="bulletinDrawer" :show-edit="true" @edit="editItem" v-if="bulletin" :log="true" :diff="true" @thumb-click="viewImage" @close="bulletinDrawer=false" :bulletin="bulletin"></bulletin-card>
      <preview-card :i18n="translations" ref="prev" :item="pitem" v-model="preview"></preview-card>
    <pdf-viewer ref="pdfViewer"></pdf-viewer>
    </v-navigation-drawer>  