<v-dialog v-model="advSearchExpand" width="770">

    <v-card>
        <v-card-title>
            <v-spacer></v-spacer>
            <v-btn fab text @click="advSearchExpand=false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>

        <v-card-text>
            <v-select small
                      :label="translations.loadExistingSearch_"
                      :items="searches"
                      item-text="name"
                      item-value="id"
                      return-object
                      @change="loadSearch"
                      @click="loadSearches"
                      @click:clear="resetSearch"
                      outlined
                      clearable

            >
            </v-select>
            <v-expansion-panels accordion v-model="searchPanels">
                <v-expansion-panel v-for="(q,i) in search"

                >
                    <v-expansion-panel-header>${translations.query_} ${i+1} <span v-if="!i==0" class="mx-3"><v-icon
                            @click.stop="removeQueryAt(i)" color="red lighten-1">mdi-minus-circle</v-icon></span>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        {{ i }}

                        <bulletin-search-box
                                :i18n="translations"
                                :show-op="!i==0"
                                :extra-filters="true"
                                @close="advSearchExpand=false"
                                close-btn="true"
                                v-model="search[i]"
                                :users="users"
                                :roles="roles"
                                :is-admin="has_role(currentUser,'Admin')"

                        >
                        </bulletin-search-box>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-card-text>

    </v-card>

    <v-card tile class="text-center  search-toolbar" elevation="10" color="grey lighten-5">
        <v-card-text>
            <v-btn class="ma-3" small text color="grey" @click="addQuery">
                <v-icon left>mdi-link-plus</v-icon>
                ${translations.refineExtendSearch_}
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn @click="search=[{}]" text>{{ _('Clear Search') }}</v-btn>
            <v-btn @click="saveQueryDialog=true" color="grey lighten-2" depressed>{{ _('Save Search') }}</v-btn>
            <v-btn @click="doSearch" color="primary">{{ _('Search') }}</v-btn>
        </v-card-text>
    </v-card>
    <v-dialog width="300" v-model="saveQueryDialog">
        <v-card class="pa-3">
            <v-card-text>
                <v-text-field v-model="queryName" label="{{ _('Name this search') }}"></v-text-field>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="saveQueryDialog=false" text>{{ _('Cancel') }}</v-btn>
                <v-btn @click="saveSearch" color="primary">{{ _('Save') }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

</v-dialog>


