<v-card>
    <v-toolbar>
        <v-toolbar-title>{{ _('Events') }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
                color="primary"
                @click="eventDialog=true"
                icon="mdi-plus-circle"
        ></v-btn>

    </v-toolbar>


    <v-card-text>
        <v-container fluid>
            <v-row>


                <v-col
                        class="pa-2 d-flex v-col-auto"

                        v-for="(item,index) in editedItem.events"
                        :key="index"
                >
                    <event-card :number="index+1" :event="item">

                        <template v-slot:actions>
                            <v-card-actions class="justify-end">

                                <v-btn
                                        @click="editEvent($event,item,index)"
                                        size="small"
                                        icon="mdi-pencil"
                                ></v-btn>
                                <v-btn
                                        @click="removeEvent($event,index)"
                                        size="small"
                                        color="red"
                                        icon="mdi-delete-sweep"

                                ></v-btn
                                >
                            </v-card-actions>
                        </template>
                    </event-card>
                </v-col>
            </v-row>
        </v-container>
    </v-card-text>
</v-card>


<v-dialog v-model="eventDialog" v-bind="rightDialogProps || { 'max-width': '880px' }">
    <v-card>
        <v-toolbar color="dark-primary">
            <v-toolbar-title>{{ _('Event') }}</v-toolbar-title>
            <v-spacer></v-spacer>
        
            <template #append>
                <v-btn variant="elevated" @click="saveEvent" class="mx-2">{{ _('Save') }}</v-btn>
                <v-btn icon="mdi-close" @click="closeEvent"></v-btn>
            </template>
        </v-toolbar>

        <v-card-text>
            <v-container>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-sheet class="d-flex">
                            <v-text-field
                                    v-if="eventTitle__"
                                    v-model="editedEvent.title"
                                    label="{{ _('Title') }}"
                                    append-inner-icon="mdi-web"
                                    @click:append-inner="eventTitle__=!eventTitle__"
                            ></v-text-field>

                            <v-text-field
                                    v-else
                                    v-model="editedEvent.title_ar"
                                    label="{{ _('Title (AR)') }}"
                                    append-inner-icon="mdi-web"
                                    @click:append-inner="eventTitle__=!eventTitle__"
                            ></v-text-field>


                        </v-sheet>
                    </v-col>

          <v-col cols="12" md="6">
            <v-sheet class="d-flex">
              <v-text-field
                v-if="eventComments__"
                v-model="editedEvent.comments"
                label="{{_('Comments')}}"
                append-inner-icon="mdi-web"
                @click:append-inner="eventComments__=!eventComments__"
              ></v-text-field>

                            <v-text-field
                                    v-else
                                    v-model="editedEvent.comments_ar"
                                    label="{{ _('Comments (AR)') }}"
                                    background-color="lime lighten-5"
                                    variant="solo"
                                    append-inner-icon="mdi-web"
                                    @click:append-inner="eventComments__=!eventComments__"
                            ></v-text-field>


                        </v-sheet>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" md="8">
                        <location-search-field
                                v-model="editedEvent.location"
                                api="/admin/api/locations/"
                                item-title="full_string"
                                item-value="id"
                                :multiple="false"
                                :show-copy-icon="advFeatures"
                                label="{{ _('Location') }}"
                        ></location-search-field>


                    </v-col>
                    <v-col md="4">

                        <search-field
                                v-model="editedEvent.eventtype"
                                api="/admin/api/eventtypes/"
                                :query-params="eventParams"
                                item-title="title"
                                item-value="id"
                                :multiple="false"
                                label="{{ _('Event Type') }}"
                        ></search-field>


                    </v-col>
                </v-row>

        <v-row>
          <v-col cols="12" md="6" class="text-center">
           <pop-date-time-field :allowed-dates="allowedDateFrom" time-label="{{ _('Time') }}" label="{{_('From')}}" v-model="editedEvent.from_date"></pop-date-time-field>
          </v-col>
          <v-col cols="12" md="6">
            <pop-date-time-field :allowed-dates="allowedDateTo" time-label="{{ _('Time') }}" label="{{_('To')}}" v-model="editedEvent.to_date" ></pop-date-time-field>
          </v-col>

                </v-row>
                <v-row>
                    <v-col md="4">
                        <v-switch
                                color="primary"
                                label="{{ _('Estimated Time') }}"
                                v-model="editedEvent.estimated"
                        ></v-switch>
                    </v-col>
                </v-row>


            </v-container>
        </v-card-text>
    </v-card>
</v-dialog>
