<validation-observer v-slot="{invalid}">
    <v-dialog :retain-focus="false" no-click-animation persistent v-model="dialog" ref="editDialog" fullscreen>

        <v-card v-if="dialog" class="overflow-hidden">

            <v-app-bar
                    absolute
                    color="pv"
                    dark

                    class="card-header"

            >
                <v-toolbar-title>${formTitle} <span class="gv--text" v-if="editedItem.id"> ${editedItem.id}</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>


                <v-btn @click="save" :disabled="invalid" dark color="primary darken-1" small class="mx-2"
                       depressed>{{ _('Save Incident') }}
                </v-btn>
                <v-btn @click="confirmClose" icon>
                    <v-icon>mdi-close</v-icon>
                </v-btn>


            </v-app-bar
            >

            <v-sheet
                    id="card-content"
                    max-height="100vh"
                    class="overflow-y-auto pt-11">


                <v-card-text>
                    <v-container>

                        <v-row>
                            <v-col cols="12" md="6">

                                <v-card class="d-flex" flat>


                                    <v-text-field
                                            v-if="title__"
                                            v-model="editedItem.title"
                                            label="{{ _('Title') }}"
                                    ></v-text-field>


                                    <v-text-field
                                            v-else
                                            v-model="editedItem.title_ar"
                                            label="{{ _('Title (AR)') }}"
                                            background-color="lime lighten-5"
                                    ></v-text-field>

                                    <v-btn
                                            color="grey lighten-2"
                                            outlined
                                            x-small
                                            fab
                                            class="swh d-inline"
                                            @click="title__=!title__"
                                    >
                                        <v-icon>mdi-web</v-icon>
                                    </v-btn
                                    >
                                </v-card>

                            </v-col>

                        </v-row>


                        <v-row>
                            <v-col cols="12" md="12">
                                <div class="body-1 pa-1 grey--text">Description</div>
                                <tinymce-editor
                                        :init="tinyConfig"
                                        v-model="editedItem.description"
                                ></tinymce-editor>
                            </v-col>
                        </v-row>


                        <v-row>

                            <v-col cols="12" md="6">
                                <search-field
                                        v-model="editedItem.potential_violations"
                                        api="/admin/api/potentialviolation/"
                                        item-text="title"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Potential violation categories') }}"
                                ></search-field>


                            </v-col>

                            <v-col cols="12" md="6">

                                <search-field
                                        v-model="editedItem.claimed_violations"
                                        api="/admin/api/claimedviolation/"
                                        item-text="title"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Claimed Violations Categories') }}"
                                ></search-field>

                            </v-col>


                        </v-row>


                        <v-row>

                            <v-col cols="12" md="6">
                                <search-field
                                        v-model="editedItem.labels"
                                        api="/admin/api/labels/"
                                        :query-params="{ typ: 'for_incident' }"
                                        item-text="title"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Labels') }}"
                                ></search-field>
                            </v-col>

                            <v-col cols="12" md="6">
                                <location-search-field
                                        v-model="editedItem.locations"
                                        api="/admin/api/locations/"
                                        item-text="full_string"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{_('Locations')}}"
                                ></location-search-field>

                            </v-col>


                        </v-row>


                        <!-- events  -->

                        <v-row>
                            <v-col col="12">

                                {% include 'admin/partials/event_dialog.html' %}


                            </v-col>
                        </v-row>

                        <!-- End Event -->


                        <v-row>
                            <v-col col="12">


                                <!-- Relate Actors Base Card -->

                                <v-card outlined class="my-5">
                                    <v-card-title class="handle">
                                        <v-icon left>mdi-library-books</v-icon>
                                        <v-btn :loading="ar_loading" :disabled="ar_loaded"
                                               @click.stop="loadActorRelations"
                                               outlined>{{ _('Related Actors') }}</v-btn>

                                        <v-spacer></v-spacer>

                                        <v-text-field
                                                v-if="ar_loaded"
                                                class="mx-5"
                                                v-model="relateActorTerm"
                                                label="{{ _('Search & Relate Actors') }}"
                                                @keydown.enter="searchRelatedActors"
                                                @click:append="searchRelatedActors"
                                                append-icon="mdi-magnify"
                                        ></v-text-field>
                                    </v-card-title>


                                    <!--  Grid of Actors Items -->

                                    <v-card-text>
                                        <v-layout wrap>
                                            <v-flex
                                                    class="pa-1"
                                                    md6
                                                    v-for="(item,index) in editedItem.actor_relations"
                                                    :key="index"
                                            >
                                                <!--  Related Actor  Card -->
                                                <actor-result :i18n="translations" :actor="item.actor">
                                                    <!--  attach relationship form -->
                                                    <template v-slot:header>
                                                        <v-card outlined color="lime lighten-5">
                                                            <v-card-title class="subtitle-2">
                                                                <v-icon left>mdi-link</v-icon>
                                                                {{ _('Relationship Information') }}
                                                            </v-card-title>


                                                            <v-card-text>
                                                                <div>
                                                                    <div class="caption">{{ _('Probability') }}</div>
                                                                    <v-chip-group
                                                                            v-model="editedItem.actor_relations[index].probability"
                                                                            column
                                                                            active-class="primary dark"
                                                                    >
                                                                        <v-chip v-for="r in translations.probs"
                                                                                small> ${r.tr}
                                                                        </v-chip>
                                                                    </v-chip-group>

                                                                    <div class="caption">{{ _('Related As') }}</div>
                                                                    <v-chip-group
                                                                            v-model="editedItem.actor_relations[index].related_as"
                                                                            column
                                                                            multiple
                                                                            active-class="primary dark"
                                                                    >
                                                                        <v-chip v-for="rel in itoaInfo" :value="rel.id" :key="rel.id"
                                                                                small> ${rel.title}
                                                                        </v-chip>

                                                                    </v-chip-group>
                                                                </div>
                                                                <v-text-field class="mt-2"
                                                                              v-model="editedItem.actor_relations[index].comment"
                                                                              dense outlined
                                                                              label="{{ _('Comments') }}"
                                                                ></v-text-field>
                                                            </v-card-text>
                                                        </v-card>
                                                    </template>

                                                    <template v-slot:actions>
                                                        <v-btn
                                                                class="mx-auto"
                                                                @click="removeActor($event,index)"
                                                                x-small
                                                                fab
                                                                outlined
                                                                color="red lighten-3"
                                                        >
                                                            <v-icon>mdi-delete-sweep</v-icon>
                                                        </v-btn
                                                        >
                                                    </template>


                                                </actor-result>

                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>


                                <!-- End Relate Actor Base Card-->


                                <!-- Relate Bulletins Base Card -->

                                <v-card outlined class="my-5">
                                    <v-card-title class="handle">
                                        <v-icon left>mdi-library-books</v-icon>
                                        <v-btn :loading="br_loading" :disabled="br_loaded"
                                               @click.stop="loadBulletinRelations"
                                               outlined>{{ _('Related Bulletins') }}</v-btn>
                                        <v-spacer></v-spacer>

                                        <v-text-field
                                                v-if="br_loaded"
                                                class="mx-5"
                                                v-model="relateBulletinTerm"
                                                label="{{ _('Search & Relate Bulletins') }}"
                                                @keydown.enter="searchRelatedBulletins"
                                                @click:append="searchRelatedBulletins"
                                                append-icon="mdi-magnify"
                                        ></v-text-field>
                                    </v-card-title>


                                    <!--  Grid of Bulletins Items -->


                                    <v-card-text>
                                        <v-layout wrap>
                                            <v-flex
                                                    class="pa-1"
                                                    md6
                                                    v-for="(item,index) in editedItem.bulletin_relations"
                                                    :key="index"
                                            >
                                                <!--  Related Bulletin  Card -->
                                                <bulletin-result :i18n="translations" :bulletin="item.bulletin"
                                                                 :show-hide="false">
                                                    <!--  attach relationship form -->
                                                    <template v-slot:header>
                                                        <v-card outlined color="lime lighten-5">
                                                            <v-card-title class="subtitle-2">
                                                                <v-icon left>mdi-link</v-icon>
                                                                {{ _('Relationship Information') }}
                                                            </v-card-title>


                                                            <v-card-text>
                                                                <div>
                                                                    <div class="caption">Probability</div>
                                                                    <v-chip-group
                                                                            v-model="editedItem.bulletin_relations[index].probability"
                                                                            column
                                                                            active-class="primary dark"
                                                                    >
                                                                        <v-chip v-for="r in translations.probs"
                                                                                small> ${r.tr}
                                                                        </v-chip>
                                                                    </v-chip-group>

                                                                    <div class="caption">Related As</div>
                                                                    <v-chip-group
                                                                            v-model="editedItem.bulletin_relations[index].related_as"
                                                                            column
                                                                            active-class="primary dark"
                                                                    >
                                                                        <v-chip v-for="rel in itobInfo" :value="rel.id" :key="rel.id"
                                                                                small> ${rel.title}
                                                                        </v-chip>
                                                                    </v-chip-group>


                                                                </div>

                                                                <v-text-field class="mt-2"
                                                                              v-model="editedItem.bulletin_relations[index].comment"
                                                                              dense outlined
                                                                              label="{{ _('Comments') }}"
                                                                ></v-text-field>
                                                            </v-card-text>

                                                        </v-card>
                                                    </template>

                                                    <template v-slot:actions>
                                                        <v-btn
                                                                class="mx-auto"
                                                                @click="removeBulletin($event,index)"
                                                                x-small
                                                                fab
                                                                outlined
                                                                color="red lighten-3"
                                                        >
                                                            <v-icon>mdi-delete-sweep</v-icon>
                                                        </v-btn
                                                        >
                                                    </template>


                                                </bulletin-result>

                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>


                                <!---     End Relate bulletin base card   ---->


                                <!-- Relate Incidents Base Card -->

                                <v-card outlined class="my-5">
                                    <v-card-title class="handle">
                                        <v-btn :loading="ir_loading" :disabled="ir_loaded"
                                               @click.stop="loadIncidentRelations"
                                               outlined>{{ _('Related Incidents') }}</v-btn>
                                        <v-spacer></v-spacer>

                                        <v-text-field
                                                v-if="ir_loaded"
                                                class="mx-5"
                                                v-model="relateIncidentTerm"
                                                label="{{ _('Search & Relate Incidents') }}"
                                                @keydown.enter="searchRelatedIncidents"
                                                @click:append="searchRelatedIncidents"
                                                append-icon="mdi-magnify"
                                        ></v-text-field>
                                    </v-card-title>


                                    <!--  Grid of Incident Items -->

                                    <v-card-text>
                                        <v-layout wrap>
                                            <v-flex
                                                    class="pa-1"
                                                    md6
                                                    v-for="(item,index) in editedItem.incident_relations"
                                                    :key="index"
                                            >
                                                <!--  Related inciddnt  Card -->
                                                <incident-result :i18n="translations" :incident="item.incident">
                                                    <!--  attach relationship form -->
                                                    <template v-slot:header>
                                                        <v-card outlined color="lime lighten-5">
                                                            <v-card-title class="subtitle-2">
                                                                <v-icon left>mdi-link</v-icon>
                                                                {{ _('Relationship Information') }}
                                                            </v-card-title>


                                                            <v-card-text>

                                                                <div class="caption">Probability</div>
                                                                <v-chip-group
                                                                        v-model="editedItem.incident_relations[index].probability"
                                                                        column
                                                                        active-class="primary dark"
                                                                >
                                                                    <v-chip v-for="r in translations.probs"
                                                                            small> ${r.tr}
                                                                    </v-chip>
                                                                </v-chip-group>


                                                                <div class="caption">Related As</div>
                                                                <v-chip-group
                                                                        v-model="editedItem.incident_relations[index].related_as"
                                                                        column
                                                                        active-class="primary dark"
                                                                >
                                                                    <v-chip v-for="rel in itoiInfo" :value="rel.id" :key="rel.id"
                                                                            small> ${rel.title}
                                                                    </v-chip>
                                                                </v-chip-group>


                                                                <v-text-field class="mt-2"
                                                                              v-model="editedItem.incident_relations[index].comment"
                                                                              dense outlined
                                                                              label="{{ _('Comments') }}"
                                                                ></v-text-field>
                                                            </v-card-text>
                                                        </v-card>
                                                    </template>

                                                    <template v-slot:actions>
                                                        <v-btn
                                                                class="mx-auto"
                                                                @click="removeIncident($event,index)"
                                                                x-small
                                                                fab
                                                                outlined
                                                                color="red lighten-3"
                                                        >
                                                            <v-icon>mdi-delete-sweep</v-icon>
                                                        </v-btn
                                                        >
                                                    </template>


                                                </incident-result>

                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>

                                <!-- End Relate Incident Base Card-->

                            </v-col>
                        </v-row>


                        <v-row>
                            <v-col cols="12" md="8">
                                <validation-provider
                                        name="Comments"
                                        rules="required"
                                        v-slot="{ errors }"
                                >


                                    <v-textarea
                                            v-model="editedItem.comments"
                                            outlined
                                            label="{{ _('Comments') }}"
                                    >

                                    </v-textarea>
                                    <span class="orange--text"> ${errors[0]}</span>
                                </validation-provider>
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-select
                                        :disabled="statusDisabled"
                                        item-text="tr"
                                        item-value="en"
                                        :items="statusItems"

                                        v-model="editedItem.status"
                                        label="{{ _('Status') }}"
                                ></v-select>
                            </v-col>
                        </v-row>


                    </v-container>
                </v-card-text>

            </v-sheet>
        </v-card>

    </v-dialog>
</validation-observer>