<v-dialog :retain-focus="false" no-click-animation persistent v-model="dialog" ref="editDialog" fullscreen>
    <v-form @submit.prevent="save" ref="form" v-model="valid">
        <v-card v-if="dialog" class="overflow-hidden">

            <v-toolbar
                    color="primary"
            >
                <v-toolbar-title>${formTitle} <span v-if="editedItem.id"> ${editedItem.id}</span>
                </v-toolbar-title>
                <template #append>

                    <v-btn variant="elevated" @click="validateForm" :disabled="saving" :loading="saving" class="mx-2"
                    >{{ _('Save Incident') }}
                    </v-btn>
                    <v-btn @click="confirmClose" icon="mdi-close">
                    </v-btn>

                </template>


            </v-toolbar
            >

            <v-sheet
                    id="card-content"
                    style="height: calc(100vh - 64px);"
                    class="overflow-y-auto">
                <v-card-text>
                    <v-container fluid>
                        <div v-if="movableDynamicFields.length" class="form-grid mt-4">
                            <template v-for="(field, index) in movableDynamicFields" :key="field.id">
                                <div v-if="isFieldActive(field, 'title')" :class="[fieldClass(field), 'px-3 py-2']">
                                    <dual-field
                                        v-model:original="editedItem.title"
                                        v-model:translation="editedItem.title_ar"
                                        label-original="{{ _('Title') }}"
                                        :rules="[
                                            validationRules.atLeastOneRequired(editedItem.title, '{{ _('Original Title is required.') }}'),
                                            validationRules.maxLength(255),
                                        ]"
                                        v-bind="serverErrorPropsForDualField(serverErrors, 'item.title', 'item.title_ar')"
                                    ></dual-field>
                                </div>
                                <div v-else-if="isFieldActive(field, 'description')" :class="[fieldClass(field), 'px-3 py-2']">
                                    <tinymce-editor :init="tinyConfig" :key="descKey" v-model="editedItem.description"></tinymce-editor>
                                </div>
                                <div v-else-if="isFieldActive(field, 'potential_violations')" :class="[fieldClass(field), 'px-3 py-2']">
                                    <search-field
                                        v-model="editedItem.potential_violations"
                                        api="/admin/api/potentialviolation/"
                                        item-title="title"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Potential violation categories') }}"
                                    ></search-field>
                                </div>
                                <div v-else-if="isFieldActive(field, 'claimed_violations')" :class="[fieldClass(field), 'px-3 py-2']">
                                    <search-field
                                        v-model="editedItem.claimed_violations"
                                        api="/admin/api/claimedviolation/"
                                        item-title="title"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Claimed Violations Categories') }}"
                                    ></search-field>
                                </div>
                                <div v-else-if="isFieldActive(field, 'labels')" :class="[fieldClass(field), 'px-3 py-2']">
                                    <search-field
                                        v-model="editedItem.labels"
                                        api="/admin/api/labels/"
                                        :query-params="{ typ: 'for_incident' }"
                                        item-title="title"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Labels') }}"
                                    ></search-field>
                                </div>
                                <div v-else-if="isFieldActive(field, 'locations')" :class="[fieldClass(field), 'px-3 py-2']">
                                    <location-search-field
                                        v-model="editedItem.locations"
                                        api="/admin/api/locations/"
                                        item-title="full_string"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Locations') }}"
                                    ></location-search-field>
                                </div>
                                <div v-else-if="isFieldActive(field, 'events_section')" :class="[fieldClass(field), 'px-3 py-2']">
                                    <events-section :edited-item="editedItem" :dialog-props="commonDialogProps" :show-copy-icon="advFeatures" :event-params="eventParams"></events-section>
                                </div>
                                <div v-else-if="isFieldActive(field, 'related_bulletins')" :class="[fieldClass(field), 'px-3 py-2']">
                                    {% include 'admin/partials/edit_related_bulletins.html' %}
                                </div>
                                <div v-else-if="isFieldActive(field, 'related_actors')" :class="[fieldClass(field), 'px-3 py-2']">
                                    {% include 'admin/partials/edit_related_actors.html' %}
                                </div>
                                <div v-else-if="isFieldActive(field, 'related_incidents')" :class="[fieldClass(field), 'px-3 py-2']">
                                    {% include 'admin/partials/edit_related_incidents.html' %}
                                </div>
                                <field-renderer v-else-if="isFieldActive(field)" v-model="editedItem[field.name]" :field="field" :class="[fieldClass(field), 'px-3 py-2']"></field-renderer>
                            </template>
                        </div>
                        <div v-if="fixedDynamicFields.length" class="form-grid mt-4">
                            <template v-for="(field, index) in fixedDynamicFields" :key="field.id">
                                <div v-if="isFieldActive(field, 'comments')" :class="fieldClass(field)">
                                    <v-textarea required class="h-100" :rules="[validationRules.required()]" outlined v-model="editedItem.comments"
                                        label="{{ _('Comments') }}" v-bind="serverErrorPropsForField(serverErrors, 'item.comments')">
                                    </v-textarea>
                                </div>
                                <div v-else-if="isFieldActive(field, 'status')" :class="fieldClass(field)">
                                    <v-select :disabled="statusDisabled" item-title="tr" item-value="en" :items="statusItems" class="mx-2"
                                        v-model="editedItem.status" label="{{ _('Status') }}"></v-select>
                                </div>
                            </template>
                            {% if config.AC_USERS_CAN_RESTRICT_NEW or current_user.has_role("Admin") %}
                            <div class="grid-col-span-1 px-3 py-2" v-if="!editedItem.id">
                                <v-select :color="editedItem.roles?.length ? 'blue darken-1' : 'error'"
                                    :prepend-icon="editedItem.roles?.length ? 'mdi-lock' : 'mdi-lock-open'" chips :disabled="unrestricted"
                                    item-title="name" return-object :items="allowedRoles" multiple v-model="editedItem.roles"
                                    label="{{ _('Restrict Bulletin to Access Group(s)') }}" :rules="
                                                                                                                !unrestricted ? [validationRules.required('{{ _('Access Group(s) are required unless unresticted.')}}')] : []
                                                                                                            " clearable></v-select>
                                <v-checkbox color="error" @change="unrestricted? editedItem.roles = [] : null" class="mx-2"
                                    label="{{ _('No Access Groups') }}" v-model="unrestricted">
                                </v-checkbox>
                            </div>
                            {% endif %}
                        </div>
                    </v-container>
                </v-card-text>

            </v-sheet>
        </v-card>
    </v-form>
</v-dialog>
