<v-dialog :retain-focus="false" no-click-animation persistent v-model="dialog" ref="editDialog" fullscreen>
    <v-form @submit.prevent="save" ref="form" v-model="valid">
        <v-card v-if="dialog" class="overflow-hidden">

            <v-toolbar
                    color="primary"
            >
                <v-toolbar-title>${formTitle} <span v-if="editedItem.id"> ${editedItem.id}</span>
                </v-toolbar-title>
                <template #append>

                    <v-btn variant="elevated" @click="validateForm" :disabled="saving" :loading="saving" class="mx-2"
                    >{{ _('Save Incident') }}
                    </v-btn>
                    <v-btn @click="confirmClose" icon="mdi-close">
                    </v-btn>

                </template>


            </v-toolbar
            >

            <v-sheet
                    id="card-content"
                    max-height="100vh"
                    class="overflow-y-auto pt-11">


                <v-card-text>
                    <v-container fluid>

                        <v-row>
                            <v-col cols="12" md="12">

                                <dual-field
                                        v-model:original="editedItem.title"
                                        v-model:translation="editedItem.title_ar"
                                        label-original="{{ _('Title') }}"
                                        :rules="titleRule"
                                ></dual-field>
                            </v-col>

                        </v-row>


                        <v-row>
                            <v-col cols="12" md="12">
                                <div class="body-1 pa-1 grey--text">{{ _('Description') }}</div>
                                <tinymce-editor
                                        :init="tinyConfig"
                                        v-model="editedItem.description"
                                ></tinymce-editor>
                            </v-col>
                        </v-row>


                        <v-row>

                            <v-col cols="12" md="6">
                                <search-field
                                        v-model="editedItem.potential_violations"
                                        api="/admin/api/potentialviolation/"
                                        item-title="title"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Potential violation categories') }}"
                                ></search-field>


                            </v-col>

                            <v-col cols="12" md="6">

                                <search-field
                                        v-model="editedItem.claimed_violations"
                                        api="/admin/api/claimedviolation/"
                                        item-title="title"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Claimed Violations Categories') }}"
                                ></search-field>

                            </v-col>
                        </v-row>

                        <v-row>

                            <v-col cols="12" md="6">
                                <search-field
                                        v-model="editedItem.labels"
                                        api="/admin/api/labels/"
                                        :query-params="{ typ: 'for_incident' }"
                                        item-title="title"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Labels') }}"
                                ></search-field>
                            </v-col>

                            <v-col cols="12" md="6">
                                <location-search-field
                                        v-model="editedItem.locations"
                                        api="/admin/api/locations/"
                                        item-title="full_string"
                                        item-value="id"
                                        :multiple="true"
                                        label="{{ _('Locations') }}"
                                ></location-search-field>

                            </v-col>


                        </v-row>


                        <!-- events  -->

                        <v-row>
                            <v-col col="12">

                                {% include 'admin/partials/event_dialog.html' %}


                            </v-col>
                        </v-row>

                        <!-- End Event -->


                        <v-row>
                            <v-col cols="12">


                                <!-- Relate Actors Base Card -->

                                <v-card class="my-5">
                                    <v-toolbar class="px-4">
                                        <v-btn variant="outlined" :prepend-icon="ar_loaded? 'mdi-chevron-down': 'mdi-chevron-right'"  :loading="ar_loading" :disabled="ar_loaded"
                                               @click.stop="loadActorRelations"
                                        >{{ _('Load Related Actors') }}</v-btn>

                                        <v-spacer></v-spacer>

                                        <v-text-field
                                                density="compact"
                                                v-if="ar_loaded"
                                                class="mt-5"
                                                v-model="relateActorTerm"
                                                label="{{ _('Search & Relate Actors') }}"
                                                @keydown.enter="searchRelatedActors"
                                                @click:append="searchRelatedActors"
                                                append-icon="mdi-magnify"
                                        ></v-text-field>
                                    </v-toolbar>

                                    {% include 'admin/partials/related_actors_grid.html' %}

                                </v-card>


                                <!-- End Relate Actor Base Card-->


                                <!-- Relate Bulletins Base Card -->

                                <v-card class="my-5">
                                    <v-toolbar class="px-4">
                                        <v-btn variant="outlined" :prepend-icon="br_loaded? 'mdi-chevron-down': 'mdi-chevron-right'" :loading="br_loading" :disabled="br_loaded"
                                               @click.stop="loadBulletinRelations"
                                        >{{ _('Load Related Bulletins') }}</v-btn>
                                        <v-spacer></v-spacer>

                                        <v-text-field
                                                v-if="br_loaded"
                                                class="mt-5"
                                                density="compact"
                                                v-model="relateBulletinTerm"
                                                label="{{ _('Search & Relate Bulletins') }}"
                                                @keydown.enter="searchRelatedBulletins"
                                                @click:append="searchRelatedBulletins"
                                                append-icon="mdi-magnify"
                                        ></v-text-field>
                                    </v-toolbar>


                                    {% include 'admin/partials/related_bulletins_grid.html' %}
                                </v-card>


                                <!---     End Relate bulletin base card   ---->


                                <!-- Relate Incidents Base Card -->

                                <v-card class="my-5">
                                    <v-toolbar class="px-4">
                                        <v-btn variant="outlined" :prepend-icon="ir_loaded? 'mdi-chevron-down': 'mdi-chevron-right'"  :loading="ir_loading" :disabled="ir_loaded"
                                               @click.stop="loadIncidentRelations"
                                        >{{ _('Load Related Incidents') }}</v-btn>
                                        <v-spacer></v-spacer>

                                        <v-text-field
                                                class="mt-5"
                                                v-if="ir_loaded"
                                                density="compact"
                                                v-model="relateIncidentTerm"
                                                label="{{ _('Search & Relate Incidents') }}"
                                                @keydown.enter="searchRelatedIncidents"
                                                @click:append="searchRelatedIncidents"
                                                append-icon="mdi-magnify"
                                        ></v-text-field>
                                    </v-toolbar>

                                    {% include 'admin/partials/related_incidents_grid.html' %}
                                </v-card>

                                <!-- End Relate Incident Base Card-->
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="12" md="6">

                                <v-textarea
                                        v-model="editedItem.comments"
                                        :rules="[rules.required]"
                                        label="{{ _('Comments') }}"
                                >
                                </v-textarea>

                            </v-col>

                            <v-col cols="12" md="6">
                                <v-row>
                                    <v-select
                                            :disabled="statusDisabled"
                                            item-title="tr"
                                            item-value="en"
                                            :items="statusItems"

                                            v-model="editedItem.status"
                                            label="{{ _('Status') }}"
                                    ></v-select>
                                </v-row>

                                {% if config.AC_USERS_CAN_RESTRICT_NEW or current_user.has_role("Admin") %}
                                    <v-row v-if="!editedItem.id">
                                        <v-select
                                                :color="editedItem.roles?.length ? 'blue darken-1' : 'error'"
                                                :prepend-icon="editedItem.roles?.length ? 'mdi-lock' : 'mdi-lock-open'"
                                                chips
                                                :disabled="unrestricted"
                                                item-title="name"
                                                return-object
                                                :items="allowedRoles"
                                                multiple
                                                v-model="editedItem.roles"
                                                label="{{ _('Restrict Incident to Access Group(s)') }}"
                                                :rules="accessRule"
                                                clearable
                                        ></v-select>
                                        <v-checkbox
                                                color="error"
                                                @change="unrestricted? editedItem.roles = [] : null"
                                                class="mx-2"
                                                label="{{ _('No Access Group') }}"
                                                v-model="unrestricted">
                                        </v-checkbox>
                                    </v-row>
                                {% endif %}

                            </v-col>
                        </v-row>

                    </v-container>
                </v-card-text>

            </v-sheet>
        </v-card>
    </v-form>
</v-dialog>
