<v-dialog v-model="advSearchExpand" class="w-sm-100 w-md-75">
    <v-sheet>
    <v-card class="rounded-0">
        <v-toolbar>
            <v-spacer></v-spacer>
            <v-btn icon="mdi-close"  @click="advSearchExpand=false">
            </v-btn>
        </v-toolbar>

        <v-card-text>
            <v-select ref="savedSearchDropdown"
                      small
                      :label="translations.loadExistingSearch_"
                      :items="searches"
                      item-title="name"
                      item-value="id"
                      return-object
                      @click="loadSearchesFromAPI"
                      @click:clear="resetQuery"
                      outlined
                      clearable
                      v-model="savedSearchSelection"
            >
                <template v-slot:item="{ props, item }">
                    <v-list-item :subtitle="item.name" v-bind="props" @click="loadSearch(item.raw)">
                        <template #append>
                            <v-icon
                                color="warning"
                                @click.stop="deleteSearch(item.raw.id)">mdi-delete
                            </v-icon>
                        </template>
                    </v-list-item>
                </template>
            </v-select>

        </v-card-text>


        <v-card-text>
            <incident-search-box
                    @close="advSearchExpand=false"
                    close-btn="true"
                    v-model="search"
                    @search="doSearch"
                    :users="users"
                    :roles="allowedRoles"
                    :is-admin="has_role(currentUser,'Admin')"

            ></incident-search-box>
        </v-card-text>

    </v-card>
      <v-card  class="text-center pa-4 sticky-bottom-bar  rounded-0">
        <v-card-actions class="justify-end">
            <v-btn @click="search={}" text>{{ _('Clear Search') }}</v-btn>
            <v-btn v-if="!savedSearchSelection" @click="saveQueryDialog=true" class="mx-2" color="grey lighten-2" depressed>{{ _('Save Search') }}</v-btn>
             <v-btn
                v-if="savedSearchSelection"
                @click="updateSearch"
                color="warning"
                depressed
            >{{ _('Update Search') }}</v-btn>
            <v-btn
                v-if="savedSearchSelection"
                @click="openSaveQueryDialog"
                color="warning"
                depressed
            >{{ _('Save As New') }}</v-btn>
            <v-btn variant="elevated" @click="doSearch" color="primary">{{ _('Search') }}</v-btn>
        </v-card-actions>
    </v-card>


    <v-dialog width="300" v-model="saveQueryDialog">
        <v-card class="pa-3">
                <v-card-text>
                        <v-text-field
                                ref="saveQueryInput"
                                v-model="queryName"
                                @keydown.enter="saveSearch"
                                label="{{ _('Name this search') }}"

                        ></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="saveQueryDialog=false" text>{{ _('Cancel') }}</v-btn>
                    <v-btn @click="saveSearch" color="primary" >{{ _('Save') }}</v-btn>
                </v-card-actions>
        </v-card>
    </v-dialog>
        </v-sheet>
</v-dialog>


