<v-navigation-drawer
      v-model="incidentDrawer"
      clipped
      fixed
      location="right"
      temporary
      width="520"
      app
      disable-route-watcher
    >
      <v-container v-if="incidentLoader" fluid fill-height>
        <v-layout justify-center align-center>
          <v-progress-circular indeterminate size="44"></v-progress-circular>
        </v-layout>
      </v-container>

      
      <incident-card v-if="incidentDrawer && incident" :show-edit="true" :close="true" @edit="editItem" :log="true" :diff="true" @close="incidentDrawer=false" :incident="incident"></incident-card>
      <preview-card ref="prev" :item="pitem" v-model="preview"></preview-card>
    <visualization ref="viz" @error="showSnack($event)"></visualization>
    </v-navigation-drawer>  