<v-navigation-drawer
      v-model="locationDrawer"
      clipped
      fixed
      location="right"
      temporary
      width="520"
      app
      disable-route-watcher


    >
      <v-container v-if="locationLoader" fluid >

          <v-progress-circular indeterminate size="44"></v-progress-circular>

      </v-container>

      
       <location-card :close="true" v-if="locationDrawer && location" :show-edit="true" @edit="editItem" :log="true" @close="locationDrawer=false" :location="location"></location-card>
    </v-navigation-drawer>  