<v-dialog v-model="mediaDialog"
    v-bind="leftDialogProps"
>
    <template #activator="{props}">
        <v-card>
            <v-toolbar class="handle">
                <v-toolbar-title>{{ _('Media') }}</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-btn
                        class="mx-2 white--text"
                        icon="mdi-plus-circle"
                        color="primary"
                        @click="addMedia"
                >
                    <v-icon dark></v-icon>
                </v-btn
                >
            </v-toolbar>

            <div v-if="expandedMedia" ref="expandedMediaRef" class="w-100">
                <div v-if="['video', 'audio'].includes(expandedMediaType)" ref="playerContainer" class="mb-6" style="height: 50vh;"></div>
                <div  v-if="expandedMediaType === 'pdf'">
                    <object :data="expandedMedia.s3url" class="w-100" style="height: 50vh;"></object>
                </div>
                <div v-if="expandedMediaType === 'image'">
                    <v-img :src="expandedMedia.s3url" class="bg-grey-lighten-2" style="height: 50vh;"></v-img>
                </div>
            </div>
            
            <!--  Grid of Media Items -->
            <v-card-text id="medias">
                <image-gallery prioritize-videos :enable-delete="true" :medias="editedItem.medias" @thumb-click="viewImage"
                               @video-click="viewMediaPlayerDialog($event); closeExpandedMedia() "
                               @audio-click="viewMediaPlayerDialog($event); closeExpandedMedia()"
                               @remove-media="removeMedia"
                >
                    <template #top-actions="{ media, mediaType }">
                      <v-btn size="small" variant="text" icon="mdi-arrow-expand-all" @click="handleExpandedMedia(media, mediaType)"></v-btn> 
                    </template>
                </image-gallery>
            </v-card-text>
        </v-card>
    </template>
    <v-card class="flex-grow-1">
        <v-card-title>
            <span class="headline">{{ _('Media File') }}</span>
        </v-card-title>
        <v-card-text>
            <v-container>
                <v-row>
                    <v-col cols="12">


                        <vue-dropzone ref="dropzone" id="dropzone" :options="dzOpts"
                                      @vdropzone-error="showError"
                                      @vdropzone-removed-file="fileRemoved"
                                      @vdropzone-file-added="fileAdded"
                                      @vdropzone-success="uploadSuccess"></vue-dropzone>


                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="6">
                        <dual-field
                                v-model:original="editedMedia.title"
                                v-model:translation="editedMedia.title_ar"
                                label-original="{{ _('Title') }}"
                                label-translation="{{ _('Title (AR)') }}"
                        >

                        </dual-field>


                    </v-col>

                    <v-col cols="12" md="6">
                        <v-card class="d-flex" variant="text">
                            <!-- category -->

                            <search-field
                                    label="{{ _('Media Category') }}"
                                    api="/admin/api/mediacategories"
                                    v-model="editedMedia.category"
                                    item-title="title"
                                    item-value="id"
                            >

                            </search-field>

                        </v-card>
                    </v-col>
                </v-row>




            </v-container>
        </v-card-text>
        <v-card-actions class="pa-5">
            <v-spacer></v-spacer>
            <v-btn color="grey lighten-1" text @click="closeMediaDialog">{{ _('Cancel') }}</v-btn>
            <v-btn
                    color="primary"
                    variant="elevated"
                    :disabled="!enableAttach"

                    @click="attachMedia"
            >{{ _('Attach Media') }}
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>
