<v-dialog v-model="relateActorDialog" max-width="770px">
  
  <v-card outlined color="grey lighten-3">
    
    <v-card-title class="handle">
      <v-icon left>mdi-library-books </v-icon>
      Search Actors
      <v-spacer></v-spacer>

      <v-text-field
        class="mx-5"
        v-model="relateActorTerm"
        label="Search & Relate Actors"
        @keydown.enter="searchRelatedActors"
        append-icon="mdi-magnify"
      ></v-text-field>
      <v-btn @click="relateActorDialog=false" small text fab><v-icon>mdi-close</v-icon></v-btn>
    </v-card-title>

    <v-divider></v-divider>

    <v-card-text v-if="relateActorLoader" class="d-flex pa-5" justify-center align-center>
      <v-progress-circular class="ma-auto" indeterminate color="primary"></v-progress-circular>
    </v-card-text>

    <v-card-text class="mt-2"  v-for="(item, i) in relateActorResults" :key="i">
      
        
          
      
            <actor-result :actor="item">
                <template v-slot:actions>
                <v-btn @click="relateActor($event,item)"  small  depressed color="primary"> {{ i18n.relate_ }}</v-btn>
                </template>
              </actor-result>
            
        
       
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="relateActorDialog=false">Done</v-btn>
      
      <v-spacer></v-spacer>
    </v-card-actions>
  </v-card>
</v-dialog>
