<v-dialog :retain-focus="false" no-click-animation persistent v-model="reviewDialog" fullscreen>
    <v-card v-if="reviewDialog" class="overflow-hidden">

        <v-toolbar>
            <v-toolbar-title>{{ _('Add Review') }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn :disabled="!reviewItem.review_action" @click="saveReview" class="mx-2"
                   variant="elevated">{{ _('Save Review') }}</v-btn>
            <v-btn icon="mdi-close" @click="reviewDialog=false"></v-btn>
        </v-toolbar>


        <v-sheet

                max-height="100vh"
                class="overflow-y-auto pa-7">
            <v-card variant="outlined" max-width="900" class="mx-auto">
                <bulletin-card v-if="reviewItem && reviewItem.class=='bulletin'"
                               @thumb-click="viewImage" :close="false" :bulletin="reviewItem"></bulletin-card>
                <actor-card v-if="reviewItem.class=='actor'" @thumb-click="viewImage"
                            :close="false"
                            :actor="reviewItem"></actor-card>
                <incident-card v-if="reviewItem.class=='incident'" :close="false"
                               :incident="reviewItem"></incident-card>
            </v-card>
            <v-divider class="my-9"></v-divider>

            <v-card color="grey-lighten-5">
                <v-toolbar density="compact" color="primary" title="Review">

                </v-toolbar>


                <v-card-item class="mt-3">
                    <tinymce-editor :key="reviewKey" :init="tinyConfig" v-model="reviewItem.review"></tinymce-editor>
                </v-card-item>

                <v-card-item v-if="reviewItem.class=='bulletin'">
                    <v-combobox
                            chips
                            multiple
                            v-model="reviewItem.revTags"
                            label="{{ _('Tags') }}"
                            hint="{{ _('Appends the tags to the bulletin (does not remove existing tags)') }}"
                    ></v-combobox>
                </v-card-item>


                <v-card-item>
                    <v-card-subtitle>{{ _('Data Assistant') }}</v-card-subtitle>

                    <v-container class="d-flex align-center" fluid>
                        <v-row>
                            <v-col>

                                <location-search-field
                                        api="/admin/api/locations/"
                                        item-title="full_string"
                                        item-value="id"
                                        v-model="helper.locations"
                                        :multiple="true"
                                        :show-copy-icon="advFeatures"
                                        label="{{ _('Locations') }}"
                                ></location-search-field>

                            </v-col>
                            <v-col>

                                <search-field
                                        v-model="helper.labels"
                                        api="/admin/api/labels/"
                                        item-title="title"
                                        item-value="id"
                                        :multiple="true"
                                        :show-copy-icon="advFeatures"
                                        label="{{ _('Labels') }}"
                                ></search-field>


                            </v-col>
                            <v-col>
                                <search-field
                                        v-model="helper.verified_labels"
                                        api="/admin/api/labels/"
                                        :query-params="{ fltr: 'verified' }"
                                        item-title="title"
                                        item-value="id"
                                        :multiple="true"
                                        :show-copy-icon="advFeatures"
                                        label="{{ _('Verified Labels') }}"
                                ></search-field>
                            </v-col>
                            <v-col>

                                <search-field
                                        v-model="helper.sources"
                                        api="/admin/api/sources/"
                                        item-title="title"
                                        item-value="id"
                                        :multiple="true"
                                        :show-copy-icon="advFeatures"
                                        label="{{ _('Sources') }}"
                                ></search-field>

                            </v-col>
                        </v-row>
                    </v-container>

                </v-card-item>
                <v-card-item>
                    <v-container fluid>
                        <v-row justify="center">
                            <v-col class="text-center">
                                <v-btn prepend-icon="mdi-magnify" class="mx-3"
                                       @click="searchRelatedBulletins">
                                    {{ _('Related Bulletins') }}
                                </v-btn>

                            </v-col>
                            <v-col class="text-center">
                                <v-btn prepend-icon="mdi-magnify" class="mx-3"
                                       @click="searchRelatedActors">
                                    {{ _('Related Actors') }}
                                </v-btn>
                            </v-col>
                            <v-col class="text-center">
                                <v-btn prepend-icon="mdi-magnify" class="mx-3"
                                       @click="searchRelatedIncidents">
                                    {{ _('Related Incidents') }}
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-item>


                <v-card-text class="text-center">

                    <v-btn-toggle borderless v-model="reviewItem.review_action">
                        <v-btn color="error" value="Needs Review">{{ _('Needs Review') }}</v-btn>
                        <v-btn color="grey-lighten-4"
                               value="No Review Needed">{{ _('No Review Needed') }}</v-btn>
                    </v-btn-toggle>

                </v-card-text>
            </v-card>
        </v-sheet>
    </v-card>
</v-dialog>
