<v-navigation-drawer
    v-model="userDrawer"
    location="right"
    temporary
    width="880"
    disable-route-watcher
>
    <v-card variant="flat">
       <user-card
            v-if="user && userDrawer"
            :closable="true"
            @close="userDrawer=false"
            @edit="editItem($event)"
            @reset-password="openForcePasswordResetDialog($event)"
            @revoke2fa="openRevoke2FADialog($event)"
            @logout-all="openLogoutAllUserSessionsDialog($event)"
            @change-password="openChangePasswordDialog($event)"
            :user="user"
        ></user-card>
    </v-card>

</v-navigation-drawer>