<v-navigation-drawer
    v-model="userDrawer"
    location="right"
    temporary
    width="880"
    disable-route-watcher
>
    <v-card variant="flat">
       <user-card
            v-if="user && userDrawer"
            :closable="true"
            @close="userDrawer=false"
            @edit="editItem"
            @reset-password="forcePassReset"
            @revoke2fa="revoke2fa"
            @logout-all="logoutAllUserSessions"
            @change-password="openChangePasswordDialog($event)"
            :user="user"
        ></user-card>
    </v-card>

</v-navigation-drawer>