<v-dialog persistent v-model="videoDialog"
    v-bind="leftDialogProps"
>
    <v-card>
        <v-toolbar>
            <v-spacer></v-spacer>
            <v-btn

                    v-if="close"
                    @click="closeMediaDialog"
                    icon="mdi-close"
                    variant="text"
            ></v-btn>
        </v-toolbar>


        <v-card-text id="pp" class="mt-3 pt-2">

            <div ref="playerContainer"></div>

            <v-sheet color="grey-lighten-3" class="justify-center px-2 ga-2 d-flex">
                <v-tooltip location="bottom">
                    <template v-slot:activator="{ props }">

                        <v-btn icon="mdi-camera" :="props" @click="snapshot" variant="flat" class="ma-1">
                        </v-btn>
                    </template>
                    <span>{{ _('Take Snapshot') }}</span>
                </v-tooltip>


                <v-tooltip location="bottom">
                    <template #activator="{ props }">
                        <v-btn icon="mdi-crop-square" :="props" variant="flat" @click="crop" class="ma-1">
                        </v-btn>
                    </template>
                    <span>{{ _('Crop Image') }}</span>
                </v-tooltip>


            </v-sheet>

            <div class="crop" v-show="cropper.active">
                <v-btn @click="attachCrop" icon="mdi-crop"></v-btn>
            </div>

            <div id="screenshots">

                <v-card v-if="screenshots?.length>0" :color="media.error? 'red': ''"
                        style="width: clamp(200px, 50%, 300px);"
                        v-for="(media, index) in screenshots" :key="index"
                        class="sc-wrap" v-if="!media.deleted">
                    <canvas :class="'screenshot canvas'+index " :width="media.width" :height="media.height"
                            crossOrigin="anonymous"></canvas>

                    <div class="d-flex">
                        <v-text-field
                                v-model="screenshots[index].title"
                                v-if="media.sw"
                                label="{{ _('Title') }}"
                        ></v-text-field>


                        <v-text-field
                                v-else
                                v-model="screenshots[index].title_ar"
                                label="{{ _('Title (AR)') }}"
                                background-color="lime lighten-5"
                        ></v-text-field>

                        <v-btn
                                color="grey lighten-2"
                                icon="mdi-web"
                                variant="plain"
                                class="swh d-inline"
                                @click="media.sw = !media.sw"
                        >

                        </v-btn
                        >
                    </div>


                    <!-- category -->

                    <search-field
                            api="/admin/api/mediacategories"
                            v-model="screenshots[index].category"
                            label="{{ _('Media Category') }}"
                            item-title="title"
                            item-value="id"
                    >

                    </search-field>

                    <v-sheet class="d-flex ga-2 justify-center">
                    <v-btn icon="mdi-close"
                           v-if="!screenshots[index].ready"
                           @click="removeSnapshot($event,index)"
                           variant="text"
                           size="x-small"
                           color="error">

                    </v-btn>
                    <v-btn icon="mdi-upload" v-if="!screenshots[index].ready" @click="uploadSnapshot($event,index)"
                           size="x-small"
                           variant="text"
                           color="primary">

                    </v-btn>
                    <v-icon v-if="screenshots[index].ready" color="success">mdi-check-circle</v-icon>
                        </v-sheet>

                    <v-overlay
                            :model-value="screenshots[index].overlay"
                            absolute
                    >
                    </v-overlay>
                </v-card>

            </div>
        </v-card-text>
        <v-card-actions class="pa-3">
            <v-spacer></v-spacer>
            <v-btn prepend-icon="mdi-link" variant="elevated" @click="attachSnapshots"
                   color="primary">{{ _('Attach Media') }}</v-btn>
            <v-spacer></v-spacer>
        </v-card-actions>
    </v-card>
</v-dialog>
