<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SJAC Bayanat V1.0 </title>
    <meta name="description" content="Bayanat V1" />
    <meta name="author" content="SJAC" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="stylesheet" href="/static/css/vuetify.min.css" />


    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico" />
    {% block css %}{% endblock %}
  </head>

  <body>
    {% block content %} {% endblock %}



    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/vuetify.min.js"></script>
    <script src="/static/js/vue-router.min.js"></script>
    <script src="/static/js/axios.min.js"></script>

    {% block js %}{% endblock %}



  </body>
</html>
