{% extends 'login-layout.html' %}

{% block content %}
<v-card>
    <v-card-title>
        Change Password
    </v-card-title>
    <v-card-text>

        <form action="" method="post">


            <v-text-field label="{{ _('Old Password')}}" required type="password" name="oldpass"></v-text-field>


            <v-text-field label="{{ _('New Password')}}" id="password" minlength="8" required name="password"
                          type="password"></v-text-field>


            <v-text-field label="{{ _('Confirm Password')}}" id="confirm_password" required name="confirm_password"
                          type="password"></v-text-field>

            <v-btn type="submit" depressed color="primary">Save</v-btn>

        </form>

    </v-card-text>
<v-card-text>
     {%- with messages = get_flashed_messages(with_categories=False) -%}
  {% if messages %}

    {% for  message in messages %}
      <v-alert type="error">{{ message }}</v-alert>
    {% endfor %}

  {% endif %}
{%- endwith %}
</v-card-text>
</v-card>

{% endblock %}
{% block js %}
<script>
    const app = new Vue({
        el: '#app',
        vuetify: vuetify,
        data: {
            activeTab: null
        }
    })
</script>
{% endblock %}

