{% extends 'layout.html' %}

{% block content %}

    <v-main class="ma-6" style="height: 100lvh">
        <v-container fluid>
            <v-card class="pa-2" >


                <v-card-title>
                    {{ _('Welcome') }}, {{ g.user.username }}!

                    <v-spacer></v-spacer>
                    {% include "security/_messages.html" %}
                </v-card-title>

                {% if g.user.last_login_at %}
                <v-card-subtitle>
                    <p>{{ _('Last login') }} — {{ g.user.last_login_at.strftime('%b %d, %Y') }}</p>
                </v-card-subtitle>
                {% endif %}        
                
                {% if current_user.has_role('Admin') and config.ETL_PATH_IMPORT %}
                <v-card-text>
                    <v-icon>mdi-alert</v-icon>
                    {{ _('Warning: Media Import\'s path processing is enabled!') }}
                </v-card-text>
                {% endif %}
        <v-spacer style="min-height: 65lvh" ></v-spacer>
            <v-card-text >
                <p>&copy; 2024 <a href="https://syriaaccountability.org/" target="_blank">{{ _('Syria Justice &amp;
                    Accountability Center (SJAC) ') }}</a> {{ _('All rights reserved.') }}</p>
                <p><a href="https://bayanat.org/" target="_blank">{{ _('Bayanat ') }}</a> {{ _('is an open source project by SJAC released under the GNU Affero General Public License (AGPL).') }}</p>
            </v-card-text>

            </v-card>

        </v-container>

    </v-main>

{% endblock %}

{% block js %}
    <script type="module">
        const {createApp} = Vue;
        const {createVuetify} = Vuetify;

        const vuetify = createVuetify(vuetifyConfig);

        const app = createApp({

            mixins: [globalMixin],

            data() {
                return {
                    drawer: drawer,
                };
            },

            methods: {},

            delimiters: delimiters
        });
        
        app.use(vuetify).mount('#app');
    </script>
{% endblock %}