{% extends 'data-entry-layout.html' %} {% block content %}

<v-main class="">
  <v-container fluid>
    <v-card class="pa-2 overflow-y-auto d-flex flex-column" height="calc(100vh - 96px)">
      <v-card-title>
        {{ _('Welcome') }}, {{ g.user.username }}!

        <v-spacer></v-spacer>
        {% include "security/_messages.html" %}
      </v-card-title>

      {% if g.user.last_login_at %}
      <v-card-subtitle>
        <p>{{ _('Last login') }} — {{ g.user.last_login_at.strftime('%b %d, %Y') }}</p>
      </v-card-subtitle>
      {% endif %}

      <v-card-text>
        <div class="text-h6 mb-5">{{ _('Start New Entry for') }}:</div>

        <div class="d-flex flex-wrap ga-5">
          <v-btn v-for="(entity, index) in ['Actor', 'Bulletin', 'Incident']" :key="index" :disabled="entity !== 'Actor'" height="128" width="256" variant="tonal" elevation="2" class="d-flex align-center justify-center">
            ${entity}
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</v-main>

{% endblock %} {% block js %}
<script type="module">
  const {createApp} = Vue;
  const {createVuetify} = Vuetify;

  const vuetify = createVuetify(vuetifyConfig);

  const app = createApp({
      delimiters: ['${', '}'],
      mixins: [globalMixin],
      data: () => ({
          drawer: false,
      }),
      methods: {},
  });

  app.use(vuetify).mount('#app');
</script>
{% endblock %}
