<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ _('Bayanat') }}</title>
    <meta name="description" content="{{ _('Bayanat | A Data Management Solution by SJAC') }}"/>
    <meta name="author" content="{{ _('Syria Justice and Accountability Center') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/static/css/vuetify.min.css"/>

    <link rel="stylesheet" href="/static/css/data-entry-dashboard.css"/>

    <!-- favicon -->

    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" crossorigin="use-credentials" href="/static/img/favicon/manifest.json">
    <meta name="msapplication-TileImage" content="/static/img/favicon/ms-icon-144x144.png">

    {% block head_js %} {% endblock %}
    {% block css %}{% endblock %}
</head>

<body>

<div id="app" class="justify-center full-height align-center min-vh-100">
    <v-app v-cloak class="h-screen">
            {% block nav %}
                {% if current_user.is_authenticated %}
                    {% with hideDrawerIcon=True %}
                        {% include 'nav-bar.html' %}
                    {% endwith %}
                    {% include 'settings_drawer.html' %}
                    {% include 'notifications_drawer.html' %}
                    {% include 'notifications_dialog.html' %}
                    {% include 'important_notifications_dialog.html' %}
                {% endif %}
            {% endblock %}
            {% block content %}
            {% endblock %}

        <v-snackbar v-model="snackbar" multi-line>

                <span v-html="snackMessage"></span>

            <template #actions>
                <v-btn icon="mdi-close" variant="text" @click="snackbar = false"></v-btn>

            </template>
        </v-snackbar>

        {% include 'login_dialog.html' %}
        {% include 'reauth_dialog.html' %}
    </v-app>

</div>

{% block outside %}

{% endblock %}
{% set messages = get_flashed_messages() %}
{% if current_user.is_authenticated %}
    <div
        class="d-none"
        data-settings='{{ current_user.settings|tojson if current_user.settings else '{}' }}'
        data-username="{{ current_user.username|escape }}"
    ></div>
{% else %}
    <div class="d-none" data-settings='{}' data-username=""></div>
{% endif %}
<div class="d-none" data-lang='{{ session.get('lang','en') }}'></div>
<div class="d-none" data-maps-api-endpoint='{{ config.MAPS_API_ENDPOINT }}'></div>
<div class="d-none" data-app-version='{{ config.VERSION }}'></div>
<script>
    const userMetaEl = document.querySelector('[data-settings]');
    window.__settings__ = JSON.parse(userMetaEl?.dataset.settings ?? '{}');
    window.__username__ = userMetaEl?.dataset.username ?? '';
    window.__is_admin__ = {{ (current_user.is_authenticated and current_user.has_role('Admin'))|tojson }};
    window.__lang__ = document.querySelector('[data-lang]').dataset.lang;
    window.__MAPS_API_ENDPOINT__ = document.querySelector('[data-maps-api-endpoint]').dataset.mapsApiEndpoint;
    window.__app_version__ = document.querySelector('[data-app-version]')?.dataset.appVersion ?? '';
</script>


{% if config.DEBUG %}
<script src="/static/js/vue.global.js" defer></script>
{% else  %}
<script src="/static/js/vue.global.prod.js" defer></script>
{% endif  %}
<script src="/static/js/vuetify.min.js" defer></script>
<script src="/static/js/vue-router.global.prod.min.js" defer></script>
<script src="/static/js/axios.min.js" defer></script>
<script src="/static/js/dayjs/dayjs.min.js" defer></script>
<script>
    {%  include 'admin/jsapi.jinja2' %}
</script>
<script src="/static/js/components/NotificationsList.js" defer></script>
<script src="/static/js/common/data-entry-config.js" defer></script>
<script src="/static/js/mixins/reauth-mixin.js" defer></script>
<script src="/static/js/mixins/notification-mixin.js" defer></script>
<script src="/static/js/mixins/global-mixin.js" defer></script>

<script>
window.addEventListener('load', () => {
    console.log('Page fully loaded, now loading Leaflet async');

    // Load CSS asynchronously
    const loadCss = (href) => {
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = href;
        document.head.appendChild(link);
    };

    [
        '/static/font/mdi/css/materialdesignicons.min.css',
        '/static/css/leaflet.css',
        '/static/css/MarkerCluster.css',
        '/static/css/MarkerCluster.Default.css',
        '/static/css/Leaflet.PolylineMeasure.css',
        '/static/leaflet-fullscreen/leaflet.fullscreen.css'
    ].forEach(loadCss);

    // Helper to load scripts asynchronously
    const loadScript = (src, onLoad) => {
        const s = document.createElement('script');
        s.src = src;
        s.async = true; // async to not block
        s.onload = onLoad;
        document.body.appendChild(s);
    };

    // Load Leaflet first
    loadScript('/static/js/leaflet.js', () => {
        console.log('Leaflet loaded');

        // Load plugins in parallel now that Leaflet is ready
        [
            '/static/js/leaflet.js',
            '/static/js/vue2-leaflet.min.js',
            '/static/leaflet-fullscreen/leaflet.fullscreen.min.js',
            '/static/js/leaflet.markercluster.js',
            '/static/js/leaflet.curve.min.js',
            '/static/js/leaflet.rotatedmarker.min.js',
            '/static/js/Leaflet.PolylineMeasure.js',
            '/static/js/Leaflet.GoogleMutant.js'
        ].forEach(src => loadScript(src));
    });
});
</script>

{% block js %}{% endblock %}

</body>
</html>
