{% extends 'layout.html' %}
{% block  css %}
<meta http-equiv="Content-Security-Policy" content="frame-ancestors 'https://podio.com'">


{% endblock  %}

{% block content %}

<v-app id="app" v-cloak>
    {% include 'nav-drawer.html' %}
    {% include 'nav-bar.html' %}
       <v-content>
            <v-container fluid fill-height>
                <v-layout align-top justify-center>
                    <v-container grid-list-sm>
                        <v-container>
                            <v-row>
                                <v-col cols="12">

                                    <v-card>
                                          
                                            <v-card-text>
                                               <!-- BEGIN Podio web form -->
<script src="https://podio.com/webforms/24455582/1786445.js"></script>
<script type="text/javascript">
  _podioWebForm.render("1786445")
</script>
<noscript>
  <a href="https://podio.com/webforms/24455582/1786445" target="_blank">Please fill out the form</a>
</noscript>
  <div class="podio-webform-container">
  A webform by <a href="https://podio.com" class="podio-webform-inner" rel="nofollow">Podio</a>
  </div>
<!-- END Podio web form -->




                                            </v-card-text>

                                            
                                    </v-card>
                                    

                                </v-col>
                            </v-row>
                        </v-container>
                        </v-form>

                    </v-container>


                </v-layout>
            </v-container>
        </v-content>
</v-app>
{% endblock  %}

{% block js %}
<script>
    new Vue({
        el: '#app',
        vuetify: vuetify,
        delimiters: delimiters,
        

    

        methods: {

        },


        data: () => ({
            search: '',
            dialog: dialog,
            drawer: drawer,
            sideNav : sideNav

        }),


    })
</script>
{% endblock %}