<v-dialog
    v-model="notifications.ui.importantDialogVisible"
    :width="800"
    persistent
>
    <v-card variant="flat">
        <v-toolbar class="position-sticky top-0" style="z-index: 2;" border flat title="{{ _('Important notifications') }}"></v-toolbar>

        <v-card-text class="flex-grow-1 overflow-y-auto">
            <notifications-list v-if="notifications.ui.importantDialogVisible" :config="{ hideMarkAsReadButton: true, hideScrollFeedback: true, maxTitleLines: false, maxSubtitleLines: false }" :notifications="notifications.importantItems" :load-error="notifications.status.loadError" />
        </v-card-text>

        <v-card-actions class="bg-surface border-t position-sticky bottom-0">
            <v-spacer></v-spacer>
        
            <v-btn :disabled="notifications.status.markingImportantAsRead" :loading="notifications.status.markingImportantAsRead" variant="flat" color="primary" @click="markAsReadImportantNotifications()">
                Mark as read
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>