<v-dialog
    v-model="notifications.ui.importantDialogVisible"
    :width="800"
    persistent
    :style="{ zIndex: 3001 }"
>
    <v-card variant="flat">
        <v-toolbar class="position-sticky top-0" style="z-index: 2;" flat title="{{ _('Important System Notice') }}"></v-toolbar>

        <v-card-text class="flex-grow-1 overflow-y-auto pa-0">
            <notifications-list :config="{ hideMarkAsReadButton: true, hideScrollFeedback: true, maxTitleLines: false, maxSubtitleLines: false }" :notifications="notifications.importantItems" :load-error="notifications.status.loadError" />
        </v-card-text>

        <v-card-actions class="position-sticky bottom-0">
            <v-spacer></v-spacer>
        
            <v-btn :disabled="notifications.status.markingImportantAsRead" :loading="notifications.status.markingImportantAsRead" variant="flat" @click="markAsReadImportantNotifications()"
                class="text-medium-emphasis font-weight-medium"
            >
                {{ _('Review Later') }}
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>