<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ _('Bayanat') }}</title>
    <meta name="description" content="{{ _('Bayanat | A Data Management Solution by SJAC') }}"/>
    <meta name="author" content="{{ _('Syria Justice and Accountability Center') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/static/css/vuetify.min.css"/>

    <link rel="stylesheet" href="/static/js/jsondiffpatch/formatters/styles/html.css">
    <link rel="stylesheet" href="/static/css/app.css"/>
    <link rel="stylesheet" href="/static/font/mdi/css/materialdesignicons.css"/>
    <link rel="stylesheet" href="/static/css/leaflet.css">
    <link rel="stylesheet" href="/static/css/MarkerCluster.css">
    <link rel="stylesheet" href="/static/css/MarkerCluster.Default.css">
    <link rel="stylesheet" href="/static/css/Leaflet.PolylineMeasure.css">
    <link rel="stylesheet" href="/static/leaflet-fullscreen/leaflet.fullscreen.css">


    <!-- favicon -->

    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" crossorigin="use-credentials" href="/static/img/favicon/manifest.json">
    <meta name="msapplication-TileImage" content="/static/img/favicon/ms-icon-144x144.png">

    {% block head_js %} {% endblock %}
    {% block css %}{% endblock %}
</head>

<body>

<div id="app" class="justify-center full-height align-center min-vh-100">
    <v-app v-cloak class="h-screen">
            {% block nav %}
                {% if current_user.is_authenticated %}
                    {% include 'nav-bar.html' %}
                    {% include 'nav-drawer.html' %}
                    {% include 'settings_drawer.html' %}
                    {% include 'notifications_drawer.html' %}
                    {% include 'notifications_dialog.html' %}
                    {% include 'important_notifications_dialog.html' %}
                {% endif %}
            {% endblock %}
            {% block content %}
            {% endblock %}

        <v-snackbar v-model="snackbar" multi-line>
                <span v-html="snackMessage"></span>
            <template #actions>
                <v-btn icon="mdi-close" variant="text" @click="snackbar = false"></v-btn>
            </template>
        </v-snackbar>

        {% include 'login_dialog.html' %}
        {% include 'reauth_dialog.html' %}
    </v-app>
    
    <confirm-dialog ref="confirmDialog"></confirm-dialog>
    <toast ref="toast"></toast>
</div>

{% block outside %}

{% endblock %}
{% set messages = get_flashed_messages() %}
{% if current_user.is_authenticated %}
    <div
        class="d-none"
        data-settings='{{ current_user.settings|tojson if current_user.settings else '{}' }}'
        data-username="{{ current_user.username|escape }}"
    ></div>
{% else %}
    <div class="d-none" data-settings='{}' data-username=""></div>
{% endif %}
<div class="d-none" data-lang='{{ session.get('lang','en') }}'></div>
<div class="d-none" data-maps-api-endpoint='{{ config.MAPS_API_ENDPOINT }}'></div>
<script nonce="{{ csp_nonce() }}">
    window.__username__ = document.querySelector('[data-username]').dataset.username;
    window.__settings__ = JSON.parse(document.querySelector('[data-settings]').dataset.settings);
    window.__lang__ = document.querySelector('[data-lang]').dataset.lang;
    window.__MAPS_API_ENDPOINT__ = document.querySelector('[data-maps-api-endpoint]').dataset.mapsApiEndpoint;
</script>


{% if config.DEBUG %}
<script src="/static/js/vue.global.js"></script>
{% else  %}
<script src="/static/js/vue.global.prod.js"></script>
{% endif  %}
<script src="/static/js/vuetify.min.js"></script>
<script src="/static/js/vue-router.global.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/dayjs-with-plugins.min.js"></script>
<script src="/static/js/leaflet.js"></script>
<script src="/static/js/vue2-leaflet.min.js"></script>
<script src="/static/leaflet-fullscreen/leaflet.fullscreen.min.js"></script>
<script src="/static/js/leaflet.markercluster.js"></script>
<script src="/static/js/leaflet.curve.min.js"></script>
<script src="/static/js/leaflet.rotatedmarker.min.js"></script>
<script src="/static/js/Leaflet.PolylineMeasure.js"></script>
<script src="/static/js/Leaflet.GoogleMutant.js"></script>
<script src="/static/js/date_fns.min.js"></script>

<script nonce="{{ csp_nonce() }}">
    {%  include 'admin/jsapi.jinja2' %}
</script>
<script src="/static/js/components/NotificationsList.js"></script>
<script src="/static/js/components/ConfirmDialog.js"></script>
<script src="/static/js/components/Toast.js"></script>
<script src="/static/js/common/config.js"></script>
<script src="/static/js/mixins/reauth-mixin.js"></script>
<script src="/static/js/mixins/notification-mixin.js"></script>
<script src="/static/js/mixins/global-mixin.js"></script>

{% block js %}{% endblock %}

</body>
</html>
