<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SJAC Bayanat </title>
    <meta name="description" content="Bayanat | A Data Management Solution by SJAC" />
    <meta name="author" content="SJAC" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="stylesheet" href="/static/css/vuetify.min.css?v={{g.version}}" />
    <link rel="stylesheet" href="/static/css/iv-viewer.min.css?v={{g.version}}" />
    <link rel="stylesheet" href="/static/js/videojs/video-js.min.css?v={{g.version}}" />
    <link rel="stylesheet" href="/static/js/videojs/video.css?v={{g.version}}" />
    <link rel="stylesheet" href="/static/js/jsondiffpatch/formatters-styles/html.css">
    <link rel="stylesheet" href="/static/css/app.css?v={{g.version}}" />
    <link rel="stylesheet" href="/static/font/mdi/css/materialdesignicons.css?v={{g.version}}" />
    <link rel="stylesheet" href="/static/js/croppr/croppr.min.css" />
    <link rel="stylesheet" href="/static/css/VueQueryBuilder.css">
  <link rel="stylesheet" href="/static/css/leaflet.css">
      <link rel="stylesheet" href="/static/leaflet-fullscreen/leaflet.fullscreen.css">


<!-- favicon -->

      <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
<link rel="manifest" crossorigin="use-credentials" href="/static/img/favicon/manifest.json">
<meta name="msapplication-TileImage" content="/static/img/favicon/ms-icon-144x144.png">


    {% block css %}{% endblock %}
  </head>

  <body>

    {% block content %} {% endblock %}
    {% set messages = get_flashed_messages() %}
    <script>
      {% set settings = current_user.settings or {} %}
      window.__settings__ = JSON.parse('{{settings|tojson|safe }}');
      window.__lang__ = "{{session.get('lang')}}";
      window.__MAPS_API_ENDPOINT__ = '{{config.MAPS_API_ENDPOINT}}';

    </script>




    <script src="/static/js/vue.min.js?v={{g.version}}"></script>
    <script src="/static/js/vuetify.min.js?v={{g.version}}"></script>
    <script src="/static/js/vue-router.min.js"></script>
    <script src="/static/js/axios.min.js?v={{g.version}}"></script>
    <script src="/static/js/vee-validate.full.min.js?v={{g.version}}"></script>
    <script src="/static/js/iv-viewer.min.js?v={{g.version}}"></script>
    <script src="/static/js/leaflet.js?v={{g.version}}"></script>
    <script src="/static/js/vue2-leaflet.min.js?v={{g.version}}"></script>
    <script src="/static/leaflet-fullscreen/leaflet.fullscreen.min.js"></script>
    <script>
    {%  include 'admin/i18n.jinja2' %}
    
    </script>

    <script src="/static/js/common/config.js?v={{g.version}}"></script>

    {%if current_user.is_authenticated %}



    <script src="/static/js/videojs/video.min.js"></script>
    <script src="/static/js/croppr/croppr.min.js"></script>
    <script src="/static/js/date_fns.min.js"></script>
    <script src="/static/js/jsondiffpatch/jsondiffpatch.umd.slim.js"></script>
    <script src="/static/js/components/SearchField.js?v={{g.version}}"></script>
    <script src="/static/js/components/SearchFieldSingle.js?v={{g.version}}"></script>
    <script src="/static/js/components/PopDateField.js?v={{g.version}}"></script>
    <script src="/static/js/components/PopDateTimeField.js?v={{g.version}}"></script>
    <script src="/static/js/components/EventCard.js?v={{g.version}}"></script>
    <script src="/static/js/components/ActorCard.js?v={{g.version}}"></script>
    <script src="/static/js/components/BulletinCard.js?v={{g.version}}"></script>
    <script src="/static/js/components/IncidentCard.js?v={{g.version}}"></script>
    <script src="/static/js/components/RelateBulletins.js?v={{g.version}}"></script>
    <script src="/static/js/components/RelateActors.js?v={{g.version}}"></script>
    <script src="/static/js/components/RelateIncidents.js?v={{g.version}}"></script>
    <script src="/static/js/components/BulletinSearchBox.js?v={{g.version}}"></script>
    <script src="/static/js/components/ActorSearchBox.js?v={{g.version}}"></script>
    <script src="/static/js/components/IncidentSearchBox.js?v={{g.version}}"></script>
    <script src="/static/js/components/PreviewCard.js?v={{g.version}}"></script>
    <script src="/static/js/components/GeoMap.js?v={{g.version}}"></script>





    {% endif %}

    {% block js %}{% endblock %}




    <script type="text/javascript" src="/static/js/app.js?v={{g.version}}"></script>

  </body>
</html>
