<v-navigation-drawer
  v-model="drawer"
  :clipped="$vuetify.breakpoint.lgAndUp"
  app
  expand-on-hover
>
  <v-list dense>

    
      <v-list-item href="/admin/bulletins/" key="bulletins">
        <v-list-item-action>
          <v-icon>mdi-library-books</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Bulletins')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>


      <v-list-item href="/admin/actors/" key="actors">
        <v-list-item-action>
          <v-icon>mdi-account-multiple</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Actors')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>


      <v-list-item href="/admin/incidents/" key="incidents">
        <v-list-item-action>
          <v-icon>mdi-hazard-lights</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Incidents')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>


      {% if current_user.has_role('Admin') or current_user.has_role('Mod') %}

      <v-list-item href="/admin/locations/" key="locations">
        <v-list-item-action>
          <v-icon>mdi-folder-marker</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Locations')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>




      <v-list-item href="/admin/sources/" key="sources">
        <v-list-item-action>
          <v-icon>mdi-google-circles-extended</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Sources')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    


    
      <v-list-item href="/admin/labels/" key="labels">
        <v-list-item-action>
          <v-icon>mdi-label</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Labels')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    
    
      <v-list-item href="/admin/eventtypes/" key="eventtypes">
        <v-list-item-action>
          <v-icon>mdi-calendar-range</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Event Types')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      {% endif %}
    
      
      {% if current_user.has_role("Admin") %}
      <v-list-item href="/admin/activity/" key="users">
        <v-list-item-action>
          <v-icon>mdi-pulse</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Activity')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      



      <v-list-item href="/admin/users/" key="users">
        <v-list-item-action>
          <v-icon>mdi-account-multiple</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Users Management')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      


      <v-list-item href="/admin/roles/" key="roles">
        <v-list-item-action>
          <v-icon>mdi-shield-lock</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Groups & Permissions')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

         {%  if config.ETL_TOOL %}
         <v-list-item href="/admin/etl/" key="data-import">
        <v-list-item-action>
          <v-icon>mdi-database-import</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Data Import')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
             {%  endif %}
      {% endif %}      


       {%  if deduplication %}
       {% if current_user.has_role('Admin') or current_user.has_role('Mod') %}
         <v-list-item href="/deduplication/dashboard/" key="deduplication">
        <v-list-item-action>
          <v-icon>mdi-link-variant-plus</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Deduplication Dashbaord')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
             {%  endif %}

      {% endif %}

       <v-list-item href="/settings/" key="settings">
        <v-list-item-action>
          <v-icon>mdi-settings</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
              {{_('Settings')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

          </v-list>
    

</v-navigation-drawer>
