{% extends 'layout.html' %}

{% block content %}

    <v-app id="app" v-cloak>
        {% include 'nav-drawer.html' %}
        {% include 'nav-bar.html' %}
        <v-main>
            <v-container class="container--fluid">

                <v-row>
                    <v-col cols="12">

                        <v-card>
                            <v-card-title>
                                {{ _('Settings') }}
                            </v-card-title>
                            <v-divider></v-divider>
                            <v-card-text class="d-flex">
                                <v-card outlined class="ma-2">
                                    <v-card-title>{{ _('User Interface') }}</v-card-title>
                                    <v-card-text>
                                        <v-switch v-model="settings.dark" @change="saveSettings"
                                                  label="{{ _('Dark Mode') }}"></v-switch>
                                    </v-card-text>

                                </v-card>
                                <v-card outlined class="ma-2">
                                    <v-card-title>{{ _('Interface Language') }}</v-card-title>
                                    <v-card-text>

                                        <v-select v-model="settings.language" @change="saveSettings"
                                                  :items="languages"></v-select>
                                    </v-card-text>

                                </v-card>
                                <v-card outlined class="ma-2">
                                    <v-card-title>{{ _('Profile Settings') }}</v-card-title>
                                    <v-card-text>
                                        <v-btn href="/change-password/">{{ _('Change Password') }}</v-btn>
                                    </v-card-text>

                                </v-card>

                                <v-card outlined class="ma-2">
                                    <v-card-title>{{ _('Security') }}</v-card-title>
                                    <v-card-text>
                                        <v-btn href="/tf-setup">{{ _('Setup Two-Factor Auth') }}</v-btn>
                                    </v-card-text>

                                </v-card>


                            </v-card-text>


                             <v-snackbar v-model="snackbar">
                                ${snackMessage}
                                <v-btn color="secondary" text @click="snackbar = false">
                                    Close
                                </v-btn>
                            </v-snackbar>

                        </v-card>


                    </v-col>


                </v-row>
            </v-container>

        </v-main>
        {% include 'footer.html' %}
    </v-app>
{% endblock %}

{% block js %}
    <script>
        const app = new Vue({
            el: '#app',
            vuetify: vuetify,
            delimiters: delimiters,
            data: () => ({

                languages: {{ config.LANGUAGES|safe }},
                defaultLocale: '{{ config.BABEL_DEFAULT_LOCALE|safe }}' || 'en',
                apiBtnDisabled: false,
                genBtn: false,
                settings: {},
                search: '',
                dialog: dialog,
                drawer: drawer,
                sideNav: sideNav,
                snackbar: false,
                snackMessage: ''

            }),


            mounted() {
                this.loadSettings();
            },


            methods: {

                showSnack(msg) {
                    this.snackMessage = msg;
                    this.snackBar = true;
                },


                loadSettings() {
                    axios.get('/settings/load').then(res => {
                        this.settings = res.data;
                        if (!this.settings.language) {
                            this.settings.language = '{{ config.BABEL_DEFAULT_LOCALE|safe }}' || 'en';
                        }


                    })


                },
                  showSnack(message) {
                    this.snackMessage = message;
                    this.snackbar = true;
                },

                saveSettings() {
                    axios.put('/settings/save', {settings: this.settings}).then(res => {
                        this.showSnack(res.data);
                        this.$vuetify.theme.dark = this.settings.dark;
                        this.showSnack('Settings have been saved !')
                        setTimeout(()=>{
                            window.location.reload()
                        }, 1000)

                    }).catch(err => {
                        this.showSnack(err.body);
                    })

                },


            },


        })
    </script>
{% endblock %}