<v-navigation-drawer
        v-model="settingsDrawer"
        location="right"
        temporary
        width="300"
>

    <v-card variant="flat">
        <v-toolbar>
            <v-toolbar-title class="text-h6">
                {{ _('User Settings') }}
            </v-toolbar-title>
            <template #append>
                <v-btn icon="mdi-close" @click="settingsDrawer=false"></v-btn>
            </template>
        </v-toolbar>

        <v-divider></v-divider>

        <v-container class="pa-3">
            <v-label class="mb-2 ">
                {{ _('Theme') }}
            </v-label>

            <v-radio-group
                    v-model="settings.dark"
                    @update:model-value="saveSettings"
                    row
            >
                <v-radio
                        :value="0"
                        true-icon="mdi-check-circle"
                >
                    <template #label>
                        <v-icon class="mr-2">mdi-weather-sunny</v-icon>
                        {{ _('Light') }}
                    </template>

                </v-radio>
                <v-radio
                        :value="1"

                        true-icon="mdi-check-circle"
                >
                    <template #label>
                        <v-icon class="mr-2">mdi-weather-night</v-icon>
                        {{ _('Dark') }}
                    </template>

                </v-radio>
            </v-radio-group>

            <v-divider class="mb-4"></v-divider>

            <v-label class="mb-2 ml-2 ">
                {{ _('Security') }}
            </v-label>

            <v-list density="compact" nav>

                <v-list-item href="/change">{{ _('Change Password') }}</v-list-item>
                <v-list-item href="/tf-setup">{{ _('Setup Two-Factor Auth') }}</v-list-item>
                <v-list-item href="/mf-recovery-codes">{{ _('Recovery Codes') }}</v-list-item>

                {% if config.SECURITY_WEBAUTHN %}
                    <v-list-item href="/wan-register">{{ _('Setup a Security Key') }}</v-list-item>
                {% endif %}

            </v-list>

        </v-container>
    </v-card>
</v-navigation-drawer>