.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  content: "";
  background-image: url('../../img/play-w.svg');
  background-repeat: no-repeat;
  background-size: 46px;
  background-position: 55% calc(50% - 0px);
  border: none !important;
  box-shadow: none !important;
  opacity: 0.7;
}


.video-js .vjs-big-play-button, .video-js .vjs-big-play-button:hover, .video-js .vjs-big-play-button:focus {
  background-color: transparent;
  
  border: none;
}


.video-js .vjs-big-play-button:focus, .video-js:hover .vjs-big-play-button {
background: none;
}

 .video-js:hover .vjs-big-play-button:before {
  opacity: 1;
}