name: pip-audit

on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches:
      - main
      - stable
    paths:
      - requirements/requirements.txt
  schedule:
    - cron: 19 20 * * *

jobs:
  selftest:
    name: pip-audit
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: exiftool
        run: |
          sudo apt install libimage-exiftool-perl
      - uses: pypa/gh-action-pip-audit@v1.0.8
        with:
          inputs: requirements/requirements.txt requirements/requirements-dev.txt requirements/requirements-opt.txt
