name: "Security: Python"
permissions:
  contents: read

on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches:
      - main
      - stable
    paths:
      - pyproject.toml
      - uv.lock
  schedule:
    - cron: "19 20 * * *"

jobs:
  pip-audit:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libimage-exiftool-perl libxml2-dev libxslt1-dev libgeos-dev
      - name: Install dependencies
        run: uv sync --extra dev
      - name: Run pip-audit
        run: uv run pip-audit .
