name: "Security: SAST"

on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches:
      - main
      - stable
    paths:
      - .github/workflows/semgrep.yml
  schedule:
    - cron: "18 18 * * *"

jobs:
  semgrep:
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v4
      - run: semgrep ci
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}